.x-modal-onsubmit {
  .modal-content {
    margin: 0 3rem;
    .modal-title {
      padding-top: 32px;
    }
    .x-spinner-loading {
      width: 125px;
      height: 125px;
      border: 1rem solid $neutral-10;
      border-right: 1rem solid $semantic-hover;
      --bs-spinner-animation-speed: 1s !important;
    }
    .x-success {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 125px;
      height: 125px;
      &.x-success-image {
        background-image: url($icon-post-success);
      }
      &.x-delete-image {
        background-image: url($icon-delete-success);
      }
      @include media-breakpoint-only(xs) {
        width: 94px;
        height: 94px;
      }
    }
  }
}
