.x-modallogin-component {
  .x-loginform-component {
    min-height: 0;
    background-color: $neutral-old-10;
    .x-card-form {
      margin: 0;
      box-shadow: none;
      padding: 20px;
    }
  }
}
