.x-postfeeds-modal {
  .modal-content {
    @include media-breakpoint-up(lg) {
      margin: 0 8rem;
    }
    @include media-breakpoint-only(md) {
      margin: 0;
    }
    .x-detail-wrapper {
      // padding-left: 12px;
      .x-select-form {
        @include text-sm-normal;
        cursor: pointer;
        padding: 2px 12px 2px 32px;
        background-color: $base-30;
        color: $neutral-60;
        border-radius: 4px;
        border: none;
        background-position: left 0.75rem center;
      }
    }
    .modal-body {
      padding: 0.3rem;
      .x-postcard-section {
        .x-postcard {
          padding-bottom: 12px;
        }
      }
      .x-input-description {
				&.x-input-post {
					height: 156px;
          textarea {
          	box-shadow: $shadow-5;
						&:focus {
							outline: 0;
							border-color: #86b7fe;
							-webkit-box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
							box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
						}
          }
				}
				&.x-input-reshare {
					height: 44px;
          margin: 12px 0 0;
          textarea {
            border: none;
						&:focus {
							outline: 0;
							border-color: none;
							box-shadow: none;
						}
          }
				}
        &__input {
          border-radius: 4px !important;
          overflow-y: auto !important;
          padding: 8px 12px;
          color: $neutral-100;
					transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
					-webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
					-moz-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
					-o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
					border: 1px solid $neutral-30;
					&:focus {
						outline: 0;
            box-shadow: none !important;
					}
          &::placeholder {
            color: $neutral-30;
          }
        }
        &__highlighter {
          max-height: 87px;
        }
        &__suggestions {
          width: 100%;
          height: 300px;
          overflow-y: scroll;
          top: 15px !important;
          max-height: 300px;
          background-color: $base-10;
          box-shadow: $shadow-2;
          border: none;
          border-radius: 8px;
        }
        .x-group-member {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 0.8rem 1.2rem;
          position: relative;
          &:hover {
            background: $primary-focus;
          }
          .x-image-account {
            width: 48px;
            height: 48px;
            border-radius: 100%;
            object-fit: cover;
          }
          .x-empty-image {
            background-color: $primary-pressed;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            border-radius: 100%;
          }
        }
      }
      .x-input-borderless {
        input {
          // padding: 10px 0;
          margin-top: 8px;
          &:focus {
            box-shadow: none !important;
          }
          border: none !important;
        }
      }
      .x-imageupload-row {
        padding: 0 0.5rem;
        // .col {
        //   position: relative;
        // }
        img {
          width: 100%;
          height: 158px;
          object-fit: cover;
          box-shadow: $shadow-1;
          background: $base-30;
          cursor: pointer;
          &.x-height-lg {
            height: 235px !important;
          }
          &.x-height-xl {
            height: 400px !important;
          }
          .x-countlimit-wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 100;
            top: 0;
            left: 0;
            cursor: pointer;
            .x-countlimit {
              width: calc(100% - 0.5rem);
              height: calc(100% - 0.5rem);
              background-color: $neutral-90;
              opacity: 0.5;
            }
          }
        }
      }
      .x-tag-wrapper {
        cursor: pointer;
        gap: 16px;
        display: flex;
        flex-wrap: wrap;
        // margin-bottom: 12px;
        .x-tag-label {
          background-color: $base-30;
          border-radius: 4px;
          p {
            padding: 4px 8px;
          }
        }
      }
    }
    .modal-footer {
      border-top: 1px solid $neutral-10;
			background-color: $neutral-old-10;
      input[type="file"] {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        -moz-opacity: 0;
        cursor: pointer;
        &#file-upload-button {
          cursor: pointer;
        }
      }
      padding-bottom: 0;
      .x-select-topic {
        @include text-lg-normal;
        cursor: pointer;
        padding: 0 4px;
        background-color: transparent;
        background-image: none;
        color: $semantic-main;
        border-radius: 4px;
        border: none;
        background-position: left 0.75rem center;
        &:focus {
          box-shadow: none !important;
        }
      }
    }
  }
}
.x-postfeeds-modalconfirmation {
  .modal-content {
    margin: 0 3rem;
    .modal-header {
      padding-bottom: 8px;
    }
  }
}
