.x-loginform-component {
  width: 100%;
  min-height: calc(100vh - 84px);
  background-color: $base-30;
  .x-password-recovery {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 12px;
    p {
      color: $body-50;
    }
  }
}
