.x-landing-featuredetail-wrapper {
  position: relative;
  @include media-breakpoint-down(lg) {
    margin: 64px 0;
  }
  .x-padding-top {
    @include media-breakpoint-up(xl) {
      padding-top: 200px;
    }
  }
  .x-rectangle-background {
    position: absolute;
    width: 195px;
    height: 360px;
    background: url($img-rectangle-background) center no-repeat;
    background-size: contain;
    top: 120px;
    left: 0;
    @include media-breakpoint-down(lg) {
      top: 40px;
      width: 125px;
      height: 250px;
    }
  }
  .x-landing-featuredetail {
    width: 100%;
    position: relative;
    @include media-breakpoint-down(md) {
      margin: 50px 0;
    }
    .row {
      margin: 0;
      @include media-breakpoint-down(sm) {
        flex-direction: column-reverse;
      }
    }
    &.x-reverse {
      .row {
        margin: 0;
        flex-direction: row-reverse;
        @include media-breakpoint-down(sm) {
          flex-direction: column-reverse;
        }
      }
    }
    .x-title-wrapper {
      border-left: 8px solid $neutral-old-80;
      display: flex;
      align-items: center;
      height: 64px;
      margin-bottom: 12px;
      @include media-breakpoint-down(lg) {
        height: 36px;
        border-width: 5px;
      }
      h1 {
        @include heading-xl-bolder;
        color: $primary-pressed;
        padding-left: 28px;
        margin: 0;
        @include media-breakpoint-down(lg) {
          @include heading-lg-bolder;
          padding-left: 16px;
        }
      }
    }
    h3 {
      @include heading-md-light;
      margin: 0;
      color: $neutral-70;
      @include media-breakpoint-down(lg) {
        @include text-md-normal;
      }
    }
    .x-background {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 100%;
      height: 685px;
      @include media-breakpoint-down(lg) {
        height: 350px;
      }
      &.x-background-event {
        background-image: url($img-landing-event);
      }
      &.x-background-community {
        background-image: url($img-landing-community);
      }
      &.x-background-learning {
        background-image: url($img-landing-learning);
      }
    }
  }
}
