.x-landing-features {
  background: url($img-landing-features) center no-repeat;
  background-size: cover;
  width: 100%;
  padding: 56px 56px 68px;
  display: flex;
  align-items: center;
  flex-direction: column;
  @include media-breakpoint-down(lg) {
    padding: 32px;
  }
  @include media-breakpoint-down(sm) {
    background: url($img-landing-features-mobile) center no-repeat;
    background-size: cover;
  }
  .x-feature-title {
    @include heading-xl-bolder;
    color: $neutral-old-10;
    @include media-breakpoint-down(lg) {
      @include heading-md-bolder;
    }
    @include media-breakpoint-down(sm) {
      @include heading-md-bolder;
      text-align: center;
    }
  }
  .container {
    .row {
      padding: 0 56px;
      display: flex;
      justify-content: space-between;
      margin: 0;
      width: 100%;
      flex-wrap: nowrap;
      @include media-breakpoint-down(md) {
        padding: 0 !important;
      }
      @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
      }
    }
    .x-feature-wrapper {
      margin: 52px 0;
      width: 350px;
      @include media-breakpoint-down(lg) {
        width: 225px;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        margin: 18px 0;
      }
    }
    @include media-breakpoint-down(sm) {
      margin: 0;
      padding: 0;
    }
    .x-feature-detail-title {
      @include heading-lg-bolder;
      margin: 0;
      color: $neutral-old-10;
      @include media-breakpoint-down(lg) {
        @include heading-md-bolder;
      }
    }
    .x-feature-detail {
      @include heading-md-normal;
      margin: 0;
      color: $neutral-old-10;
      width: 310px;
      @include media-breakpoint-down(lg) {
        @include text-sm-bold;
        width: 185px;
        line-height: 22px;
      }
    }
  }
  .x-circle {
    border-radius: 100%;
    background-color: $semantic-warning-focus;
    margin-right: 16px;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.x-circle-lg {
      width: 20px;
      height: 20px;
      margin-top: 4px;
      @include media-breakpoint-down(lg) {
        width: 12px;
        height: 12px;
        margin-right: 12px;
      }
    }
    &.x-circle-sm {
      width: 18px;
      height: 18px;
      margin-top: 6px;
      @include media-breakpoint-down(lg) {
        width: 10px;
        height: 10px;
        margin-right: 16px;
        span {
          font-size: 8px;
        }
      }
    }
    span {
      color: $semantic-warning-main;
      font-size: 14px;
    }
  }
}
