.x-landing-footer {
  width: 100%;
  background-color: #0c2846;
  padding: 96px 0 48px;
  .x-logo {
    background: url($img-logo-eventeer-white) center no-repeat;
    background-size: contain;
    width: 265px;
    height: 48px;
    margin-bottom: 37px;
    + p {
      // width: 355px;
      margin-bottom: 48px;
    }
  }
  .x-download-wrapper {
    display: flex;
    gap: 16px;
    .x-img-download {
      width: 170px;
      height: 67px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      &.x-img-playstore {
        background-image: url($img-download-playstore);
      }
      &.x-img-appstore {
        background-image: url($img-download-apple);
      }
      // @include media-breakpoint-down(lg) {
      //   width: 90px;
      //   height: 35px;
      // }
      // @include media-breakpoint-down(sm) {
      //   width: 157px;
      //   height: 62px;
      // }
    }
  }
  .x-divider {
    width: 100%;
    height: 1px;
    background: #396492;
  }
}
