.x-landing-introduction {
  position: relative;
  height: 740px;
  width: 100%;
  @include media-breakpoint-down(lg) {
    height: fit-content;
    padding: 90px 0 10px;
  }
  @include media-breakpoint-down(md) {
    height: fit-content;
    padding: 115px 0px 15px;
  }
  .x-background {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    z-index: -10;
    display: flex;
    .x-layer-first {
      background-color: $primary-surface;
      width: 60%;
      height: 100%;
    }
    .x-layer-second {
      background-color: $semantic-surface;
      opacity: 0.5;
      width: 20%;
      height: 100%;
    }
    .x-layer-third {
      background-color: $neutral-old-80;
      opacity: 0.15;
      width: 20%;
      height: 100%;
    }
  }
  .x-button-trial {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-main;
    width: fit-content;
    height: 56px;
    margin-top: 36px;
    @include heading-md-normal;
    @include media-breakpoint-down(lg) {
      @include text-lg-bold;
      width: 100%;
      height: 50px;
    }
    span {
      font-size: 20px;
      padding-left: 8px;
    }
  }
  .x-description {
    width: 511px;
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
    .x-description-title {
      color: $primary-pressed;
      @include media-breakpoint-up(lg) {
        @include heading-xl-bolder;
        font-size: 56px;
        line-height: 65px;
      }
      @include media-breakpoint-down(lg) {
        @include heading-md-bolder;
      }
    }
    .x-description-subtitle {
      color: $neutral-60;
      margin: 24px 0;
      @include media-breakpoint-up(lg) {
        @include heading-md-light;
      }
      @include media-breakpoint-down(lg) {
        @include text-lg-normal;
      }
    }
  }
  .x-introduction-image {
    display: none;
    background: url($img-landing-introduction) center no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    @include media-breakpoint-down(lg) {
      display: block;
      height: 100%;
    }
    @include media-breakpoint-down(lg) {
      display: block;
      height: 310px;
    }
  }
  .x-introduction-image-desktop {
    background: url($img-landing-introduction-desktop) center no-repeat;
    background-size: contain;
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 100px;
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}
