.x-landing-navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: $base-20;
  box-shadow: $shadow-2;
  img {
    width: 156px;
    height: 28px;
    cursor: pointer;
    object-fit: contain;
    margin-right: 8px;
    @include media-breakpoint-down(lg) {
      width: 120px;
      height: 21px;
    }
  }
  .x-menu {
    display: flex;
    align-items: center;
    height: 84px;
    gap: 28px;
    @include media-breakpoint-down(lg) {
      height: 68px;
    }
    .dropdown {
      .x-dropdown {
        color: $neutral-50;
        display: flex;
        align-items: center;
        &::after {
          display: none;
        }
        .material-icons-round {
          font-size: 16px;
          font-weight: bolder;
          color: $neutral-70;
        }
      }
      .dropdown-menu.show {
        border: none;
        box-shadow: $shadow-2;
        border-radius: 12px;
        .dropdown-item {
          @include text-lg-light;
          color: $primary-pressed;
          &:hover {
            background-color: $semantic-surface;
          }
        }
      }
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
    .btn-link {
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }
  .x-action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    button {
      border-radius: 8px;
      &.btn-link {
        width: 105px !important;
      }
      &.btn-primary {
        width: 130px;
      }
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
    span {
      font-size: 26px;
      color: $neutral-old-80;
      @include user-select-none;
      padding-right: 8px;
      @include media-breakpoint-up(lg) {
        display: none;
      }
      @include media-breakpoint-down(lg) {
        display: block;
      }
    }
  }
}
.x-modal-login {
  .modal-content {
    padding: 1.5rem;
    margin: 0 7rem;
    @include media-breakpoint-down(md) {
      margin: 0 2rem;
    }
    border-radius: 12px;
  }
}
.x-offcanvas {
  width: 430px;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
  .x-header {
    width: 100%;
    height: 56px;
    border-bottom: 1px solid $neutral-10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 22px;
    .x-logo {
      background: url($img-logo-eventeer-blue) center no-repeat;
      width: 107px;
      height: 20px;
      background-size: contain;
    }
    span {
      font-weight: 600;
      color: $neutral-old-80;
      @include user-select-none;
    }
  }
  .x-menu {
    width: 100%;
    border-bottom: 1px solid $neutral-10;
    padding: 16px 24px;
  }
  .x-action {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    height: 100%;
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end !important;
      width: 100%;
      .x-btn-tablet {
        display: none;
      }
    }
    @include media-breakpoint-up(xs) {
      .x-btn-mobile {
        display: none;
      }
      .x-btn-tablet {
        display: block;
      }
    }
    @include media-breakpoint-down(sm) {
      .x-btn-tablet {
        display: none;
      }
      .x-btn-mobile {
        display: block;
      }
    }
    .btn {
      width: 175px;
      padding: 8px 14px;
      margin: 0 8px;
      border-radius: 10px;
      height: 68px;
      @include media-breakpoint-down(sm) {
        margin: 8px 0;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        height: 54px;
      }
      .x-button-text-wrapper {
        width: fit-content;
        text-align: left;
      }

    }
  }
}
