.x-landing-overview {
  width: 100%;
  background: $neutral-old-10;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  margin-top: -100px;
  padding-bottom: 100px;
  position: relative;
  z-index: 10;
  @include media-breakpoint-down(lg) {
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;
    margin-top: -54px;
  }
  @include media-breakpoint-down(sm) {
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    margin-top: -36px;
  }
  .x-background {
    background: linear-gradient(180deg, rgba(221, 238, 249, 0.7) 0%, rgba(214, 237, 248, 0) 100%);
    width: 100%;
    height: 100%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    position: absolute;
    z-index: -10;
    @include media-breakpoint-down(lg) {
      border-top-left-radius: 54px;
      border-top-right-radius: 54px;
    }
    @include media-breakpoint-down(sm) {
      border-top-left-radius: 36px;
      border-top-right-radius: 36px;
    }
  }
  .x-dot-background {
    background: url($img-landing-dotbackground) center no-repeat;
    background-size: contain;
    height: 236px;
    width: 87px;
    position: absolute;
    top: 565px;
  }
  .x-rectangle-background {
    background: url($img-landing-rectanglebackground) center no-repeat;
    background-size: contain;
    height: 592px;
    width: 330px;
    position: absolute;
    bottom: 200px;
    right: 0;
    z-index: -5;
  }
  .container {
    padding: 100px 0 0;
    margin-bottom: 85px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 36px;
      padding: 54px 0 0;
    }
    @include media-breakpoint-down(sm) {
      padding: 36px 0 0;
    }
    .x-traction-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: fit-content;
      margin: 16px 0;
      .x-icon {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 59px;
        height: 48px;
        margin-bottom: 24px;
        @include media-breakpoint-down(md) {
          width: 38px;
          height: 32px;
          margin-bottom: 14px;
        }
        &.x-icon-user {
          background-image: url($icon-user);
        }
        &.x-icon-connection {
          background-image: url($icon-connection);
        }
        &.x-icon-organizer {
          background-image: url($icon-organizer);
        }
      }
      h1 {
        @include heading-xl-bold;
        text-align: center;
        color: $primary-pressed;
        @include media-breakpoint-down(md) {
          @include heading-lg-bold;
          margin-bottom: 4px;
        }
      }
      h3 {
        @include heading-md-light;
        text-align: center;
        color: $primary-pressed;
        @include media-breakpoint-down(md) {
          @include heading-sm-light;
        }
      }
    }
    .x-landing-carousel {
      display: flex;
      justify-content: center;
      margin-top: 85px;
      margin-left: 0;
      margin-right: 0;
      @include media-breakpoint-down(md) {
        margin-top: 36px;
      }
      @include media-breakpoint-down(sm) {
        margin-top: 20px;
      }
      .x-carousel-section {
        max-width: 825px;
        border: none;
        @include media-breakpoint-down(lg) {
          max-width: 685px;
        }
        @include media-breakpoint-down(sm) {
          max-width: 350px;
        }
        .x-right {
          right: -10px;
        }
        .x-left {
          left: -10px;
        }
        .x-arrow-button {
          background-color: transparent;
          span {
            font-size: 50px;
            font-weight: 550;
            color: $primary-hover;
            @include media-breakpoint-down(sm) {
              font-size: 36px;
            }
          }
        }
        .x-carousel-item {
          width: 760px;
          height: 450px;
          border-radius: 20px;
          @include media-breakpoint-down(lg) {
            width: 620px;
            height: 400px;
          }
          @include media-breakpoint-down(sm) {
            width: 285px;
            height: 195px;
            border-radius: 16px;
          }
          img {
            border-radius: 20px;
            @include media-breakpoint-down(sm) {
              border-radius: 16px;
            }
          }
        }
        .x-indicator {
          justify-content: center;
          gap: 12px;
          .x-indicator-item {
            width: 9px;
            height: 9px;
            &.active {
              width: 38px;
            }
          }
        }
      }
    }
    .x-eventjoined-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        @include heading-lg-bolder;
        text-align: center;
        color: $primary-pressed;
        @include media-breakpoint-down(md) {
          @include heading-md-bolder;
        }
      }
    }
    .x-image-eventjoined {
      width: 115px;
      height: 60px;
      object-fit: contain;
      @include media-breakpoint-down(md) {
        width: 100%;
        height: auto;
      }
      @include media-breakpoint-down(md) {
        width: 95px;
        height: auto;
      }
    }
  }
  .x-feedback-title {
    @include heading-lg-bolder;
    color: $primary-pressed;
    @include media-breakpoint-down(lg) {
      @include heading-sm-bolder;
    }
  }
  .x-card-feedback {
    // width: 445px;
    // height: 305px;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 1px solid $neutral-10;
    padding: 32px 24px;
    background-color: $neutral-old-10;
    @include media-breakpoint-down(lg) {
      padding: 10px 12px;
    }
    img {
      width: 135px;
      height: 33px;
      object-fit: contain;
      @include media-breakpoint-down(lg) {
        width: auto;
        height: 22px;
      }
    }
    .x-desc {
      padding: 18px 0;
      @include text-lg-light;
      color: $neutral-70;
      margin: 0;
      @include media-breakpoint-down(lg) {
        padding: 12px 0;
        @include text-sm-light;
        @include line-height-md;
      }
    }
    .x-user-detail {
      border-top: 1px solid $neutral-10;
      width: 100%;
      display: flex;
      padding-top: 12px;
      img {
        width: 48px;
        height: 48px;
        object-fit: cover;
        margin-right: 10px;
        border-radius: 100%;
        @include media-breakpoint-down(lg) {
          width: 25px;
          height: 25px;
        }
      }
      p {
        @include text-lg-bold;
        margin: 0;
        color: $primary-pressed;
        @include media-breakpoint-down(lg) {
          font-size: 8px;
          line-height: 14px;
        }
        + p {
          @include text-md-light;
          color: $neutral-50;
          @include media-breakpoint-down(lg) {
            font-size: 8px;
            line-height: 14px;
          }
        }
      }
    }
  }
}
