.x-landing-pricing {
  background: linear-gradient(180deg, rgba(221, 238, 249, 0.7) 0%, rgba(214, 237, 248, 0) 100%);
  width: 100%;
  padding: 100px 0;
  position: relative;
  @include media-breakpoint-down(md) {
    padding: 60px 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }
  .x-dot-background {
    background: url($img-landing-dotbackground) center no-repeat;
    background-size: contain;
    height: 236px;
    width: 87px;
    position: absolute;
    bottom: 105px;
    right: 0;
    transform: rotate(180deg);
  }
  .x-pricing-title {
    @include heading-xl-bolder;
    text-align: center;
    margin-bottom: 12px;
    color: $primary-pressed;
    @include media-breakpoint-down(md) {
      @include heading-lg-bolder;
      margin-bottom: 8px;
    }
    @include media-breakpoint-down(sm) {
      @include heading-md-bolder;
      margin-bottom: 6px;
    }
  }
  .x-pricing-subtitle {
    @include heading-md-light;
    text-align: center;
    color: $neutral-70;
    @include media-breakpoint-down(md) {
      @include heading-md-light;
    }
    @include media-breakpoint-down(sm) {
      @include heading-sm-normal;
    }
  }
  .x-pricing-plan {
    width: fit-content;
    height: 64px;
    border-radius: 12px;
    padding: 8px;
    background-color: $semantic-surface;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-down(md) {
      height: 44px;
    }
    .x-toggle-input {
      margin: 0;
      p {
        display: none;
      }
      label input {
        display: none;
      }
    }
    .btn-group {
      gap: 12px;
      .btn {
        @include text-lg-bold;
        width: 150px;
        height: 48px;
        border-radius: 12px;
        border: none;
        background-color: $semantic-surface !important;
        @include media-breakpoint-down(md) {
          @include text-sm-bold;
          border-radius: 8px;
          width: 82px;
          height: 32px;
        }
        color: $neutral-50;
        &.active {
          background-color: $neutral-old-10 !important;
          color: $neutral-old-80;
        }
      }
    }
  }
  .x-card-wrapper {
    .col-md-4 {
      margin: 24px 0;
    }
    .x-rate-card {
      width: 100%;
      height: 100%;
      border-radius: 16px;
      margin: 28px 0;
      padding: 30px;
      box-shadow: $shadow-2;
      background-color: $neutral-old-10;
      @include media-breakpoint-down(md) {
        border-radius: 8px;
        padding: 18px;
        margin: 24px 0;
      }
      @include media-breakpoint-down(sm) {
        margin: 16px 0;
      }
      .x-card-title {
        background: url($img-ratecard-background) center no-repeat;
        background-size: cover;
        width: 100%;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        width: calc(100% + 60px);
        margin-left: -30px;
        margin-top: -30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 30px;
        @include media-breakpoint-down(md) {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          width: calc(100% + 36px);
          margin-left: -18px;
          margin-top: -18px;
          padding: 18px;
        }
        h2 {
          color: $neutral-old-10;
          &.x-title {
            @include heading-lg-bold;
            @include media-breakpoint-down(md) {
              @include heading-sm-bold;
            }
            @include media-breakpoint-down(sm) {
              @include heading-md-bold;
            }
          }
          &.x-price {
            @include heading-lg-bold;
            @include media-breakpoint-down(md) {
              @include heading-md-bold;
            }
            @include media-breakpoint-down(sm) {
              @include heading-lg-bold;
              font-size: 40px;
            }
          }
        }
      }
      .x-card-detail {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: calc(100% - 125px);
        @include media-breakpoint-down(md) {
          height: calc(100% - 96px);
        }
        @include media-breakpoint-down(sm) {
          height: calc(100% - 112px);
        }
        .x-card-feature {
          margin-top: 24px;
          .x-detail {
            display: flex;
            padding: 6px 0;
            @include media-breakpoint-down(md) {
              padding: 4px 0;
            }
            p {
              @include text-lg-normal;
              // @include line-height-md;
              width: 245px;
              margin: 0;
              color: $neutral-80;
              @include media-breakpoint-down(lg) {
                width: 185px;
              }
              @include media-breakpoint-down(md) {
                @include text-lg-normal;
                @include line-height-sm;
                width: 135px;
                font-size: 10px;
              }
              @include media-breakpoint-down(sm) {
                @include text-lg-normal;
                width: 245px;
              }
            }
          }
        }
        .x-rounded {
          width: 18px;
          height: 18px;
          margin-right: 16px;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $semantic-warning-main;
          margin-top: 4px;
          @include media-breakpoint-down(md) {
            width: 14px;
            height: 14px;
            margin-right: 10px;
          }
          @include media-breakpoint-down(sm) {
            width: 18px;
            height: 18px;
            margin-right: 16px;
          }
          span {
            font-size: 12px;
            font-weight: 600;
            line-height: 8px;
            color: $neutral-old-10;
            @include media-breakpoint-down(md) {
              font-size: 8px;
            }
            @include media-breakpoint-down(sm) {
              font-size: 12px;
            }
          }
        }
      }
      .btn-primary {
        width: fit-content;
        padding: 10px 20px;
        border-radius: 8px;
        @include media-breakpoint-down(md) {
          margin-top: 20px;
          padding: 6px 16px;
        }
        p {
          margin: 0;
          @include text-lg-bold;
          padding: 0 16px;
          @include media-breakpoint-down(md) {
            @include text-md-normal;
            padding: 0 12px;
          }
        }
      }
    }
  }
}
