.x-landing-services {
  .x-landing-mobile {
    width: 100%;
    height: 750px;
    background: url($img-landing-mobile-horizontal) center no-repeat;
    background-size: cover;
    position: relative;
    @include media-breakpoint-down(lg) {
      height: 560px;
    }
    @include media-breakpoint-down(md) {
      height: 485px;
    }
    @include media-breakpoint-down(sm) {
      background: url($img-landing-mobile-vertical) center no-repeat;
      background-size: cover;
      height: 1100px;
    }
    h1 {
      @include heading-xl-bolder;
      color: $neutral-old-10;
      max-width: 530px;
      margin: 0;
      @include media-breakpoint-down(lg) {
        @include heading-lg-bolder;
        max-width: 225px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100%;
        text-align: center;
      }
    }
    h2 {
      @include heading-lg-bolder;
      color: $neutral-old-10;
      margin: 0;
      padding: 24px 0 44px;
      @include media-breakpoint-down(lg) {
        @include heading-sm-bolder;
        padding: 16px 0 20px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100%;
        text-align: center;
        font-size: 22px;
      }
    }
    .x-download-wrapper {
      display: flex;
      padding-top: 8px;
      gap: 16px;
      @include media-breakpoint-down(sm) {
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .x-img-download {
        width: 170px;
        height: 67px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        &.x-img-playstore {
          background-image: url($img-download-playstore);
        }
        &.x-img-appstore {
          background-image: url($img-download-apple);
        }
        @include media-breakpoint-down(lg) {
          width: 90px;
          height: 35px;
        }
        @include media-breakpoint-down(sm) {
          width: 157px;
          height: 62px;
        }
      }
    }
    .x-margin-top {
      margin-top: 110px;
      @include media-breakpoint-down(md) {
        margin-top: 65px;
      }
    }
    .x-img-mobile {
      background: url($img-landing-mobile) center no-repeat;
      background-size: cover;
      width: 625px;
      height: 100%;
      position: absolute;
      right: 65px;
      @include media-breakpoint-down(lg) {
        width: 465px;
      }
      @include media-breakpoint-down(md) {
        width: 385px;
      }
      @include media-breakpoint-down(sm) {
        display: none;
        // background: url($img-phone-mobile) center no-repeat;
        // background-size: cover;
        // width: 100%;
        // height: 100%;
        // right: 0;
        // bottom: 0;
      }
    }
  }
  .x-landing-web {
    width: 100%;
    height: 480px;
    background: url($img-landing-web-horizontal) center no-repeat;
    background-size: cover;
    position: relative;
    @include media-breakpoint-down(lg) {
      height: 270px;
    }
    @include media-breakpoint-down(sm) {
      background: url($img-landing-web-vertical) center no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
      .row {
        margin: 0 !important;
        .col-md-5 {
          padding: 0;
        }
      }
    }
    .x-img-device {
      width: 850px;
      height: 590px;
      background: url($img-device-laptop) center no-repeat;
      background-size: contain;
      position: absolute;
      top: -150px;
      left: -50px;
      @include media-breakpoint-down(lg) {
        width: 540px;
        height: 320px;
        top: -80px;
        left: -60px;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        height: 435px;
        position: static;
      }
    }
    .x-title-wrapper {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      padding-bottom: 110px;
      @include media-breakpoint-down(lg) {
        padding-bottom: 60px;
      }
      @include media-breakpoint-down(sm) {
        padding-left: 0;
        padding-right: 0;
      }
      h1 {
        @include heading-xl-bolder;
        text-align: right;
        color: #D77F38;
        font-size: 45px;
        letter-spacing: 0;
        @include media-breakpoint-down(lg) {
          @include heading-md-bolder;
          margin: 0;
        }
        @include media-breakpoint-down(sm) {
          @include heading-md-bolder;
          text-align: center;
          margin-bottom: 6px;        }
      }
      h2 {
        @include heading-lg-bold;
        text-align: right;
        color: $neutral-70;
        @include media-breakpoint-down(lg) {
          @include heading-sm-bold;
        }
        @include media-breakpoint-down(sm) {
          @include heading-sm-bold;
          font-size: 20px;
          text-align: center;
        }
      }
    }
  }
}
