.x-landing-value {
  width: 100%;
  background: url($img-landing-value) center no-repeat;
  background-size: cover;
  padding: 100px 0 200px;
  @include media-breakpoint-down(md) {
    .row {
      flex-direction: column-reverse;
    }
    padding: 50px 0;
  }
  .x-title-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    h1 {
      @include heading-xl-bolder;
      margin: 0;
      color: $primary-pressed;
      @include media-breakpoint-down(sm) {
        @include heading-md-bold;
      }
    }
  }
  .x-menu-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 36px 0;
    gap: 56px;
    @include media-breakpoint-down(sm) {
      gap: 0;
      justify-content: space-between;
      margin: 14px 0 24px;
      padding: 0 32px;
    }
    h3 {
      @include heading-md-normal;
      margin: 0;
      &.active {
        color: $primary-pressed !important;
      }
      @include media-breakpoint-down(sm) {
        @include heading-sm-normal;
      }
    }
    .x-divider {
      width: 100%;
      height: 3px;
      &.active {
        background-color: $secondary-main;
      }
    }
  }
  .row {
    h3 {
      @include heading-md-light;
      color: $neutral-70;
      line-height: 40px;
      padding-top: 24px;
      @include media-breakpoint-down(sm) {
        @include heading-sm-light;
      }
    }
  }
  @include media-breakpoint-down(md) {
    .col-lg-5 {
      padding: 0 36px;
    }
  }
  img {
    width: 100%;
    height: 320px;
    border-radius: 25px;
    object-fit: cover;
    @include media-breakpoint-down(lg) {
      height: 350px;
      border-radius: 18px;
    }
    @include media-breakpoint-down(sm) {
      height: 195px;
      border-radius: 18px;
    }
  }
}
