<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://unpkg.com/react/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js" crossorigin></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="http://fonts.cdnfonts.com/css/raleway-5" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <style>@import url('http://fonts.cdnfonts.com/css/raleway-5');</style>
    <script type="text/babel">
      const MainContent = () => {
        return (
          <div className="position-relative" style={{maxWidth: "435px", width: "100%"}}>
              <img src="https://i.postimg.cc/bJbBM86x/image.png" className="position-absolute" style={{width: "435px", zIndex: -100}} alt=""/>
              <div className="row m-0"  style={{height: "90px"}}>
                <div className="col-2 pe-0 d-flex align-items-center">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/A_small_cup_of_coffee.JPG/800px-A_small_cup_of_coffee.JPG" style={{width: "100%", height: "66px", objectFit: "cover", borderRadius: "4px"}} alt="" />
                </div>
                <div className="col-10 d-flex flex-column mt-3">
                  <p
                    className="m-0"
                    style={{
                      fontFamily: "Raleway",
                      fontSize: "14px",
                      color: "#1A1A1A",
                      fontWeight: 600
                    }}
                  >
                    Product Management and Product Lifecycle 101
                  </p>
                  <div class="d-flex align-items-center gap-1">
                    <img src="https://i.postimg.cc/Lqpk1dFf/Icon.png" width="10px" height="10px" style={{objectFit: "contain"}} alt="" />
                    <p
                      className="m-0"
                      style={{
                        fontFamily: "Raleway",
                        fontSize: "10px",
                        color: "#757575",
                      }}
                    >
                      Ganjar Ariel Santosa, Dina Dellyana
                    </p>
                  </div>


                </div>
              </div>
              <div class="row m-0 px-1 pt-3 pb-1" style={{height: "168px"}}>
                <div class="col-12">
                  <p
                    className="m-0"
                    style={{
                      fontFamily: "Raleway",
                      fontSize: "14px",
                      color: "#383838",
                      fontWeight: 600,
                      lineHeight: "16px"
                    }}
                  >
                    Ticket Number
                  </p>
                  <p
                    className="m-0"
                    style={{
                      fontFamily: "Raleway",
                      fontSize: "14px",
                      color: "#757575"
                    }}
                  >
                    AGD322-2443
                  </p>
                </div>

                <div class="col-6">
                  <p
                    className="m-0"
                    style={{
                      fontFamily: "Raleway",
                      fontSize: "14px",
                      color: "#383838",
                      fontWeight: 600,
                      lineHeight: "16px"
                    }}
                  >
                    Location
                  </p>
                  <p
                    className="m-0"
                    style={{
                      fontFamily: "Raleway",
                      fontSize: "14px",
                      color: "#757575"
                    }}
                  >
                    Bandung
                  </p>
                </div>

                <div class="col-6">
                  <p
                    className="m-0"
                    style={{
                      fontFamily: "Raleway",
                      fontSize: "14px",
                      color: "#383838",
                      fontWeight: 600,
                      lineHeight: "16px"
                    }}
                  >
                    Date
                  </p>
                  <p
                    className="m-0"
                    style={{
                      fontFamily: "Raleway",
                      fontSize: "14px",
                      color: "#757575"
                    }}
                  >
                    20 Oktober 2022
                  </p>
                </div>

                <div class="col-6">
                  <p
                    className="m-0"
                    style={{
                      fontFamily: "Raleway",
                      fontSize: "14px",
                      color: "#383838",
                      fontWeight: 600,
                      lineHeight: "16px"
                    }}
                  >
                    Name
                  </p>
                  <p
                    className="m-0"
                    style={{
                      fontFamily: "Raleway",
                      fontSize: "14px",
                      color: "#757575"
                    }}
                  >
                    Devansius Seviano Pratama
                  </p>
                </div>

                <div class="col-6">
                  <p
                    className="m-0"
                    style={{
                      fontFamily: "Raleway",
                      fontSize: "14px",
                      color: "#383838",
                      fontWeight: 600,
                      lineHeight: "16px"
                    }}
                  >
                    Time
                  </p>
                  <p
                    className="m-0"
                    style={{
                      fontFamily: "Raleway",
                      fontSize: "14px",
                      color: "#757575"
                    }}
                  >
                    08:00 AM
                  </p>
                </div>

              </div>

              <button className="btn btn-primary w-100 mt-4" style={{backgroundColor: "#CC0000", border: "none"}}>Attending Confirmation</button>
          </div>
        );
      }
      //render the component to the DOM
      ReactDOM.render(<MainContent />, document.getElementById('main-content'));
  </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div id="main-content"></div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>
