.x-agenda-page {
  width: 100%;
  .x-rightbar-speakers {
    padding-top: 52px;
  }
  .x-ticket {
    @include text-md-normal;
    margin-top: 6px;
    margin-bottom: 0;
    width: max-content;
    padding: 2px 8px;
    border-radius: 4px;
    color: $neutral-old-10;
    &.x-ticket-available {
      background: $semantic-success-main;
    }
    &.x-ticket-unavailable {
      background: $neutral-30;
    }
    &.x-ticket-sold {
      background: $semantic-warning-main;
    }
  }
}
