.x-agendadetail-page {
  width: 100%;
  .x-rightbar-speakers {
    padding-top: 52px;
  }
  .x-card {
    position: relative;
    .x-card-cover {
      width: 100%;
      position: relative;
      object-fit: cover;
    }
    .x-cover {
      display: flex;
      justify-content: center;
      position: relative;
      .x-image {
        position: absolute;
        width: 200px;
        height: 190px;
        border-radius: 8px;
        object-fit: cover;
        bottom: -55px;
        z-index: 15;
      }
    }
  }
  .x-request-status {
    width: max-content;
    padding: 8px 56px;
    border: 1px solid $neutral-old-80;
    box-shadow: $shadow-1;
    border-radius: 4px;
    cursor: pointer;
  }

  .x-request-complete {
    width: max-content;
    padding: 8px 56px;
    border: 1px solid $neutral-old-80;
    box-shadow: $shadow-1;
    border-radius: 4px;
    background-color: $primary-surface;
  }
  .x-emailcheck {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 24px 56px;
    margin: 20px 0 32px;
    box-shadow: $shadow-1;
    border-radius: 4px;
    &.x-emailcheck-success {
      border: 1px solid $semantic-success-main;
      background-color: $secondary-surface;
    }
    &.x-emailcheck-pending {
      border: 1px solid $neutral-old-80;
      background-color: $primary-surface;
    }
  }
  .x-ask-zoom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 24px 56px;
    margin: 20px 0 32px;
    border: 1px solid $neutral-old-80;
    box-shadow: $shadow-1;
    border-radius: 4px;
    background-color: $primary-surface;
  }

  .x-get-zoom {
    width: max-content;
    padding: 24px 56px;
    border: 1px solid $semantic-success-main;
    box-shadow: $shadow-1;
    border-radius: 4px;
    background-color: $secondary-surface;
  }

  .x-separator {
    width: calc(100%);
    height: 1px;
    background-color: $neutral-20;
  }

  .comment-input {
    flex-grow: 1;
    input {
      width: 100%;
      height: 100%;
      border: 1px solid $neutral-20;
      border-radius: 8px;
      padding: 10px;
      color: $neutral-70;
      ::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: $neutral-30;
      }
      :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: $neutral-30;
        opacity: 1;
      }
      ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: $neutral-30;
        opacity: 1;
      }
      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $neutral-30;
      }
      ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $neutral-30;
        opacity: 1;
      }

      ::placeholder {
        /* Most modern browsers support this now. */
        color: $neutral-30;
      }
    }
  }

  .x-btn-copy {
    max-width: 160px;
    width: 100%;
    button {
      height: 100%;
    }
  }

  .x-btn-comment {
    max-width: 160px;
    width: 100%;
    button {
      height: 100%;
    }
  }

  .x-card-ticket {
    width: 100%;
    border: 1px solid $neutral-10;
    box-shadow: $shadow-1;
    border-radius: 8px;
    padding: 16px;
    margin: 72px 0 36px;
    .x-price {
      text-align: right;
      margin-right: 0px;
      .x-normal-price {
        text-decoration: line-through;
      }
    }
    .x-button {
      width: 40%;
      margin-left: 16px;
      border-radius: 4px;
    }
  }
  .x-ticket {
    @include text-md-light;
    @include line-height-sm;
    margin-top: 8px;
    color: $neutral-old-10;
    padding: 8px;
    border-radius: 4px;
    width: max-content;
    &.x-ticket-available {
      background: #0dc76c;
    }
    &.x-ticket-unavailable {
      background: $neutral-30;
    }
  }
}

.x-speakerdetail-modal {
  zoom: 0.68;
  .modal-content {
    padding: 0;
    .x-picture-wrapper {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      .x-banner {
        width: 100%;
        height: 270px;
      }
      .x-profile-picture {
        position: absolute;
        width: 160px;
        height: 160px;
        border-radius: 100%;
        position: absolute;
        z-index: 100;
        bottom: 0;
        object-fit: cover;
      }
    }
    .x-card-speaker {
      margin: 12px 0;
      .row {
        padding: 8px !important;
        img {
          height: 180px;
        }
        h3 {
          @include text-lg-normal;
          margin-top: 24px !important;
          margin-bottom: 4px !important
        }
        h4 {
          @include text-md-light;
        }
      }
    }
  }
}
