// // .x-message {
//   // width: 100%;
//   .x-chat {
//     width: 100%;
//     display: flex;
//     .x-empty-chat {
//       width: 100%;
//       .x-icon-eventeer {
//         background: url($icon-eventeer-grey) center no-repeat;
//         background-size: contain;
//         width: 182px;
//         height: calc(100% - 230px);
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         margin: auto;
//         margin-top: 25%;
//       }
//       p {
//         text-align: center;
//       }
//     }
//     .x-chat-detail {
//       background-image: url($img-chat-background);
//       background-size: cover;
//       background-repeat: no-repeat;
//       background-attachment: fixed;
//       width: 100%;
//       height: 100%;
//       min-height: 100vh;
//       &.x-grup-detail {
//         width: 100%;
//       }
//       .x-chat-header {
//         height: 68px;
//         background: $base-20;
//         display: flex;
//         padding: 12px 12px 12px 16px;
//         position: sticky;
//         top: 84px;
//         width: 100%;
//         .x-image-account {
//           padding: 16px;
//           width: 81px;
//           height: 81px;
//           border-radius: 100%;
//         }
//         .x-empty-image {
//           background-color: $primary-pressed;
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           width: 48px;
//           height: 48px;
//           border-radius: 100%;
//         }
//       }
//       .x-wrap-main-chat {
//         height: calc(100% - 142px);
//         .x-main-chat {
//           // margin-bottom: 75px;
//           // margin-top: 80px;
//           .x-chat-date {
//             background: $primary-pressed;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             width: max-content;
//             box-shadow: $shadow-2;
//             border-radius: 8px;
//             padding: 8px 12px;
//             margin: auto;
//             margin-top: 5px;
//             p {
//               text-align: center;
//               color: $neutral-old-10;
//             }
//           }
//           .x-chat-value-2-sender {
//             display: flex;
//             flex-direction: row;
//             align-items: center;
//             padding: 10px 16px;
//             background: $primary-hover;
//             box-shadow: $shadow-1;
//             border-radius: 8px 0px 12px 8px;
//             max-width: 600px;
//             height: max-content;
//             p {
//               color: $neutral-old-10;
//             }
//           }
//           .x-chat-value-2 {
//             // display: flex;
//             // flex-direction: row;
//             align-items: center;
//             padding: 10px 16px;
//             background: $neutral-old-10;
//             box-shadow: $shadow-1;
//             border-radius: 0px 6px 6px 6px;
//             max-width: 600px;
//             height: max-content;
//             p {
//               color: $neutral-70;
//             }
//           }
//         }
//       }
//       .x-chat-footer {
//         // min-height: 68px;
//         // max-height: 250px;
//         background: $base-20;
//         display: flex;
//         flex-direction: row;
//         padding: 16px 0px;
//         position: sticky;
//         bottom: 0;
//         width: 100%;
//         cursor: pointer;
//       }
//       .input-reply {
//         display: flex;
//         align-items: center;
//         input {
//           // max-width: 1200px;
//           // max-height: 200px;
//           width: 100%;
//           background: $base-30;
//           border: 1px solid $neutral-20;
//           border-radius: 4px;
//           padding: 8px 12px;
//         }
//       }
//       .x-send {
//         border-radius: 100%;
//         background: $neutral-old-80;
//         width: 40px;
//         height: 40px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         &.x-send-disable {
//           background: $semantic-surface;
//         }
//         .x-icon-send-message {
//           background: url($icon-send-message) center no-repeat;
//           background-size: contain;
//           width: 17px;
//           height: 17px;
//           justify-content: center;
//           display: flex;
//           margin: auto;
//           @include user-select-none;
//           cursor: pointer;
//         }
//       }
//     }
//     .x-detail-group {
//       width: 425px;
//       max-height: calc(100% - 84px);
//       top: 84px;
//       .x-detail-header {
//         height: 68px;
//         background: $base-20;
//         display: flex;
//         padding: 12px 12px 12px 16px;
//         position: fixed;
//         width: 100%;
//         border-bottom: 1px solid rgba(33, 92, 122, 0.1);
//       }
//       .x-detail-profile {
//         margin-top: 100px;
//         .x-image-account {
//           padding: 16px;
//           width: 200px;
//           height: 200px;
//           border-radius: 100%;
//           justify-content: center;
//           align-items: center;
//           margin: auto;
//         }
//         .x-empty-image {
//           background-color: $primary-pressed;
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           width: 200px;
//           height: 200px;
//           border-radius: 100%;
//           margin: auto;
//         }
//         .x-add-photo {
//           background-color: $neutral-old-80;
//           padding: 16px;
//           border-radius: 100%;
//           width: 58px;
//           height: 58px;
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           margin-left: 60%;
//           margin-top: -16%;
//         }
//       }
//       .x-separator-profile {
//         border: 1px solid rgba(33, 92, 122, 0.1);
//         width: 100%;
//         margin-top: 12px;
//       }
//       .x-group-name {
//         display: flex;
//         justify-content: center;
//         margin-top: 8px;
//         .x-icon-pencil-alt {
//           background: url($icon-pencil-alt) center no-repeat;
//           background-size: contain;
//           width: 17px;
//           height: 17px;
//           justify-content: center;
//           @include user-select-none;
//           cursor: pointer;
//         }
//       }
//       .x-member-group {
//         padding: 16px;
//         .x-add-member {
//           padding: 4px 0px;
//           .x-add {
//             padding: 8px;
//             background-color: $neutral-old-80;
//             border-radius: 100%;
//             width: 52px;
//             height: 52px;
//             justify-content: center;
//             display: flex;
//           }
//         }
//         .x-separator-member {
//           border: 1px solid rgba(33, 92, 122, 0.5);
//           width: 100%;
//           margin-top: 12px;
//         }
//         .x-member-list{
//           padding: 4px 0px;
//           .x-image-account {
//             padding: 16px;
//             width: 52px;
//             height: 52px;
//             border-radius: 100%;
//           }
//           .x-empty-image {
//             background-color: $primary-pressed;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             width: 52px;
//             height: 52px;
//             border-radius: 100%;
//           }
//           .x-member-des {
//             .x-icon-badge {
//               background: url($icon-badge) center no-repeat;
//               background-size: contain;
//               width: 14px;
//               height: 14px;
//               justify-content: center;
//               @include user-select-none;
//               cursor: pointer;
//             }
//             .x-dot {
//               background: $neutral-old-80;
//               width: 2px;
//               height: 2px;
//               border-radius: 100%;
//             }
//           }
//         }
//       }
//     }
//   }
// // }
