.x-collaborationgroupchat-page {
    width: 100%;
    .x-member-card {
      border: 1px solid $neutral-20;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 8px 16px;
      .x-carduser-component {
        align-items: center;
      }
      .x-detail-wrapper {
        justify-content: center;
        .x-memberstatus {
          @include text-md-light;
          margin-bottom: 0;
          padding: 0 12px;
          border-radius: 4px;
          &.x-memberstatus-taken {
            color: $semantic-success-pressed;
            background-color: $semantic-success-border;
          }
          &.x-memberstatus-untaken {
            color: $neutral-50;
            background-color: $neutral-10;
          }
        }
      }
      .btn {
        width: 110px;
      }
    }
  }
