.x-collaboration-page {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  .x-banner {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 32px;
  }
  .x-cards-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    margin-top: 16px;
    img {
      border-radius: 6px;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
  .x-emptypost-box {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 48px 0;
    .x-icon-webinar {
      background: url($icon-webinar) center no-repeat;
      background-size: contain;
      width: 56px;
      height: 56px;
      @include user-select-none;
      margin-bottom: 14px;
    }
    .x-collab-subtitle {
      font-weight: 450;
      font-size: 16px;
      color: var(--neutral-60);
      margin: 0;
      margin-top: 6px;
    }
    .x-collab-subtitle-bold {
      font-weight: 500;
      font-size: 16px;
      color: var(--neutral-80);
      margin: 0;
      margin-top: 6px;
    }
  }
}
