.x-createcollaboration-page {
  width: 100%;
  .x-banner-container {
    img {
      width: 100%;
      height: 349px;
      object-fit: cover;
      border-radius: 12px;
    }
  }
  .x-content-borderbox {
    // d-flex flex-column align-items-center mb-5 p-4
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    padding: 32px;
  }
  .x-image-selector {
    display: flex;
    align-items: center;
    position: relative;
    color: $neutral-old-80;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    gap: 10px;
    @include text-lg-normal;

  }
  .x-input-banner {
    margin-top: 32px;
    input[type="file"] {
      display: none;
    }
  }

  .x-input-profession {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    .x-input-select {
      margin-bottom: 0;
      .form-control {
        min-width: 380px;
        &::placeholder {
          opacity: 1;
        }
      }
    }
    .form-control:focus {
      border-color: transparent;
      box-shadow: none;
    }
    input {
      border: 0;
      padding-left: 0;
      color: $neutral-old-80;

      &::placeholder {
        opacity: 0.5;
        color: $neutral-old-80;
      }
    }
    .x-tag-interest {
      display: flex;
      align-items: center;
      gap: 2px;
      margin-right: 16px;
      padding: 4px 8px;
      border: 1px solid #dfe3e8;
      color: #637381;
      border-radius: 6px;
      span {
        cursor: pointer;
        font-size: 14px;
        color: #dfe3e8;
      }
    }
  }

  .profile-pic {
    img {
      object-fit: cover;
      margin: 8px;
      width: 48px;
      height: 48px;
      border-radius: 100%;
      margin: 0;
    }
    .x-empty-image {
      background-color: $primary-pressed;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      border-radius: 100%;
    }
  }

  .x-breadscrumb-wrapper {
    padding: 20px 10px 8px;
  }

  .x-collab-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 26px 40px;
    border: 1px solid #dbdfe5;
    border-radius: 12px;
    gap: 36px;
  }

  .x-collab-box-no-border {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 26px 40px;
    margin: 0 10px;
    gap: 36px;
  }

  .x-collab-divider {
    margin: 0;
    width: 100%;
    opacity: 0.1;
    margin-top: 16px;
  }

  .x-input-count {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight: 450;
    font-size: 14px;
    color: $neutral-50;
  }

  .x-progressbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 24px 0;
    .x-progressbar-active {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      left: 0px;
      top: 0px;
      border: 2px solid $neutral-old-80;
      border-radius: 50%;
      color: $neutral-old-80;
      cursor: pointer;
      span {
        font-weight: 700;
        font-size: 16px;
      }
    }

    .x-progressbar-behind {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      left: 0px;
      top: 0px;
      border: 2px solid $neutral-old-80;
      border-radius: 50%;
      color: white;
      background-color: $neutral-old-80;
      cursor: pointer;
      span {
        font-weight: 700;
        font-size: 16px;
      }
    }

    .x-step {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      left: 0px;
      top: 0px;
      border: 2px solid $neutral-20;
      border-radius: 50%;
      background: $neutral-30;
      color: $neutral-70;
      cursor: pointer;
      span {
        font-weight: 700;
        font-size: 16px;
      }
    }
    .x-progressline {
      width: 100px;
      border: 2px solid $neutral-50;
      background: $neutral-50;
      &.active {
        border: 2px solid $neutral-old-80;
        background: $neutral-old-80;
        opacity: 1;
      }
    }
  }

  .x-display-collab {
    display: flex;
    flex-direction: column;
    gap: 24px;
    h3 {
      font-weight: 900;
      font-size: 24px;
      color: $neutral-80;
    }
    .x-display-collab-title {
      font-weight: 500;
      font-size: 16px;
      color: $neutral-80;
    }
    .x-display-collab-text {
      font-weight: 400;
      font-size: 16px;
      margin: 0;
      color: $neutral-70;
    }
    .x-tag-interest {
      display: flex;
      align-items: center;
      gap: 2px;
      margin-right: 16px;
      padding: 4px 8px;
      border: 1px solid #dfe3e8;
      color: #637381;
      background-color: #f4f6f8;
      border-radius: 6px;
      span {
        cursor: pointer;
        font-size: 14px;
        color: #dfe3e8;
      }
    }
  }
}
