.x-detailcollaborationproject-page {
  width: 100%;
  // .x-separator {
  //   margin-top: -8px;
  //   margin-left: 16px;
  //   margin-right: 16px;
  //   height: 1px;
  //   background-color: $neutral-20;
  // }
  .x-information-wrapper {
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 28px;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.12));
    span {
      padding: 0;
      margin-right: 18px;
      font-size: 32px;
    }
    &.x-information-success {
      background: $semantic-success-surface;
      border: 1px solid $semantic-success-main;
    }
    &.x-information-progress {
      background: $primary-surface;
      border: 1px solid $neutral-old-80;
    }
  }
  .x-detail-wrapper {
    background: $neutral-old-10;
    border: 1px solid $neutral-20;
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 16px;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.12));
    .x-content-info {
      .x-badge {
        border-radius: 6px;
        padding: 4px 8px;
        @include text-sm-normal;
        margin: 0;
        &.x-badge-interest {
          color: $grey-4;
          background-color: $base-30;
        }
        &.x-badge-status {
          color: $semantic-success-main;
          background-color: $semantic-success-focus;
        }
      }
    }
    .x-thumbnail {
      // max-width: 100%;
      // max-height: 100%;
      img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-radius: 12px;
      }
      .x-icon-eventeer {
        background: url($icon-eventeer-white) center no-repeat;
        background-size: contain;
        width: 35px;
        height: 35px;
        top: 24px;
        left: 24px;
        position: absolute;
      }
    }

    hr {
      color: $neutral-50;
    }

    .x-member {
      border-radius: 4px;
      padding: 8px 16px;
      img {
        width: 53px;
        height: 53px;
        border-radius: 100%;
        object-fit: cover;
      }
      .x-empty-image {
        background-color: $primary-pressed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 100%;
      }
      .x-respon {
        span {
          border: 1px solid $neutral-50;
          background: $neutral-old-10;
          border-radius: 100%;
          height: 30px;
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 8px;
        }
      }
    }
  }
  .x-rightbar-postedby {
    padding-top: 52px;
    .x-rightbar-box {
      padding: 0 48px;
    }
    .x-user-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100% !important;
      padding: 24px;
      width: 100px;
      .x-image-user {
        width: 104px;
        height: 104px;
        border-radius: 100%;
        object-fit: cover;
        // margin-bottom: 20px;
        justify-content: center;
      }
      .x-emptyimage {
        background-color: $primary-pressed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 104px;
        height: 104px;
        border-radius: 100%;
        p {
          @include text-xl-normal;
          margin: 0;
          color: $neutral-old-10;
        }

      }
      .x-btn-user {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
  }
}
