.x-ecertificate-page {
  width: 100%;
  $red-lust: #E71E24;
  $dark-candy: #9F0005;
  @mixin color-red-lust() {
    color: $red-lust;
  }
  @mixin color-dark-candy() {
    color: $dark-candy;
  }
  .color-red-lust {
    @include color-red-lust;
  }
  .color-dark-candy {
    @include color-dark-candy;
  }
  .x-ecertificate-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .x-ecertificate-content {
      background: url($img-ecertificate-background) center no-repeat;
      background-size: contain;
      width: 964px;
      height: 681px;
      margin: 52px 24px;
      box-shadow: $shadow-4;
      @include media-breakpoint-down(xl) { zoom: 95%; }
      @include media-breakpoint-down(lg) { zoom: 74%; }
      @include media-breakpoint-down(md) { zoom: 56%; }
      @include media-breakpoint-down(sm) { zoom: 28%; }
      .x-heading-certificate {
        @include heading-xl-bolder;
        font-size: 40px;
        letter-spacing: 0.3rem;
        margin-bottom: 0;
        color: $red-lust;
      }
      .x-heading-participate {
        @include heading-md-light;
        letter-spacing: 0.6rem;
        color: $red-lust;
      }
      .x-participant-name {
        font-family: Gwendolyn-Bold;
        color: $red-lust;
        font-size: 52px;
        margin: 4px 0 8px;
        border-bottom: 2px solid #9F0005;
      }
      .x-digitalsign-image {
        width: 100%;
        max-height: 105px;
        height: 100%;
        margin: 6px 0;
        object-fit: contain;
      }
      .x-separator {
        height: 2px;
        width: 200px;
        background-color: $dark-candy;
        &.x-margin-top {
          margin-top: 105px;
        }
      }
    }
  }
}
