.x-editprofile-page {
  width: 100%;
  .x-input-area {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .x-icon-add-images {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    background-color: $warning-main;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    span {
      color: $neutral-old-10;
      font-size: 18px;
    }
  }
  .x-image-cover {
    position: relative;
    .x-image-wrapper {
      .x-icon-add-images {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 37px;
        height: 37px;
        background-color: $grey-3;
        border-radius: 100%;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        span {
          color: $neutral-old-10;
          font-size: 18px;
        }
      }
    }
    img {
      width: 100%;
      height: 280px;
      object-fit: cover;
      border-radius: 12px;
    }
  }

  .x-profile-photo {
    margin-top: -80px;
    margin-left: 40px;

    .x-empty-image {
      background-color: $primary-pressed;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 8px;
      width: 160px;
      height: 160px;
      border-radius: 100%;
      p {
        font-size: 80px;
      }
    }
    img {
      object-fit: cover;
      margin: 8px;
      width: 160px;
      height: 160px;
      border-radius: 100%;
      margin: 0;
    }
    .x-upload-wrapper {
      position: relative;
      width: 160px;
      height: 160px;
      border-radius: 100%;
      img {
        width: 160px;
        height: 160px;
        border-radius: 100%;
        object-fit: cover;
      }
      input[type="file"] {
        display: none;
      }
    }
  }

  .x-tag-interest {
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: #f5fcff;
    margin: 3px;
    padding: 4px 8px;
    border-radius: 4px;
    span {
      cursor: pointer;
      font-size: 14px;
      color: $neutral-old-80;
    }
  }

  .x-input-date-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;

    .x-input-select {
      width: 100%;
      &:nth-child(1) {
        width: 26%;
      }
      &:nth-child(2) {
        width: 37%;
      }
      &:nth-child(3) {
        width: 37%;
      }
    }
  }
}
