.x-eventselection-page {
    width: 100%;
    min-height: calc(100vh - 84px);
    p {
      color: $neutral-60;
    }
    .top-40 {
      margin-top:40px;
    }
    .left-5 {
      margin-left:5px;
    }
    .top-0 {
      margin-top:-30px;
    }

    .x-card-event {
      background: $neutral-old-10;
      box-shadow: $shadow-3;
      border-radius: 10px;
      margin-top: 30px;
      margin-bottom: 30px;
      h1 {
        color: $grey-5;
      }
      p {
        color: $neutral-60;
      }
      .x-event-selection {
        display: flex;
        justify-content: flex-end;
        padding:10px;
        p {
          color: $neutral-60;
        }
      }
      .image-card {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          height: 187px !important;
          object-fit: cover;
      }
      .image-rounded {
        width :40px;
        height :40px;
        border-radius:100%;
        + p {
          max-width: 135px;
          color: $neutral-100;
        }
      }
      .x-default-vendor {
        width: 40px;
        height: 40px;
        border-radius:100%;
        background-color: $secondary-main;
        display: flex;
        justify-content: center;
        align-items: center;
        + p {
          max-width: 135px;
          color: $neutral-100;
        }
      }
      .card-footer {
        border-top: 0;
        display: flex;
        padding: 16px;
        .btn-primary {
          width: 120px;
        }
      }
    }
  }
