.x-explorecollaboration-page {
  width: 100%;
  .x-button-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $neutral-old-10;
    border: 1px solid $neutral-20;
    color: $neutral-70;
    padding: 6px 10px;
    margin-bottom: 12px;
    width: fit-content;
    .material-icons-round {
      font-size: 20px;
    }
  }
  .x-cardexplore-wrapper {
    .x-interest-tag {
      @include text-sm-normal;
      padding: 2px 8px;
    }
    .x-carduser-component {
      .x-detail-wrapper {
        p {
          @include text-sm-normal;
          @include line-height-sm;
          margin-bottom: 4px;
          + p {
            font-size: 10px;
            + div {
              p {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
  // .x-separator {
  //   margin-top: -8px;
  //   margin-left: 16px;
  //   margin-right: 16px;
  //   height: 1px;
  //   background-color: $neutral-20;
  // }
  // .x-border-in {
  //   background: $neutral-old-10;
  //   border: 1px solid $neutral-20;
  //   border-radius: 8px;
  //   margin: 16px;
  //   padding: 16px;
  //   filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.12));
  //   .x-thumbnail {
  //     max-width: 100%;
  //     max-height: 100%;
  //     img {
  //       width: 698px;
  //       height: 350px;
  //       object-fit: cover;
  //       border-radius: 12px;
  //     }
  //     .x-icon-eventeer {
  //       background: url($icon-eventeer-white) center no-repeat;
  //       background-size: contain;
  //       width: 35px;
  //       height: 35px;
  //       top: 24px;
  //       left: 24px;
  //       position: absolute;
  //     }
  //   }
  //   .x-separator-2 {
  //     height: 1px;
  //     background-color: $neutral-20;
  //   }
  //   .x-people-border {
  //     .x-people {
  //       border: 1px solid $neutral-20;
  //       border-radius: 4px;
  //       padding: 8px 16px;
  //       img {
  //         width: 53px;
  //         height: 53px;
  //         border-radius: 100%;
  //         object-fit: cover;
  //       }
  //       .x-empty-image {
  //         background-color: $primary-pressed;
  //         display: flex;
  //         justify-content: center;
  //         align-items: center;
  //         margin: 16px;
  //         width: 48px;
  //         height: 48px;
  //         border-radius: 100%;
  //       }
  //       .x-respon {
  //         span {
  //           border: 1px solid $neutral-50;
  //           background: $neutral-old-10;
  //           border-radius: 100%;
  //           height: 30px;
  //           width: 30px;
  //           display: flex;
  //           justify-content: center;
  //           align-items: center;
  //           margin-left: 8px;
  //           &.x-decline {
  //             border: 1px solid $semantic-danger-main;
  //             &:hover {
  //               background-color: $semantic-danger-focus;
  //             }
  //           }
  //           &.x-accept {
  //             border: 1px solid $semantic-success-main;
  //             &:hover {
  //               background-color: $semantic-success-focus;
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}

.x-modals-city {
  width: 1000px;
}
