.x-feeds-page {
  width: 100%;
  .x-rightbar-activities {
    padding-top: 20px;
    .x-rightbar-box {
      width: calc(100% - 56px);
    }
  }
  .x-content-feeds {
		background: $neutral-old-10;
		border: 1px solid $neutral-20;
    border-radius: 8px;
    margin: 20px 0;
    .x-feeds-navbar {
      padding: 0 12px;
      width: 100%;
      border-bottom: 1px solid $neutral-20;
      .navbar {
        padding: 6px 0 0;
        .nav-item {
          color: $neutral-60;
          .active {
						color: $semantic-main;
						border-bottom: 2px solid $semantic-main;
          }
        }
      }
    }
    .x-feed-card {
      .x-card-dropdown {
        button {
          background: url($icon-post-button) center no-repeat;
          background-size: contain;
          width: 20px;
          height: 20px;
          display: flex;
          &::after {
            visibility: hidden;
          }
          &:focus {
            box-shadow: none !important;
          }
        }
        .dropdown-item {
          display: flex;
          align-items: center;
          gap: 6px;
          .x-icon-delete {
            background: url($icon-delete) center no-repeat;
            background-size: contain;
            width: 14px;
            height: 16px;
          }
        }
      }
      .x-delete-wrapper {
        position: relative;
        margin-left: auto;
        padding-right: 6px;
        padding-top: 4px;
        .x-icon-post-button {
          background: url($icon-post-button) center no-repeat;
          background-size: contain;
          width: 20px;
          height: 20px;
          display: flex;
          @include user-select-none;
          cursor: pointer;
        }
        .x-delete {
          position: absolute;
          width: max-content;
          z-index: 2;
          right: 6px;
          top: 28px;
					background-color: $neutral-old-10;
          border-radius: 4px;
          filter: drop-shadow($shadow-1);
          display: flex;
          margin-top: 2px;
          .x-delete-detail {
            margin: 0px 8px;
            display: inline;
            align-items: center;
            .x-icon-delete {
              background: url($icon-delete) center no-repeat;
              background-size: contain;
              width: 14px;
              height: 16px;
              @include user-select-none;
              cursor: pointer;
            }
          }
        }
      }
    }
    .x-contentfeeds-wrapper {
      margin-top: 16px;
      .x-image-row {
        padding: 0 0.5rem;
        .col {
          position: relative;
          img {
            border-radius: 0;
            margin-top: 0;
            width: 100%;
            height: 240px;
            object-fit: cover;
            box-shadow: $shadow-1;
            background: $base-30;
            cursor: pointer;
            &.x-height-lg {
              height: 315px;
            }
            &.x-height-xl {
              height: 650px;
            }
          }
        }
      }
    }
    .x-card-post {
      position: relative;
      border: 1px solid $neutral-20;
      border-radius: 8px;
      box-shadow: $shadow-2;
			background: $neutral-old-10;
      margin: 16px;
      position: relative;
      cursor: pointer;
      .x-postwrapper-absolute {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100;
      }
      .x-profile-picture {
        padding-top: 4px;
        width: 48px;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 48px;
          height: 48px;
          border-radius: 100%;
        }
        span {
          font-size: 54px;
          color: $base-30;
        }
      }
      textarea {
        height: 60px;
      }
      .x-footer-post {
				border-top: 1px solid $neutral-20;
				background: $neutral-old-10;
        border-radius: 0px 0px 8px 8px;
      }
    }
  }
}

.x-cardevent-component {
  display: flex;
  box-shadow: $shadow-2;
  border-radius: 8px;
  border: 1px solid $neutral-10;
  img {
    width: 100%;
    height: 154px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}
