.x-forgotpassword-page {
  width: 100%;
  min-height: calc(100vh - 84px);
  background-color: $base-30;
}

.x-changepassword-success {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .x-icon {
    width: 195px;
    height: 195px;
    background: url($icon-changepassword-success) center no-repeat;
    background-size: contain;
    margin: 12px 0;
    &.x-icon-mobile {
      width: 150px;
      height: 150px;
    }
  }
}
