.x-home-page {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .x-webinar-section {
    border: 1px solid $neutral-20;
    border-radius: 8px;
    padding: 16px;
    .x-separator {
      width: calc(100% + 32px);
      margin-left: -16px;
      height: 1px;
      background-color: $neutral-20;
    }
    .x-toggle-wrapper {
      display: flex;
      gap: 32px;
      .x-toggle {
        width: fit-content;
        cursor: pointer;
        @include user-select-none;
        p {
          color: $neutral-60;
        }
        .active {
          color: $neutral-old-80;
        }
        .x-divider {
          height: 1px;
          width: 100%;
          background-color: $neutral-old-80;
        }
      }
    }
    .x-section-wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 16px;
      gap: 63px;
      .x-section-card {
        border-radius: 8px;
        position: relative;
        box-shadow: $shadow-1;
        cursor: pointer;
        img {
          width: 227px;
          height: 180px;
          object-fit: cover;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }
      }
    }
  }
}
