.x-medialearning-page {
  width: 100%;
  .x-rightbar-categories {
    padding-top: 52px;
    .x-categories {
      padding: 0 24px;
    }
  }
  .x-icon-play {
    background: url($icon-play) center no-repeat;
    background-size: contain;
    width: 35px;
    height: 35px;
    border-radius: 40px;
    cursor: pointer;
  }
}
