.x-mycollaborationproject-page {
  width: 100%;
  .x-image-thumbnail {
    max-width: 100%;
    max-height: 100%;
    img {
      width: 100%;
      height: 350px;
      object-fit: cover;
      border-radius: 12px;
    }
    .x-icon-eventeer {
      background: url($icon-eventeer-white) center no-repeat;
      background-size: contain;
      width: 35px;
      height: 35px;
      top: 24px;
      left: 24px;
      position: absolute;
    }
  }
  .x-user-lists {
    padding: 8px 16px;
    border-radius: 4px;
    .x-btn-confirmation {
      width: 36px !important;
      height: 36px !important;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }
  }
  .x-projectstatus {
    margin: 0;
    height: fit-content;
    padding: 0 8px;
    border-radius: 6px;
    @include text-sm-normal;
    &.x-projectstatus-active {
      background-color: $semantic-info-focus;
      color: $semantic-info-main;
    }
    &.x-projectstatus-inactive {
      background-color: $neutral-10;
      color: $neutral-50;
    }
  }

  // .x-separator-2 {
  //   height: 1px;
  //   background-color: $neutral-20;
  // }
  // .x-people-border {
  //   .x-people {
  //     border: 1px solid $neutral-20;
  //     border-radius: 4px;
  //     padding: 8px 16px;
  //     img {
  //       width: 53px;
  //       height: 53px;
  //       border-radius: 100%;
  //       object-fit: cover;
  //     }
  //     .x-empty-image {
  //       background-color: $primary-pressed;
  //       display: flex;
  //       justify-content: center;
  //       align-items: center;
  //       width: 53px;
  //       height: 53px;
  //       border-radius: 100%;
  //     }
  //     .x-respon {
  //       span {
  //         border: 1px solid $neutral-50;
  //         background: $neutral-old-10;
  //         border-radius: 100%;
  //         height: 30px;
  //         width: 30px;
  //         display: flex;
  //         justify-content: center;
  //         align-items: center;
  //         margin-left: 8px;
  //         &.x-decline {
  //           border: 1px solid $semantic-danger-main;
  //           &:hover {
  //             background-color: $semantic-danger-focus;
  //           }
  //         }
  //         &.x-accept {
  //           border: 1px solid $semantic-success-main;
  //           &:hover {
  //             background-color: $semantic-success-focus;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
  // .x-border {
  //   background: $neutral-old-10;
  //   border: 1px solid $neutral-20;
  //   border-radius: 8px;
  //   filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.12));
  //   .x-project-navbar {
  //     margin-left: 8px;
  //     .nav-item {
  //       color: $neutral-50;
  //       .active {
  //         color: $neutral-old-80;
  //         border-bottom: 3px solid $neutral-old-80;
  //       }
  //     }
  //   }
  //   .x-separator {
  //     margin-top: -8px;
  //     margin-left: 16px;
  //     margin-right: 16px;
  //     height: 1px;
  //     background-color: $neutral-20;
  //   }
  //   .x-border-in {
  //     background: $neutral-old-10;
  //     border: 1px solid $neutral-20;
  //     border-radius: 8px;
  //     margin: 16px;
  //     padding: 16px;
  //     filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.12));
  //     .x-thumbnail {
  //       max-width: 100%;
  //       max-height: 100%;
  //       img {
  //         width: 100%;
  //         height: 350px;
  //         object-fit: cover;
  //         border-radius: 12px;
  //       }
  //       .x-icon-eventeer {
  //         background: url($icon-eventeer-white) center no-repeat;
  //         background-size: contain;
  //         width: 35px;
  //         height: 35px;
  //         top: 24px;
  //         left: 24px;
  //         position: absolute;
  //       }
  //     }
  //     .x-separator-2 {
  //       height: 1px;
  //       background-color: $neutral-20;
  //     }
  //     .x-people-border {
  //       .x-people {
  //         border: 1px solid $neutral-20;
  //         border-radius: 4px;
  //         padding: 8px 16px;
  //         img {
  //           width: 53px;
  //           height: 53px;
  //           border-radius: 100%;
  //           object-fit: cover;
  //         }
  //         .x-empty-image {
  //           background-color: $primary-pressed;
  //           display: flex;
  //           justify-content: center;
  //           align-items: center;
  //           width: 53px;
  //           height: 53px;
  //           border-radius: 100%;
  //         }
  //         .x-respon {
  //           span {
  //             border: 1px solid $neutral-50;
  //             background: $neutral-old-10;
  //             border-radius: 100%;
  //             height: 30px;
  //             width: 30px;
  //             display: flex;
  //             justify-content: center;
  //             align-items: center;
  //             margin-left: 8px;
  //             &.x-decline {
  //               border: 1px solid $semantic-danger-main;
  //               &:hover {
  //                 background-color: $semantic-danger-focus;
  //               }
  //             }
  //             &.x-accept {
  //               border: 1px solid $semantic-success-main;
  //               &:hover {
  //                 background-color: $semantic-success-focus;
  //               }
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
  // .x-posts-box {
  //   display: flex;
  //   flex-direction: column;
  //   padding: 16px;
  //   gap: 16px;
  //   width: 100%;
  //   .x-content-feed {
  //     display: flex;
  //     flex-direction: column;
  //     border: 1px solid $neutral-20;
  //     border-radius: 8px;
  //     padding: 20px 0 0 0;
  //     width: 100%;
  //     position: static;
  //     box-sizing: border-box;

  //     .detail-head {
  //       display: flex;
  //       justify-content: space-between;
  //       padding: 0 20px;

  //       .head-left {
  //         display: flex;

  //         .left-pic {
  //           img {
  //             object-fit: cover;
  //             margin: 8px;
  //             width: 48px;
  //             height: 48px;
  //             border-radius: 100%;
  //             margin: 0;
  //           }
  //         }

  //         .left-profile {
  //           display: flex;
  //           flex-direction: column;
  //           margin-left: 20px;
  //           span {
  //             margin-top: -2px;
  //             font-size: 0.7rem;
  //             color: $neutral-60;
  //           }
  //           span:nth-child(1) {
  //             font-size: 1rem;
  //             font-weight: 600;
  //             color: $neutral-100;
  //           }
  //           span:nth-child(2) {
  //             font-weight: 600;
  //           }
  //         }
  //       }
  //     }

  //     .detail-content {
  //       padding: 0 20px;
  //       .content-desc {
  //         margin-top: 20px;
  //         color: $neutral-80;
  //         font-weight: 450;
  //         font-size: 16px;
  //       }
  //       .content-img {
  //         display: flex;
  //         flex-direction: column;
  //         gap: 20px;
  //       }

  //       .data-journey {
  //         border: 1px solid $neutral-20;
  //         border-radius: 8px;
  //         padding: 20px 0;

  //         .content-journey {
  //           display: flex;
  //           flex-direction: column;
  //         }
  //       }

  //       .content-tag {
  //         margin-top: 20px;
  //         padding-bottom: 16px;
  //         button {
  //           font-size: 0.7rem;
  //           padding: 4px 8px;
  //         }
  //       }
  //     }

  //     .x-footer-feeds {
  //       display: flex;
  //       justify-content: space-between;
  //       margin-top: 10px;
  //       padding: 16px 20px;
  //       background: $base-30;
  //       border-radius: 0px 0px 8px 8px;
  //       padding: 8px 2px;
  //       width: 100%;

  //       .like-icon-text {
  //         display: flex;
  //         cursor: pointer;
  //         align-items: center;
  //         .x-icon-like {
  //           font-weight: 600;
  //           font-size: 18px;
  //           padding: 0;
  //           margin: 0;
  //           padding-right: 4px;
  //         }
  //       }

  //       // .x-icon-like {
  //       //   background: url($icon-like) center no-repeat;
  //       //   background-size: contain;
  //       //   width: 20px;
  //       //   height: 20px;
  //       //   @include user-select-none;
  //       // }
  //       .x-icon-reshare {
  //         background: url($icon-reshare) center no-repeat;
  //         background-size: contain;
  //         width: 20px;
  //         height: 20px;
  //         @include user-select-none;
  //         cursor: pointer;
  //       }
  //     }

  //     .detail-comment {
  //       .comment-post {
  //         display: flex;
  //         flex-direction: column;
  //         padding: 10px 20px;
  //         gap: 20px;

  //         .comment-count {
  //           color: $neutral-60;
  //         }

  //         .comment-post-detail {
  //           display: flex;
  //           gap: 20px;

  //           .comment-post-pict {
  //             img {
  //               object-fit: cover;
  //               margin: 8px;
  //               width: 48px;
  //               height: 48px;
  //               border-radius: 100%;
  //               margin: 0;
  //             }
  //           }
  //           .comment-input {
  //             flex-grow: 1;
  //             input {
  //               width: 100%;
  //               height: 100%;
  //               border: 1px solid $neutral-20;
  //               border-radius: 8px;
  //               padding: 10px;
  //             }
  //           }
  //           .comment-button {
  //             display: flex;
  //             justify-content: center;
  //             align-items: center;
  //             button {
  //               // height: 100%;
  //             }
  //           }

  //           // input {
  //           //   background-color: red;
  //           //   width: min-content;
  //           // }
  //         }
  //       }

  //       .comment-list {
  //         padding: 10px 20px;
  //       }
  //     }

  //     .x-post-header {
  //       .x-empty-image {
  //         background-color: $primary-pressed;
  //         display: flex;
  //         justify-content: center;
  //         align-items: center;
  //         width: 48px;
  //         height: 48px;
  //         border-radius: 100%;
  //       }
  //       .x-image-account {
  //         display: flex;
  //         justify-content: center;
  //         align-items: center;
  //         width: 48px;
  //         height: 48px;
  //         border-radius: 100%;
  //       }
  //     }
  //   }
  // }
  // .x-card-list {
  // }
}
