.x-mynetwork-page {
  width: 100%;
  .x-mynetwork {
    margin-top: 12px;
    .x-top-collaborator {
      padding-top: 16px;
      .x-img-profile {
        display: flex;
        justify-content: center;
        .x-image-account {
          width: 82px;
          height: 82px;
          border-radius: 100%;
          object-fit: cover;
        }
        .x-empty-image {
          background-color: $primary-pressed;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 82px;
          height: 82px;
          border-radius: 100%;
        }
      }
    }
    .x-cardmember-wrapper {
      border: 1px solid $neutral-20;
      border-radius: 4px;
      padding: 8px 16px;
      display: flex;
      justify-content: space-between;
      margin: 8px 0;
    }
  }
}
.x-modalcollaborator-filter {
  .modal-header {
    width: calc(100% + 1.6rem);
    margin-left: -0.8rem;
    border-bottom: 1px solid $neutral-30;
    padding-bottom: 1.2rem;
    .x-inputsearch {
      margin: 0 12px !important;
    }
  }
  .modal-body {
    padding: 1.4rem 1.8rem;
    .x-list-city {
      @include text-sm-light;
      align-items: center;
      height: 400px;
      overflow-y: scroll;
      @include overflow-bar-none;
      text-align: left;
    }
  }
  .x-profession-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 18px;
    .x-selected-profession {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 2px 8px;
      background-color: $neutral-old-10;
      border: 1px solid $neutral-30;
      border-radius: 4px;
      color: $neutral-70;
    }
  }
}



/*
.x-mynetwork-page {
  width: 100%;
  .x-mynetwork {
    margin-top: 12px;
    .x-separator {
      height: 1px;
      background-color: $neutral-20;
    }
    .x-icon-filter {
      background: url($icon-mi-filter) center no-repeat;
      background-size: contain;
      width: 18px;
      height: 18px;
      @include user-select-none;
      cursor: pointer;
    }
    .x-top-collaboration {
      .x-img-profile {
        display: flex;
        justify-content: center;
        .x-image-account {
          width: 82px;
          height: 82px;
          border-radius: 100%;
          object-fit: cover;
        }
        .x-empty-image {
          background-color: $primary-pressed;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 82px;
          height: 82px;
          border-radius: 100%;
        }
      }
    }
    .x-cardmember-wrapper {
      border: 1px solid $neutral-20;
      border-radius: 4px;
      padding: 8px 16px;
      display: flex;
      justify-content: space-between;
      margin: 8px 0;
    }
  }
}

// .x-sort-filter {
//   width: 100%;
//   margin-top: 5%;
//   max-width: 350px;
//   .x-speaker-list {
//     border-radius: 12px;
//     border: 1px solid $neutral-10;
//     filter: drop-shadow($shadow-1);
//     height: max-content;
//     .x-speaker-header {
//       align-items: center;
//       background: $primary-surface;
//       display: flex;
//       border-top-left-radius: 12px;
//       border-top-right-radius: 12px;
//       .x-speaker {
//         padding: 8px 16px;
//       }
//     }
//     .x-separator {
//       margin-top: 0px;
//       width: calc(100%);
//       height: 1px;
//       background-color: $neutral-20;
//     }
//     .x-speaker-header {
//       display: flex;
//       width: 100%;
//       flex-direction: row;
//       justify-content: center;
//       padding: 16px;
//     }
//     .x-tag-filter {
//       padding: 10px 24px;
//       border: 1px solid $neutral-10;
//       border-radius: 25px;
//       display: flex;
//       align-items: center;
//       text-align: center;
//       margin: 0px 4px;
//       box-shadow: $shadow-1;
//     }
//   }
// }

.x-modal-profession {
  .x-modal {
    .x-separator {
      height: 1px;
      background-color: $neutral-20;
    }
    .x-prof {
      display: flex;
      flex-direction: row;
      .x-top-prof {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2px 4px;
        background: #ffffff;
        border: 1px solid #c4cad3;
        border-radius: 4px;
      }
    }
  }
}

.x-modal-city {
  .x-modal {
    .x-separator {
      height: 1px;
      background-color: $neutral-20;
    }
    .x-list-city {
      height: 400px;
      overflow-y: scroll;
      @include overflow-bar-none;
      text-align: left;
    }
  }
}


*/
