.x-notification-page {
  width: 100%;
  .x-rounded-icon {
    display: flex;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    border: 1px solid $primary-40;
    background: $primary-40;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .x-notif {
    background: $neutral-old-10;
    border: 1px solid $neutral-20;
    border-radius: 8px;
    margin-top: 20px;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.12));
    .x-notif-navbar {
      margin-left: 8px;
      .nav-item {
        color: $neutral-50;
        .active {
          color: $neutral-old-80;
          border-bottom: 3px solid $neutral-old-80;
        }
      }
      .x-separator {
        margin-top: 4px;
        margin-left: 16px;
        margin-bottom: 16px;
        width: calc(94%);
        height: 1px;
        background-color: $neutral-20;
      }
    }
    .x-filter-activities {
      margin-bottom: 16px;
      color: $neutral-70;
      .x-btn-sort {
        border: 1px solid $neutral-20;
        border-radius: 6px;
        background: $neutral-old-10;
        padding: 7px 8px;
        width: 84px;
        height: 36px;
        margin-left: 24px;
        .button-sort {
          margin: auto;
          justify-content: center;
        }
      }
      .x-btn {
        border: 1px solid $neutral-20;
        border-radius: 6px;
        background: $neutral-old-10;
        padding: 7px 8px;
        width: max-content;
        height: 36px;
        margin-left: 10px;
      }
      .active {
        background: $neutral-80;
        border: 1px solid $neutral-20;
        p {
          color: $neutral-old-10;
        }
      }
    }

    .x-notif-card {
      border: 1px solid $neutral-20;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 24px;
      margin-right: 24px;
      margin-bottom: 8px;
      padding: 8px 16px;
      .x-rounded-icons {
        display: flex;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 1px solid $bleached-white;
        background: $base-20;
        justify-content: center;
        align-items: center;
        margin: auto;
        .x-notif-icon {
          background: url($icon-notif) center no-repeat;
          background-size: contain;
          width: 26px;
          height: 26px;
          @include user-select-none;
          cursor: pointer;
        }
      }
      .x-empty-image {
        background-color: $primary-pressed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 100%;
      }
      .x-image-account {
        width: 48px;
        height: 48px;
        border-radius: 100%;
      }
      .x-read {
        border-radius: 100%;
        background-color: $semantic-main;
        width: 16px;
        height: 16px;
        justify-content: center;
        margin: auto;
      }
      .x-activities-cover {
        .x-image {
          padding: 8px 2px;
          object-fit: cover;
          width: 80%;
          height: max-content;
          border-radius: 6px;
        }
      }
      .x-status {
        background: $green-40;
        border-radius: 6px;
        width: max-content;
        padding: 4px 6px;
        color: $green-30;
      }
    }
  }
}
.x-ecertificate-modal {
  .modal-content {
    padding: 0;
    margin: 0 1rem;
    .modal-header {
      background-color: $primary-10;
    }
  }
  .modal-body {
    padding: 1rem;
    text-align: start;
    max-height: 452px;
    .x-program-title {
      @include text-sm-normal;
      margin: 0;
      padding: 0 0.5rem;
      border: 1px solid $semantic-main;
      color: $semantic-main;
      border-radius: 30px;
      display: flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;
    }
    .x-card-ecertificate {
      margin: 4px 0;
      .row {
        padding: 0 !important;
        .col-xl-4 {
          padding: 0;
          .x-image {
            height: 132px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }
    }
    .x-formevaluate-success {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 16px;
      text-align: center;
      .x-icon-success {
        background: url($icon-post-success) center no-repeat;
        background-size: contain;
        width: 195px;
        height: 195px;
        margin-bottom: 32px;
      }
    }
  }
}
