.x-participant-page {
  width: 100%;
  .x-input-search {
    width: 40%;
  }
  .x-rightbar-profilecard {
    padding: 24px 0;
    .x-profile-detail {
      width: 100%;
      height: fit-content;
    }
  }
  .x-participant-wrapper {
    background: $neutral-old-10;
    border: 1px solid $neutral-20;
    border-radius: 8px;
    margin: 8px 0 20px;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.12));
    padding: 8px 0;
    .x-participant-card {
      border: 1px solid $neutral-20;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 16px;
      padding: 8px 16px;
      .x-detail-wrapper {
        justify-content: center;
      }
      .btn {
        width: 110px;
      }
    }
  }
  .x-emptystate-lv2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 54px 0;
    .x-icon-wrapper {
      background-color: $semantic-focus;
      border-radius: 80px;
      margin-bottom: 12px;
    }
  }
}

// .x-subs-content {
//   .x-rounded-icon {
//     display: flex;
//     justify-content: center;
//     width: 26px;
//     height: 26px;
//     border-radius: 100%;
//     border: 1px solid $neutral-20;
//     background: $neutral-20;
//     justify-content: center;
//     align-items: center;
//     margin: auto;
//     span {
//       font-size: 14px;
//       color: $neutral-50;
//     }
//   }

//   .x-notif {
//     background: $neutral-old-10;
//     border: 1px solid $neutral-20;
//     border-radius: 8px;
//     margin-top: 20px;
//     filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.12));
//     padding: 8px 0;
//     .x-notif-navbar {
//       margin-left: 8px;
//       .nav-item {
//         color: $neutral-50;
//         .active {
//           color: $neutral-old-80;
//           border-bottom: 3px solid $neutral-old-80;
//         }
//       }
//       .x-separator {
//         margin-top: 4px;
//         margin-left: 16px;
//         margin-bottom: 16px;
//         width: calc(94%);
//         height: 1px;
//         background-color: $neutral-20;
//       }
//     }
//     .x-filter-activities {
//       margin-bottom: 16px;
//       color: $neutral-70;
//       .x-btn-sort {
//         border: 1px solid $neutral-20;
//         border-radius: 6px;
//         background: $neutral-old-10;
//         padding: 7px 8px;
//         width: 84px;
//         height: 36px;
//         margin-left: 24px;
//         .button-sort {
//           margin: auto;
//           justify-content: center;
//         }
//       }
//       .x-btn {
//         border: 1px solid $neutral-20;
//         border-radius: 6px;
//         background: $neutral-old-10;
//         padding: 7px 8px;
//         width: max-content;
//         height: 36px;
//         margin-left: 10px;
//       }
//       .active {
//         background: $neutral-80;
//         border: 1px solid $neutral-20;
//         p {
//           color: $neutral-old-10;
//         }
//       }
//     }

//     .x-notif-card {
//       border: 1px solid $neutral-20;
//       border-radius: 8px;
//       display: flex;
//       flex-direction: row;
//       align-items: center;
//       margin: 16px;
//       // padding: 8px 16px;
//       .img-container {
//         img {
//           object-fit: cover;
//           margin: 8px;
//           width: 48px;
//           height: 48px;
//           border-radius: 100%;
//           margin: 0;
//         }
//       }
//       .x-empty-image {
//         background-color: $primary-pressed;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         // margin: 8px;
//         width: 48px;
//         height: 48px;
//         border-radius: 100%;
//       }
//       .x-rounded-icons {
//         display: flex;
//         justify-content: center;
//         width: 40px;
//         height: 40px;
//         border-radius: 100%;
//         border: 1px solid $bleached-white;
//         background: $base-20;
//         justify-content: center;
//         align-items: center;
//         margin: auto;
//         .x-notif-icon {
//           background: url($icon-notif) center no-repeat;
//           background-size: contain;
//           width: 26px;
//           height: 26px;
//           @include user-select-none;
//           cursor: pointer;
//         }
//       }
//       .x-empty-image {
//         background-color: $primary-pressed;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         width: 48px;
//         height: 48px;
//         border-radius: 100%;
//       }
//       .x-image-account {
//         width: 48px;
//         height: 48px;
//         border-radius: 100%;
//       }
//       .x-read {
//         border-radius: 100%;
//         background-color: $neutral-old-80;
//         width: 16px;
//         height: 16px;
//         justify-content: center;
//         margin: auto;
//       }
//       .x-activities-cover {
//         .x-image {
//           padding: 8px 2px;
//           object-fit: cover;
//           width: 80%;
//           height: max-content;
//           border-radius: 6px;
//         }
//       }
//       .x-status {
//         background: $green-40;
//         border-radius: 6px;
//         width: max-content;
//         padding: 4px 6px;
//         color: $green-30;
//       }
//       .x-btn-wrapper {
//         width: 110px;
//       }
//     }
//   }
// }
