.x-podcast-page {
  width: 100%;
  .x-rightbar-categories {
    padding: 52px 0 24px;
    .x-rightbar-box {
      width: 80%;
      .x-categories {
        padding: 16px;
        gap: 8px;
        display: flex;
        flex-wrap: wrap;
        .x-tag {
          border-radius: 6px;
          background-color: $semantic-info-surface;
          width: fit-content;
          padding: 6px 16px;
        }
      }
    }
  }
  .x-banner {
    width: 100%;
    min-height: 260px;
    margin-bottom: 24px !important;
    padding: 24px 12px;
    border-radius: 8px;
    background: linear-gradient(180deg, #D52B2B -25.6%, #440000 90.83%);
    display: flex;
    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      margin-right: 24px;
      object-fit: cover;
    }
    .btn-primary {
      width: 128px;
      border-radius: 24px;
      padding: 6px;
    }
  }
}
.x-audioplayer {
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, #D52B2B 0%, #290000 100%);
  padding: 50px 90px;
  &.x-padding {
    padding: 0;
  }
  &.x-visibility-hidden {
    visibility: hidden;
  }
  .x-eventeer-icon {
    background: url($icon-indigo-white) center no-repeat;
    background-size: contain;
    width: 48px;
    height: 48px;
    margin-right: 16px;
  }
  .x-image-episode {
    width: 100%;
    height: 350px;
    border-radius: 25px;
    object-fit: cover;
  }
  .x-icon-player {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  .x-player-desc {
    display: flex;
    align-items: center;
    // min-width: 310px;
    width: 20%;
    img {
      width: 50px;
      height: 50px;
      margin-right: 15px;
      border-radius: 6px;
      object-fit: cover;
    }
  }
  .x-media-player {
    width: 100%;
    margin: 0;
    padding: 0 15px;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .rhap_container {
    box-shadow: none;
    background: transparent;
    padding: 12px 0;
    .rhap_progress-bar,
    .rhap_volume-bar {
      height: 3px;
    }
    .rhap_main-controls {
      gap: 10px !important;
    }
    .rhap_time {
      color: $neutral-30;
      @include text-md-light;
    }
    .rhap_stacked-reverse {
      .rhap_additional-controls {
        flex: 0.64 0 auto;
      }
    }
    .rhap_stacked {
      .rhap_additional-controls {
        flex: 1.1 0 auto;
      }
    }
    // .rhap_additional-controls {
    //   flex: 0.6 0 auto;
    // }
    // .rhap_volume-container {
    //   flex: 0 1 155px;
    //   margin-top: 36px;
    // }
    // .rhap_progress-section {
    //   padding: 0 310px;
    // }
    // .rhap_controls-section {
    //   margin-bottom: 0;
    // }
  }
}
