.x-popularcollaborations-page {
  width: 100%;
  max-width: 790px;
  .x-breadcrumb-wrapper {
    padding: 20px 0 8px;
  }
  .x-banner {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 32px;
  }
}
// .x-modal-popcol {
//   .x-modal {
//     text-align: left;
//     .x-separator {
//       height: 1px;
//       background-color: $neutral-20;
//     }
//     .x-prof {
//       display: flex;
//       flex-direction: row;
//       .x-top-prof {
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         padding: 2px 4px;
//         background: #ffffff;
//         border: 1px solid #c4cad3;
//         border-radius: 4px;
//       }
//     }
//     .x-tag-interest {
//       display: flex;
//       align-items: center;
//       gap: 4px;
//       background-color: #F5FCFF;
//       margin: 3px;
//       padding: 4px 8px;
//       border-radius: 4px;
//       span {
//         cursor: pointer;
//         font-size: 14px;
//         color: $neutral-old-80;
//       }
//     }
//   }
// }
