.x-profile-page {
  width: 100%;
  color: $neutral-80;

  .x-cover-img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  }

  .x-profile-top {
    display: flex;
    margin-left: 40px;
    gap: 40px;
    .x-profile-photo {
      margin-top: -80px;
      .empty-image {
        background-color: $primary-pressed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 160px;
        border-radius: 100%;

        p {
          font-size: 80px;
        }
      }

      img {
        object-fit: cover;
        margin: 8px;
        width: 160px;
        height: 160px;
        border-radius: 100%;
        margin: 0;
      }
    }
    .x-profile-top-detail {
      margin-top: 20px;
      width: 100%;
      .x-detail-name {
        color: var(--neutral-80);
        h3 {
          font-weight: 900;
          font-size: 24px;
          margin-bottom: 0;
        }
        p {
          font-weight: 450;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 4px;
        }
      }
      .x-detail-follow {
        .x-edit-profile-button {
          margin-left: 20%;
        }
      }
    }
  }

  hr {
    margin: 24px 10px;
    opacity: 0.1;
  }

  .x-profile-bottom {
    display: flex;
    flex-direction: column;
    .x-badges {
      display: flex;
      gap: 8px;
      margin-bottom: 12px;
      span {
        color: var(--base-10);
        background-color: var(--neutral-60);
        padding: 4px 8px;
        border-radius: 24px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
      }
    }
    .x-loc-warp {
      display: flex;
      align-items: center;
      gap: 10px;
      .x-icon-loc {
        background: url($icon-location) center no-repeat;
        background-size: contain;
        width: 16px;
        height: 16px;
        @include user-select-none;
      }
      span {
        color: $neutral-450;
        font-weight: 450;
        font-size: 16px;
      }
    }
  }

  .x-profile-overview {
    border: 1px solid var(--neutral-20);
    border-radius: 8px;
    margin-top: 24px;
    padding: 16px;
    display: flex;
    flex-direction: column;

    .x-tags {
      display: flex;
      gap: 16px;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 16px;
      color: var(--neutral-50);
      line-height: 24px;

      span {
        cursor: pointer;
        padding-bottom: 5px;
        &:hover {
          border-bottom: 3px solid $semantic-main;
        }
      }

      .active {
        color: $semantic-main;
        border-bottom: 3px solid $semantic-main;
      }
    }
    hr {
      margin: 16px 0;
      opacity: 0.1;
    }
    .x-details-container {
      h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: var(--neutral-80);
      }
      .x-details-empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;

        .x-empty-title {
          font-weight: 700;
          font-size: 16px;
          margin-top: 16px;
          margin-bottom: 4px;
        }

        .x-empty-subtitle {
          font-weight: 450;
          font-size: 14px;
          color: var(--neutral-50);
        }

        .x-icon-portfolio {
          background: url($icon-empty-portfolio) center no-repeat;
          background-size: contain;
          width: 70px;
          height: 70px;
          @include user-select-none;
        }

        .x-icon-activity {
          background: url($icon-empty-activity) center no-repeat;
          background-size: contain;
          width: 70px;
          height: 70px;
          @include user-select-none;
        }
      }
      .x-overview-title {
        @include heading-md-bold;
        margin: 0;
        color: $neutral-80;
      }
      .x-overview-add {
        display: flex;
        color: $neutral-old-80;
        cursor: pointer;
        @include user-select-none;
        @include text-lg-normal;
        p {
          margin: 0;
        }
      }
      .x-card-attachment {
        background-color: $neutral-old-10;
        border: 1px solid $neutral-20;
        border-radius: 4px;
        margin: 16px 0;
        cursor: pointer;
        .x-attachment-icon {
          background: url($icon-url) center no-repeat;
          background-size: contain;
          width: 16px;
          height: 16px;
        }
        h4 {
          @include heading-sm-bold;
          color: $neutral-80;
          margin-bottom: 4px;
        }
        p {
          @include text-md-normal;
          color: $neutral-old-80;
          margin: 0;
          width: 100px;
        }
      }
    }
  }
}
.x-modalportfolio-title {
  width: 100%;
  h3 {
    @include heading-md-normal;
    color: $neutral-80;
  }
  .x-divider {
    width: 100%;
    height: 1px;
    background-color: $neutral-20;
  }
  }
  .x-modalportfolio-content {
    label {
    display: flex;
  }
  .x-button-wrapper {
    display: flex;
  }
  .btn {
    width: inherit;
  }
}
