.x-profileuser-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 750px;
  color: var(--neutral-80);
  .x-breadscrumb-wrapper {
    padding: 20px 10px 8px;
  }
  .x-cover-img {
    max-width: 100%;
    max-height: 100%;
    img {
      width: 750px;
      height: 258px;
      object-fit: cover;
      border-radius: 12px;
    }
  }
  .x-profile-top {
    display: flex;
    margin-left: 40px;
    gap: 40px;
    .x-profile-photo {
      margin-top: -80px;

      .empty-image {
        background-color: $primary-pressed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 160px;
        border-radius: 100%;
        p {
          font-size: 80px;
        }
      }

      img {
        object-fit: cover;
        margin: 8px;
        width: 160px;
        height: 160px;
        border-radius: 100%;
        margin: 0;
      }
    }
    .x-profile-top-detail {
      margin-top: 20px;
      width: 100%;
      .x-detail-name {
        color: var(--neutral-80);
        h3 {
          font-weight: 900;
          font-size: 24px;
          margin-bottom: 0;
        }
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 4px;
        }
      }
      .x-detail-follow {
        display: flex;
        width: 100%;
        align-items: flex-end;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;

        span {
          color: var(--neutral-60);
          margin-bottom: 4px;
          strong {
            color: var(--neutral-80);
          }
        }
      }
      .x-detail-acc {
        display: flex;
        flex-direction: row;
        width: 100%;
        .x-accept {
          background: $neutral-old-10;
          border: 1px solid $neutral-10;
          box-shadow: $shadow-1;
          border-radius: 4px;
          width: 100%;
          &:hover {
            background: $semantic-success-focus;
          }
        }
        .x-decline {
          background: $neutral-old-10;
          border: 1px solid $neutral-10;
          box-shadow: $shadow-1;
          border-radius: 4px;
          width: 100%;
          &:hover {
            background-color: $semantic-danger-focus;
          }
        }
      }
    }
  }

  hr {
    margin: 24px 10px;
    opacity: 0.1;
  }

  .x-profile-bottom {
    display: flex;
    flex-direction: column;
    .x-badges {
      display: flex;
      gap: 8px;
      margin-bottom: 12px;
      span {
        color: var(--base-10);
        background-color: var(--neutral-60);
        padding: 4px 8px;
        border-radius: 24px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
      }
    }
    .x-loc-warp {
      display: flex;
      align-items: center;
      gap: 10px;
      .x-icon-loc {
        background: url($icon-location) center no-repeat;
        background-size: contain;
        width: 16px;
        height: 16px;
        @include user-select-none;
      }
      span {
        color: var(--neutral-50);
        font-weight: 450;
        font-size: 16px;
      }
    }
  }

  .x-profile-overview {
    border: 1px solid var(--neutral-20);
    border-radius: 8px;
    margin-top: 24px;
    padding: 16px;
    display: flex;
    flex-direction: column;

    .x-tags {
      display: flex;
      gap: 16px;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 16px;
      color: var(--neutral-50);
      line-height: 24px;

      span {
        cursor: pointer;
        padding-bottom: 5px;
        &:hover {
          border-bottom: 3px solid var(--primary-main);
        }
      }

      .active {
        color: var(--primary-main);
        border-bottom: 3px solid var(--primary-main);
      }
    }
    hr {
      margin: 16px 0;
      opacity: 0.1;
    }
    .x-details-container {
      h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: var(--neutral-80);
      }
      .x-details-empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;

        .x-empty-title {
          font-weight: 700;
          font-size: 16px;
          margin-top: 16px;
          margin-bottom: 4px;
        }

        .x-empty-subtitle {
          font-weight: 450;
          font-size: 14px;
          color: var(--neutral-50);
        }

        .x-icon-portfolio {
          background: url($icon-empty-portfolio) center no-repeat;
          background-size: contain;
          width: 70px;
          height: 70px;
          @include user-select-none;
        }

        .x-icon-activity {
          background: url($icon-empty-activity) center no-repeat;
          background-size: contain;
          width: 70px;
          height: 70px;
          @include user-select-none;
        }
      }
    }
  }
}
