.x-register-page {
  width: 100%;
  min-height: calc(100vh - 84px);
  background-color: $base-30;
  display: flex;
  justify-content: center;
  align-items: center;
  .x-eventeer-icon {
    background: url($icon-eventeer) center no-repeat;
    background-size: contain;
    width: 29px;
    height: 29px;
    position: absolute;
    right: 16px;
    top: 36px;
    @include media-breakpoint-only(xs) {
      width: 25px;
      height: 25px;
    }
  }
  .x-verification-icon {
    background: url($icon-mail-verification) center no-repeat;
    background-size: contain;
    width: 236px;
    height: 236px;
    @include media-breakpoint-only(xs) {
      width: 194px;
      height: 194px;
    }
  }
}
