.x-registersuccess-page {
  width: 100%;
  min-height: calc(100vh - 84px);
  background-color: $base-30;
  .x-card-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include media-breakpoint-only(xs) {
      padding-top: 36px;
      padding-bottom: 36px;
    }
  }
  .x-separator {
    background-color: $neutral-20;
    width: calc(100% + 72px);
    height: 1px;
    left: 0;
    margin: 25px -36px;
  }
  .x-icon-success {
    background: url($icon-register-success) center no-repeat;
    background-size: contain;
    width: 236px;
    height: 236px;
    @include media-breakpoint-only(xs) {
      width: 144px;
      height: 144px;
    }
  }
}
