.x-registerprofile-page {
  width: 100%;
  min-height: calc(100vh - 84px);
  background-color: $base-30;
  @include media-breakpoint-only(xs) {
    .x-card-form {
      padding-top: 36px;
      padding-bottom: 36px;
    }
  }
  .x-separator {
    background-color: $neutral-20;
    width: calc(100% + 72px);
    height: 1px;
    left: 0;
    margin: 25px -36px;
  }
}
