.x-registerinterest-page {
  width: 100%;
  min-height: calc(100vh - 84px);
  background-color: $base-30;
  @include media-breakpoint-only(xs) {
    .x-card-form {
      padding-top: 36px;
      padding-bottom: 36px;
    }
  }
  .x-separator {
    background-color: $neutral-20;
    width: calc(100% + 72px);
    height: 1px;
    left: 0;
    margin: 25px -36px;
  }
  .x-tag-interest {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #F5FCFF;
    margin: 3px;
    padding: 4px 8px;
    border-radius: 4px;
    span {
      cursor: pointer;
      font-size: 14px;
      color: $neutral-old-80;
    }
  }
}
