.x-submissionregister-page {
  width: 100%;
  .x-banner-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 290px;
    align-items: center;
    .x-card-cover {
      width: 100%;
      position: relative;
      object-fit: cover;
    }
    .x-card {
      display: flex;
      position: absolute;
      top: 60px;
      width: 80%;
      gap: 20px;
      border: 1px solid $neutral-20;
      border-radius: 8px;
      padding: 16px;
      background-color: #ffff;
      img {
        height: 150px;
        width: 150px;
        object-fit: cover;
        border-radius: 8px;
      }
    }
  }
}
