.x-submission-page {
  width: 100%;
  .x-icon-medal {
    background: url($icon-medal) center no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    @include user-select-none;
    cursor: pointer;
    margin-top: 4px;
  }
  .x-empty-submission {
    width: 100%;
    margin: 0;
    padding: 8px 0;
    .x-rounded-icon {
      display: flex;
      justify-content: center;
      width: 56px;
      height: 56px;
      border-radius: 100%;
      border: 1px solid $neutral-10;
      background: linear-gradient(180deg, #dfe3e8 0%, #c4cdd5 100%);
      justify-content: center;
      align-items: center;
      margin: auto;
      span {
        font-size: 24px;
        color: $neutral-old-10;
      }
    }
    p {
      text-align: center;
    }
  }
}
.x-filtersearch-modal {
  .modal-content {
    padding: 1.8rem;
    .x-tag-location {
      padding: 10px 24px;
      border: 1px solid $neutral-10;
      border-radius: 32px;
      cursor: pointer;
      display: flex;
      align-items: center;
      text-align: center;
      box-shadow: $shadow-1;
      background: $neutral-old-10;
      color: $neutral-70;
      &.active {
        background: $neutral-old-80;
        color: $neutral-old-10;
      }
    }
  }
}
