.x-submissiondetail-page {
  width: 100%;
  .x-benefit-lists {
    li {
      &::marker {
        color: $grey-3;
        font-size: 20px;
      }
      @include text-lg-light;
      margin: 0;
      color: $neutral-50;
    }
  }
  .x-interest-tag {
    @include text-md-light;
    @include line-height-sm;
    margin-top: 8px;
    color: $grey-4;
    padding: 8px;
    border-radius: 4px;
    width: max-content;
    background-color: $base-30;
  }
  .x-termcondition-wrapper {
    padding: 16px;
    border-radius: 4px;
    margin: 24px 0;
    background-color: $primary-10;
  }
}
