.x-video-page {
  width: 100%;
  margin-bottom: 36px;
  .x-rightbar-categories {
    padding: 52px 0 24px;
    .x-rightbar-box {
      width: 80%;
      .x-categories {
        padding: 16px;
        gap: 8px;
        display: flex;
        flex-wrap: wrap;
        .x-tag {
          border-radius: 6px;
          background-color: $semantic-info-surface;
          width: fit-content;
          padding: 6px 16px;
        }
      }
    }
  }
  .x-video-player {
    position: relative;
    margin: 0;
    padding: 0;
    user-select: none;
    width: 100%;
    .react-player {
      position: relative;
    }
    .x-progress-container {
      position: absolute;
      bottom: 0;
      z-index: 10;
      height: 10px;
      width: 100%;
      background-color: $neutral-10;
      cursor: pointer;
    }
    .x-progress-loaded {
      position: absolute;
      bottom: 0;
      z-index: 20;
      height: 10px;
      width: 70%;
      background-color: $neutral-20;
      cursor: pointer;
    }
    .x-progress-current {
      position: absolute;
      bottom: 0;
      z-index: 30;
      height: 10px;
      width: 50%;
      background-color: $neutral-old-80;
      cursor: pointer;
    }
    .thumb-container {
      position: relative;
      width: calc(100% - 18px);
      background-color: red;
      .x-progress-thumb {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        position: absolute;
        bottom: -5px;
        left: 0%;
        z-index: 50;
        background-color: $neutral-old-80;
        cursor: pointer;
      }
    }
    .x-control-hide {
      display: none;
    }
    .x-absolute-center {
      position: absolute;
      z-index: 20;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .x-control {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: rgba($color: #000000, $alpha: 0.2);
      .x-seek {
        position: absolute;
        bottom: 0;
        -webkit-appearance: none;
        width: 100%;
        height: 10px;
        background: $neutral-20;
        outline: none;
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 18px;
          height: 18px;
          background: $neutral-old-80;
          border-radius: 50%;
          cursor: pointer;
        }
        &::-moz-range-thumb {
          width: 18px;
          height: 18px;
          background: $neutral-old-80;
          border-radius: 50%;
          cursor: pointer;
        }
      }
    }
    .x-fullscreen-control {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 30px;
      height: 100vh;
      width: 100vw;
      z-index: 20;
      color: $neutral-old-10;
      background-color: rgba($color: #000000, $alpha: 0.2);
      .x-control-top {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        .x-icon-share {
          z-index: 30;
          background: url($icon-share) center no-repeat;
          background-size: contain;
          width: 25px;
          height: 25px;
          cursor: pointer;
          @include user-select-none;
        }
        .x-icon-close {
          z-index: 30;
          background: url($icon-x) center no-repeat;
          background-size: contain;
          width: 30px;
          height: 30px;
          cursor: pointer;
          @include user-select-none;
        }
      }
      .x-control-bottom {
        width: 100%;
        .x-progress-bar {
          width: 100%;
          .x-seek {
            -webkit-appearance: none;
            width: 100%;
            height: 5px;
            background: $neutral-old-10;
            outline: none;
            cursor: pointer;
            &::-webkit-slider-thumb {
              -webkit-appearance: none;
              appearance: none;
              width: 18px;
              height: 18px;
              background: transparent;
              cursor: pointer;
            }
            &::-moz-range-thumb {
              width: 18px;
              height: 18px;
              background: transparent;
              cursor: pointer;
            }
          }
        }
        .x-control-buttons {
          display: flex;
          gap: 30px;
          align-items: center;
          margin-top: 10px;

          .x-icon-play {
            z-index: 30;
            background: url($icon-media-play2) center no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
            cursor: pointer;
            @include user-select-none;
          }

          .x-icon-pause {
            z-index: 30;
            background: url($icon-media-pause2) center no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
            cursor: pointer;
            @include user-select-none;
          }

          .x-icon-next {
            z-index: 30;
            background: url($icon-media-next) center no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
            cursor: pointer;
            @include user-select-none;
          }

          .x-icon-volume {
            z-index: 30;
            background: url($icon-media-volume) center no-repeat;
            background-size: contain;
            width: 24px;
            height: 24px;
            cursor: pointer;
            @include user-select-none;
          }

          .x-control-volume {
            -webkit-appearance: none;
            height: 5px;
            align-self: center;
            background: $neutral-old-10;
            outline: none;
            cursor: pointer;
            &::-webkit-slider-thumb {
              -webkit-appearance: none;
              appearance: none;
              width: 5px;
              height: 5px;
              background: transparent;
              cursor: pointer;
            }
            &::-moz-range-thumb {
              width: 5px;
              height: 5px;
              background: transparent;
              cursor: pointer;
            }
          }
        }
      }
    }
    .x-icon-fullscreen {
      position: absolute;
      cursor: pointer;
      bottom: 20px;
      right: 10px;
      z-index: 20;
      background: url($icon-fullscreen) center no-repeat;
      background-size: contain;
      width: 25px;
      height: 25px;
      // filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.4));
      @include user-select-none;
    }

    .x-icon-play-circle {
      z-index: 30;
      background: url($icon-media-play) center no-repeat;
      background-size: contain;
      width: 100px;
      height: 100px;
      // filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.4));
      @include user-select-none;
    }
    .x-icon-pause-circle {
      z-index: 30;
      background: url($icon-media-pause) center no-repeat;
      background-size: contain;
      width: 100px;
      height: 100px;
      // filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.4));
      @include user-select-none;
    }
  }
  .x-icon-eye {
    background: url($icon-eye) center no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    @include user-select-none;
  }
  .x-icon-clock {
    background: url($icon-clock) center no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    @include user-select-none;
  }
}
