.x-welcome-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: url($img-welcome-background) center no-repeat;
  position: absolute;
  z-index: -1;
  background-size: cover;
  .x-welcome-page-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $neutral-old-10;
    height: 75%;
    width: 100%;
    .btn-secondary {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 437px;
      height: 56px;
      @include media-breakpoint-only(xs) {
        width: calc(100% - 48px);
        height: 52px;
      }
    }
    span {
      font-size: 32px;
    }
    .x-form-separator {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 16px 0;
      width: 437px;
      @include media-breakpoint-only(xs) {
        width: calc(100% - 48px);
      }
      .x-separator {
        height: 1px;
        background-color: #454f5b;
        width: 437px;
      }
    }
  }
}
