.x-mainlayout-component {
  .x-content-wrapper {
    display: flex;
    position: relative;
    .x-marginleft-sidebar {
      margin-left: 288px;
      @include media-breakpoint-down(lg) {
        margin: 0;
      }
    }
    @include media-breakpoint-up(xxl) {
      justify-content: center;
    }
    .x-breadscrumb-wrapper {
      padding: 20px 0 8px;
    }
    .x-card {
      position: relative;
      .x-card-cover {
        width: 100%;
        position: relative;
        object-fit: cover;
      }
      .x-cover {
        display: flex;
        justify-content: center;
        position: relative;
        .x-image {
          position: absolute;
          width: 200px;
          height: 190px;
          border-radius: 8px;
          object-fit: cover;
          bottom: -55px;
          z-index: 15;
        }
      }
    }
  }
  .x-content {
    width: 100%;
    max-width: 790px;
    .x-banner {
      width: 100%;
      border-radius: 12px;
      margin-bottom: 32px;
    }
    &.x-sm {
      max-width: 720px !important;
    }
    &.x-md {
      max-width: 790px !important;
    }
    &.x-lg {
      max-width: 840px !important;
    }
    &.x-xl {
      max-width: calc(100% - 296px) !important;
      .container {
        margin: 0;
      }
    }
  }
  .x-content-rightbar {
    @include media-breakpoint-down(lg) {
      display: none !important;
    }
    position: sticky;
    height: calc(100vh - 84px);
    top: 84px;
    width: 100%;
    overflow-y: scroll;
    @include overflow-bar-none;
    display: flex;
    &.x-sm {
      max-width: calc(30% + 6px);
    }
    &.x-md {
      max-width: calc(30% - 64px);
    }
    &.x-lg {
      max-width: calc(30% - 114px);
    }
  }
  .x-bubble-absolute {
    @include text-lg-normal;
    position: fixed;
    width: 106px;
    background: $primary-10;
    border-radius: 8px;
    padding: 4px 8px;
    text-align: center;
    color: $primary-pr-90;
    right: 9.3rem;
    bottom: 5.8rem;
    &:before {
      content: "";
      position: absolute;
      border-left: 8px solid $primary-10;
      border-right: 8px solid transparent;
      border-top: 8px solid $primary-10;
      border-bottom: 8px solid transparent;
      left: 50px;
      bottom: -8px;
    }
  }
  .x-chat-absolute {
    position: fixed;
    right: 11rem;
    bottom: 2rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    gap: 8px;
    .btn {
      background-color: $semantic-hover;
      padding: 0;
      width: 52px;
      height: 52px;
      svg {
        margin: 1rem;
        color: $base-50;
      }
    }
  }
}

.x-admin-message {
  .modal-content {
    padding: 0;
    .modal-header {
      background-color: $primary-10;
    }
  }

  .modal-body {
    padding: 1rem;
    text-align: start;
    .x-input-message {
      .form-control {
        height: 106px;
      }
    }
  }
}
