.x-profilecard-content {
  background-color: $neutral-old-10;
  width: 100%;
  border-radius: 8px;
  box-shadow: $shadow-4;
  border: 1px solid $base-30;
  display: flex;
  align-items: center;
  flex-direction: column;
  .x-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 26px 24px 12px;
    background-color: $primary-10;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    .x-empty-image {
      background-color: $primary-pressed;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 140px;
      height: 140px;
      border-radius: 100%;
    }
  }
  img {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    object-fit: cover;
  }
  .x-separator {
    width: 100%;
    height: 1px;
    background-color: $neutral-10;
  }
  .x-action-personal {
    padding: 26px 24px;
    width: 100%;
    .material-icons-round {
      font-weight: 600;
      font-size: 18px;
      padding-right: 8px;
    }
    .x-interest-wrapper {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      .x-interest {
        width: fit-content;
        padding: 2px 8px;
        background-color: $neutral-old-20;
        border-radius: 4px;
        p {
          @include text-sm-normal;
          margin: 0;
          color: $neutral-old-40;
        }
      }
    }
  }
  .x-action-user {
    padding: 12px 24px 26px;
    width: 100%;
    .x-interest-wrapper {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      .x-interest {
        width: fit-content;
        padding: 2px 12px;
        background-color: $neutral-80;
        border-radius: 32px;
        p {
          @include text-sm-normal;
          margin: 0;
          color: $neutral-old-10;
        }
      }
    }
    .x-button-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
      margin: 16px 0;
      .btn {
        width: 50%;
      }
    }
  }
}
