// color design
$base-10: #ffffff;
$base-20: #F9FAFB;
$base-30: #f4f6f8;

$bleached-white: #DFE3E8;

$primary-hover: #3399CC;
$primary-main: #30A3DD;
$primary-focus: #D6EDF8;
$primary-pressed: #215C7A;
$primary-border: #E0EDF4;
$primary-surface: #F5FCFF;

$secondary-main: #FD7E14;
$secondary-surface: #F5FFFA;

$grey-3: #637381;
$grey-4: #919EAB;
$grey-5: #434343;
$grey-transparent: rgba(106, 106, 106, 0.45);

$neutral-10: #E8EBEF;
$neutral-20: #DBDFE5;
$neutral-30: #C4CAD3;
$neutral-40: #A9B1BC;
$neutral-50: #8D98A4;
$neutral-60: #77828F;
$neutral-70: #5B6676;
$neutral-80: #414D5E;
$neutral-90: #263446;
$neutral-100: #192434;

$semantic-danger-focus: #F8D6D6;
$semantic-danger-pressed: #7A2121;
$semantic-danger-hover: #CC3333;
$semantic-danger-main: #F03A3A;
$semantic-danger-border: #F4E0E0;
$semantic-danger-surface: #FFF5F5;

$semantic-info-surface: #F0F3FF;
$semantic-info-focus: #D6E0F8;
$semantic-info-main: #3267E3;

$semantic-warning-focus: #F8EED6;
$semantic-warning-main: #FAB005;

$semantic-success-focus: #D6F8E8;
$semantic-success-pressed: #20573D;
$semantic-success-hover: #367A59;
$semantic-success-border: #B8DBCA;
$semantic-success-surface: #F5FFFA;
$semantic-success-main: #0DC76C;

$secondary-main: #FD7E14;

$shadow-1: 0px 1px 2px rgba(0, 0, 0, 0.12);
$shadow-2: 0px 4px 8px rgba(0, 0, 0, 0.12);
$shadow-3: 0px 8px 12px rgba(0, 0, 0, 0.12);
$shadow-4: 0px 8px 16px 0px rgba(0, 0, 0, 0.12);
$shadow-5: inset 1px 2px 2px rgba(0, 0, 0, 0.12);

$body-50: #212B36;
$body-60: #454f5b;

$retro-blue: #3287EC;

$green-40: #EDF8EB;
$green-30: #50B83C;

$gradient-manly: linear-gradient(225deg, #548AF0 14.64%, #2DC8ED 85.36%);
$gradient-spring: linear-gradient(225deg, #149E8E 14.64%, #42DF90 85.36%);

// color design by classes
.color-base-10 { color: $base-10; };
.color-base-20 { color: $base-20; };
.color-base-30 { color: $base-30; };

.color-bleached-white { color: $bleached-white; };

.color-primary-hover { color: $primary-hover; };
.color-primary-main { color: $primary-main; };
.color-primary-focus { color: $primary-focus; };
.color-primary-pressed { color: $primary-pressed; };
.color-primary-border { color: $primary-border; };
.color-primary-surface { color: $primary-surface; };

.color-secondary-main { color: $secondary-main; };
.color-secondary-surface { color: $secondary-surface; };

.color-grey-3 { color: $grey-3; };
.color-grey-4 { color: $grey-4; };
.color-grey-5 { color: $grey-5; };
.color-grey-transparent { color: $grey-transparent; };

.color-neutral-10 { color: $neutral-10; };
.color-neutral-20 { color: $neutral-20; };
.color-neutral-30 { color: $neutral-30; };
.color-neutral-40 { color: $neutral-40; };
.color-neutral-old-40 { color: $neutral-50; };
.color-neutral-60 { color: $neutral-60; };
.color-neutral-70 { color: $neutral-70; };
.color-neutral-80 { color: $neutral-80; };
.color-neutral-90 { color: $neutral-90; };
.color-neutral-100 { color: $neutral-100; };

.color-semantic-danger-focus { color: $semantic-danger-focus; };
.color-semantic-danger-pressed { color: $semantic-danger-pressed; };
.color-semantic-danger-hover { color: $semantic-danger-hover; };
.color-semantic-danger-main { color: $semantic-danger-main; };
.color-semantic-danger-border { color: $semantic-danger-border; };
.color-semantic-danger-surface { color: $semantic-danger-surface; };

.color-semantic-info-surface { color: $semantic-info-surface; };
.color-semantic-info-focus { color: $semantic-info-focus; };
.color-semantic-info-main { color: $semantic-info-main; };

.color-semantic-warning-focus { color: $semantic-warning-focus; };
.color-semantic-warning-main { color: $semantic-warning-main; };

.color-semantic-success-focus { color: $semantic-success-focus; };
.color-semantic-success-pressed { color: $semantic-success-pressed; };
.color-semantic-success-hover { color: $semantic-success-hover; };
.color-semantic-success-border { color: $semantic-success-border; };
.color-semantic-success-surface { color: $semantic-success-surface; };
.color-semantic-success-main { color: $semantic-success-main; };

.color-secondary-main { color: $secondary-main; };

.color-shadow-1 { color: $shadow-1; };
.color-shadow-2 { color: $shadow-2; };
.color-shadow-3 { color: $shadow-3; };
.color-shadow-4 { color: $shadow-4; };

.color-body-50 { color: $body-50; };
.color-body-60 { color: $body-60; };

.color-retro-blue { color: $retro-blue; };

.color-green-40 { color: $green-40; };
.color-green-30 { color: $green-30; };

.color-gradient-manly { color: $gradient-manly; };
.color-gradient-spring { color: $gradient-spring; };

// root color
:root {
  --base-10: #{$base-10};
  --base-20: #{$base-20};
  --base-30: #{$base-30};

  --bleached-white: #{$bleached-white};

  --primary-hover: #{$primary-hover};
  --primary-main: #{$primary-main};
  --primary-focus: #{$primary-focus};
  --primary-pressed: #{$primary-pressed};
  --primary-border: #{$primary-border};
  --primary-surface: #{$primary-surface};

  --grey-3: #{$grey-3};
  --grey-4: #{$grey-4};
  --grey-5: #{$grey-5};

  --grey-transparent: #{$grey-transparent};

  --neutral-10: #{$neutral-10};
  --neutral-20: #{$neutral-20};
  --neutral-30: #{$neutral-30};
  --neutral-40: #{$neutral-40};
  --neutral-50: #{$neutral-50};
  --neutral-60: #{$neutral-60};
  --neutral-70: #{$neutral-70};
  --neutral-80: #{$neutral-80};
  --neutral-90: #{$neutral-90};
  --neutral-100: #{$neutral-100};

  --semantic-danger-main: #{$semantic-danger-main};
  --semantic-danger-hover: #{$semantic-danger-hover};
  --semantic-danger-focus: #{$semantic-danger-focus};
  --semantic-danger-pressed: #{$semantic-danger-pressed};
  --semantic-danger-border: #{$semantic-danger-border};
  --semantic-danger-surface: #{$semantic-danger-surface};

  --semantic-info-surface: #{$semantic-info-surface};
  --semantic-info-focus: #{$semantic-info-focus};
  --semantic-info-main: #{$semantic-info-main};

  --semantic-warning-focus: #{$semantic-warning-focus};
  --semantic-warning-main: #{$semantic-warning-main};

  --semantic-success-focus: #{$semantic-success-focus};
  --semantic-success-pressed: #{$semantic-success-pressed};
  --semantic-success-hover: #{$semantic-success-hover};
  --semantic-success-border: #{$semantic-success-border};
  --semantic-success-surface: #{$semantic-success-surface};
  --semantic-success-main: #{$semantic-success-main};

  --secondary-main: #{$secondary-main};

  --shadow-1: #{$shadow-1};
  --shadow-2: #{$shadow-2};
  --shadow-3: #{$shadow-3};
  --shadow-4: #{$shadow-4};

  --body-50: #{$body-50};
  --body-60: #{$body-60};

  --retro-blue: #{$retro-blue};
  --primary-surface: #{$primary-surface};

  --green-40: #{$green-40};
  --green-30: #{$green-30};

  --gradient-manly: #{$gradient-manly};
  --gradient-spring: #{$gradient-spring};
}

// others

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);
