$icon-eye: '~/public/assets/icons/icon-eye.svg';
$icon-eye-linethrough: '~/public/assets/icons/icon-eye-linethrough.svg';
$icon-mail-verification: '~/public/assets/icons/icon-mail-verification.svg';
$icon-eventeer: '~/public/assets/icons/icon-eventeer.svg';
$icon-add-images: '~/public/assets/icons/icon-add-images.svg';
$icon-register-success: '~/public/assets/icons/icon-register-success.svg';
$icon-chat: '~/public/assets/icons/icon-chat.svg';
$icon-bell: '~/public/assets/icons/icon-bell.svg';
$icon-image: '~/public/assets/icons/icon-image.svg';
$icon-cheveron-down: '~/public/assets/icons/icon-cheveron-down.svg';
$icon-like: '~/public/assets/icons/icon-like.svg';
$icon-comment: '~/public/assets/icons/icon-comment.svg';
$icon-reshare: '~/public/assets/icons/icon-reshare.svg';
$icon-post-button: '~/public/assets/icons/icon-post-button.svg';
$icon-delete: '~/public/assets/icons/icon-delete.svg';
$icon-delete-success: '~/public/assets/icons/icon-delete-success.svg';
$icon-close: '~/public/assets/icons/icon-close.svg';
$icon-changepassword-success: '~/public/assets/icons/icon-changepassword-success.svg';
$icon-clock: '~/public/assets/icons/icon-clock.svg';
$icon-media-play: '~/public/assets/icons/icon-media-play.svg';
$icon-media-pause: '~/public/assets/icons/icon-media-pause.svg';
$icon-fullscreen: '~/public/assets/icons/icon-fullscreen.svg';
$icon-x: '~/public/assets/icons/icon-x.svg';
$icon-share: '~/public/assets/icons/icon-share.svg';
$icon-media-play2: '~/public/assets/icons/icon-media-play2.svg';
$icon-media-pause2: '~/public/assets/icons/icon-media-pause2.svg';
$icon-media-next: '~/public/assets/icons/icon-media-next.svg';
$icon-media-volume: '~/public/assets/icons/icon-media-volume.svg';
$icon-eye: '~/public/assets/icons/icon-eye.svg';
$icon-eye-linethrough: '~/public/assets/icons/icon-eye-linethrough.svg';
$icon-mail-verification: '~/public/assets/icons/icon-mail-verification.svg';
$icon-eventeer: '~/public/assets/icons/icon-eventeer.svg';
$icon-eventeer-grey: '~/public/assets/icons/icon-eventeer-grey.svg';
$icon-add-images: '~/public/assets/icons/icon-add-images.svg';
$icon-register-success: '~/public/assets/icons/icon-register-success.svg';
$icon-chat: '~/public/assets/icons/icon-chat.svg';
$icon-bell: '~/public/assets/icons/icon-bell.svg';
$icon-image: '~/public/assets/icons/icon-image.svg';
$icon-cheveron-down: '~/public/assets/icons/icon-cheveron-down.svg';
$icon-like: '~/public/assets/icons/icon-like.svg';
$icon-comment: '~/public/assets/icons/icon-comment.svg';
$icon-reshare: '~/public/assets/icons/icon-reshare.svg';
$icon-post-button: '~/public/assets/icons/icon-post-button.svg';
$icon-delete: '~/public/assets/icons/icon-delete.svg';
$icon-delete-success: '~/public/assets/icons/icon-delete-success.svg';
$icon-close: '~/public/assets/icons/icon-close.svg';
$icon-changepassword-success: '~/public/assets/icons/icon-changepassword-success.svg';
$icon-post-success: '~/public/assets/icons/icon-post-success.svg';
$icon-blocked: '~/public/assets/icons/icon-blocked.svg';
$icon-exclamation-circle: '~/public/assets/icons/icon-exclamation-circle.svg';
$icon-user: '~/public/assets/icons/icon-user.svg';
$icon-connection: '~/public/assets/icons/icon-connection.svg';
$icon-organizer: '~/public/assets/icons/icon-organizer.svg';
$icon-notif: '~/public/assets/icons/icon-notif.svg';
$icon-medal: '~/public/assets/icons/icon-medal.svg';
$icon-location: '~/public/assets/icons/icon-location.svg';
$icon-empty-activity: '~/public/assets/icons/icon-empty-activity.svg';
$icon-empty-portfolio: '~/public/assets/icons/icon-empty-portfolio.svg';
$icon-add-message: '~/public/assets/icons/icon-add-message.svg';
$icon-send-message: '~/public/assets/icons/icon-send-message.svg';
$icon-pencil-alt: '~/public/assets/icons/icon-pencil-alt.svg';
$icon-badge: '~/public/assets/icons/icon-badge.svg';
$icon-eventeer-white: '~/public/assets/icons/icon-eventeer-white.svg';
$icon-back: '~/public/assets/icons/icon-back.svg';
$icon-group: '~/public/assets/icons/icon-group.svg';
$icon-mi-filter: '~/public/assets/icons/icon-mi-filter.svg';
$icon-webinar: '~/public/assets/icons/icon-webinar.svg';
$icon-url: '~/public/assets/icons/icon-url.svg';
$icon-play: '~/public/assets/icons/icon-play.svg';
$icon-zoom-in: '~/public/assets/icons/icon-zoom-in.svg';
$icon-zoom-out: '~/public/assets/icons/icon-zoom-out.svg';
$icon-close-zoom-modal: '~/public/assets/icons/icon-close-zoom-modal.svg';
$icon-reset-zoom: '~/public/assets/icons/icon-reset-zoom.svg';
$icon-indigo-white: '~/public/assets/icons/icon-indigo-white.svg';
