$img-welcome-background: '~/public/assets/images/img-welcome-background.jpg';
$img-logo-eventeer-blue: '~/public/assets/images/img-logo-eventeer-blue.svg';
$img-logo-eventeer: '~/public/assets/images/img-logo-eventeer.svg';
$img-logo-eventeer-white: '~/public/assets/images/img-logo-eventeer-white.svg';
$img-webinar-background: '~/public/assets/images/img-webinar-background.jpg';
$img-collaboration-background: '~/public/assets/images/img-collaboration-background.jpg';
$img-submission-background: '~/public/assets/images/img-submission-background.jpg';
$img-mediastreaming-background: '~/public/assets/images/img-mediastreaming-background.jpg';
$img-webinar-header: '~/public/assets/images/img-webinar-header.jpg';
$img-landing-introduction: '~/public/assets/images/img-landing-introduction.png';
$img-landing-introduction-desktop: '~/public/assets/images/img-landing-introduction-desktop.png';
$img-landing-value: '~/public/assets/images/img-landing-value.jpg';
$img-landing-rectanglebackground: '~/public/assets/images/img-landing-rectanglebackground.svg';
$img-landing-dotbackground: '~/public/assets/images/img-landing-dotbackground.svg';
$img-landing-features: '~/public/assets/images/img-landing-features.svg';
$img-landing-features-mobile: '~/public/assets/images/img-landing-features-mobile.svg';
$img-phone-mobile: '~/public/assets/images/img-phone-mobile.png';
$img-rectangle-background: '~/public/assets/images/img-rectangle-background.svg';
$img-landing-community: '~/public/assets/images/img-landing-community.png';
$img-landing-learning: '~/public/assets/images/img-landing-learning.png';
$img-landing-event: '~/public/assets/images/img-landing-event.png';
$img-webinar-cover: '~/public/assets/images/img-webinar-cover.png';
$img-detailweb-cover: '~/public/assets/images/img-detailweb-cover.png';
$img-landing-mobile-horizontal: '~/public/assets/images/img-landing-mobile-horizontal.svg';
$img-landing-mobile-vertical: '~/public/assets/images/img-landing-mobile-vertical.png';
$img-landing-mobile: '~/public/assets/images/img-landing-mobile.png';
$img-landing-web-horizontal: '~/public/assets/images/img-landing-web-horizontal.svg';
$img-landing-web-vertical: '~/public/assets/images/img-landing-web-vertical.svg';
$img-download-playstore: '~/public/assets/images/img-download-playstore.svg';
$img-download-apple: '~/public/assets/images/img-download-apple.svg';
$img-device-laptop: '~/public/assets/images/img-device-laptop.png';
$img-bg-detail-speaker: '~/public/assets/images/img-bg-detail-speaker.svg';
$img-ratecard-background: '~/public/assets/images/img-ratecard-background.svg';
$img-default-cover-profile: '~/public/assets/images/img-default-cover-profile.png';
$img-chat-background: '~/public/assets/images/img-chat-background.png';
$img-myproject-thumbnail: '~/public/assets/images/img-myproject-thumbnail.png';


// indigo
$img-logo-indigo: '~/public/assets/images/img-logo-indigo.svg';
$img-banner-speakerdetail: '~/public/assets/images/img-banner-speakerdetail.svg';
$img-ecertificate-background: '~/public/assets/images/img-ecertificate-background.svg';
