// color design
$neutral-950: #1A1A1A;
$neutral-900: #242424;
$neutral-850: #2E2E2E;
$neutral-800: #383838;
$neutral-750: #424242;
$neutral-700: #4D4D4D;
$neutral-650: #575757;
$neutral-600: #616161;
$neutral-550: #6B6B6B;
$neutral-500: #757575;
$neutral-450: #A3A3A3;
$neutral-400: #ADADAD;
$neutral-350: #B8B8B8;
$neutral-300: #C2C2C2;
$neutral-250: #CCCCCC;
$neutral-200: #D6D6D6;
$neutral-150: #E0E0E0;
$neutral-100: #EBEBEB;
$neutral-50: #F5F5F5;

$neutral-old-90: #0B0B0B;
$neutral-old-80: #1C1C1C;
$neutral-old-70: #2E2E2E;
$neutral-old-60: #404040;
$neutral-old-50: #525252;
$neutral-old-40: #6B6B6B;
$neutral-old-30: #CECECE;
$neutral-old-20: #F1F1F1;
$neutral-old-10: #FFFFFF;

$base-900: #000000;
$base-200: #F4F6F8;
$base-100: #F9FAFB;
$base-50: #ffffff;

$primary-150: #290000;
$primary-140: #440000;
$primary-130: #660000;
$primary-120: #880000;
$primary-110: #A80000;
$primary-100: #CC0000;
$primary-90: #D52B2B;
$primary-80: #DD5555;
$primary-70: #E68080;
$primary-60: #EEAAAA;
$primary-50: #F1B8B8;
$primary-40: #F4C6C6;
$primary-30: #F7D5D5;
$primary-20: #F9E3E3;
$primary-10: #FCEEEE;

$primary-old-90: #2D0407;
$primary-old-80: #43060A;
$primary-old-70: #6D0B11;
$primary-old-60: #980F19;
$primary-old-50: #ED1827;
$primary-old-40: #F04450;
$primary-old-30: #F46F79;
$primary-old-20: #F9B1B6;
$primary-old-10: #FCDCDF;

$primary-pr-120: #8A0000;
$primary-pr-90: #D52A2A;
$primary-pr-10: #1A1A1A;

$semantic-main: #CC0000;
$semantic-focus: rgba(204, 0, 0, 0.2);
$semantic-surface: #F5CCCC;
$semantic-border: #EEAAAA;
$semantic-hover: #AA0000;
$semantic-pressed: #660000;

$warning-main: #FBC02D;
$warning-focus: rgba(251, 192, 45, 0.2);
$warning-surface: #FEF2D5;
$warning-border: #FEEAB9;
$warning-hover: #D1A025;
$warning-pressed: #7D6016;

$success-main: #2BA640;
$success-focus: rgba(43, 166, 64, 0.2);
$success-surface: #D5EDD9;
$success-border: #B8E1BF;
$success-hover: #248A35;
$success-pressed: #155320;

$danger-main: #FF4E45;
$danger-focus: rgba(255, 78, 69, 0.2);
$danger-surface: #FFDCDA;
$danger-border: #FFC4C1;
$danger-hover: #D44139;
$danger-pressed: #802722;

$info-main: #5E84F1;
$info-focus: rgba(94, 132, 241, 0.2);
$info-surface: #DFE6FC;
$info-border: #C9D6FA;
$info-hover: #4E6EC9;
$info-pressed: #2F4278;

// color design by classes
.color {
  &-neutral {
    &-950 { color: $neutral-950 !important; };
    &-900 { color: $neutral-900 !important; };
    &-850 { color: $neutral-850 !important; };
    &-800 { color: $neutral-800 !important; };
    &-750 { color: $neutral-750 !important; };
    &-700 { color: $neutral-700 !important; };
    &-650 { color: $neutral-650 !important; };
    &-600 { color: $neutral-600 !important; };
    &-550 { color: $neutral-550 !important; };
    &-500 { color: $neutral-500 !important; };
    &-450 { color: $neutral-450 !important; };
    &-400 { color: $neutral-400 !important; };
    &-350 { color: $neutral-350 !important; };
    &-300 { color: $neutral-300 !important; };
    &-250 { color: $neutral-250 !important; };
    &-200 { color: $neutral-200 !important; };
    &-150 { color: $neutral-150 !important; };
    &-100 { color: $neutral-100 !important; };
    &-50 { color: $neutral-50 !important; };

    &-old {
      &-90 { color: $neutral-old-90 !important; };
      &-80 { color: $neutral-old-80 !important; };
      &-70 { color: $neutral-old-70 !important; };
      &-60 { color: $neutral-old-60 !important; };
      &-50 { color: $neutral-old-50 !important; };
      &-40 { color: $neutral-old-40 !important; };
      &-30 { color: $neutral-old-30 !important; };
      &-20 { color: $neutral-old-20 !important; };
      &-10 { color: $neutral-old-10 !important; };
    }
  }

  &-base {
    &-900 { color: $base-900 !important; };
    &-200 { color: $base-200 !important; };
    &-100 { color: $base-100 !important; };
    &-50 { color: $base-50 !important; };
  }

  &-primary {
    &-150 { color: $primary-150 !important; };
    &-140 { color: $primary-140 !important; };
    &-130 { color: $primary-130 !important; };
    &-120 { color: $primary-120 !important; };
    &-110 { color: $primary-110 !important; };
    &-100 { color: $primary-100 !important; };
    &-90 { color: $primary-90 !important; };
    &-80 { color: $primary-80 !important; };
    &-70 { color: $primary-70 !important; };
    &-60 { color: $primary-60 !important; };
    &-50 { color: $primary-50 !important; };
    &-40 { color: $primary-40 !important; };
    &-30 { color: $primary-30 !important; };
    &-20 { color: $primary-20 !important; };
    &-10 { color: $primary-10 !important; };

    &-old {
      &-90 { color: $primary-old-90 !important; };
      &-80 { color: $primary-old-80 !important; };
      &-70 { color: $primary-old-70 !important; };
      &-60 { color: $primary-old-60 !important; };
      &-50 { color: $primary-old-50 !important; };
      &-40 { color: $primary-old-40 !important; };
      &-30 { color: $primary-old-30 !important; };
      &-20 { color: $primary-old-20 !important; };
      &-10 { color: $primary-old-10 !important; };
    }

    &-pr {
      &-120 { color: $primary-pr-120 !important; };
      &-90 { color: $primary-pr-90 !important; };
      &-10 { color: $primary-pr-10 !important; };
    }
  }

  &-semantic {
    &-main { color: $semantic-main !important; };
    &-focus { color: $semantic-focus !important; };
    &-surface { color: $semantic-surface !important; };
    &-border { color: $semantic-border !important; };
    &-hover { color: $semantic-hover !important; };
    &-pressed { color: $semantic-pressed !important; };
  }

  &-warning {
    &-main { color: $warning-main !important; };
    &-focus { color: $warning-focus !important; };
    &-surface { color: $warning-surface !important; };
    &-border { color: $warning-border !important; };
    &-hover { color: $warning-hover !important; };
    &-pressed { color: $warning-pressed !important; };
  }

  &-success {
    &-main { color: $success-main !important; };
    &-focus { color: $success-focus !important; };
    &-surface { color: $success-surface !important; };
    &-border { color: $success-border !important; };
    &-hover { color: $success-hover !important; };
    &-pressed { color: $success-pressed !important; };
  }

  &-danger {
    &-main { color: $danger-main !important; };
    &-focus { color: $danger-focus !important; };
    &-surface { color: $danger-surface !important; };
    &-border { color: $danger-border !important; };
    &-hover { color: $danger-hover !important; };
    &-pressed { color: $danger-pressed !important; };
  }

  &-info {
    &-main { color: $info-main !important; };
    &-focus { color: $info-focus !important; };
    &-surface { color: $info-surface !important; };
    &-border { color: $info-border !important; };
    &-hover { color: $info-hover !important; };
    &-pressed { color: $info-pressed !important; };
  }
}

.bg {
  &-neutral {
    &-950 { background-color: $neutral-950 !important; };
    &-900 { background-color: $neutral-900 !important; };
    &-850 { background-color: $neutral-850 !important; };
    &-800 { background-color: $neutral-800 !important; };
    &-750 { background-color: $neutral-750 !important; };
    &-700 { background-color: $neutral-700 !important; };
    &-650 { background-color: $neutral-650 !important; };
    &-600 { background-color: $neutral-600 !important; };
    &-550 { background-color: $neutral-550 !important; };
    &-500 { background-color: $neutral-500 !important; };
    &-450 { background-color: $neutral-450 !important; };
    &-400 { background-color: $neutral-400 !important; };
    &-350 { background-color: $neutral-350 !important; };
    &-300 { background-color: $neutral-300 !important; };
    &-250 { background-color: $neutral-250 !important; };
    &-200 { background-color: $neutral-200 !important; };
    &-150 { background-color: $neutral-150 !important; };
    &-100 { background-color: $neutral-100 !important; };
    &-50 { background-color: $neutral-50 !important; };

    &-old {
      &-90 { background-color: $neutral-old-90 !important; };
      &-80 { background-color: $neutral-old-80 !important; };
      &-70 { background-color: $neutral-old-70 !important; };
      &-60 { background-color: $neutral-old-60 !important; };
      &-50 { background-color: $neutral-old-50 !important; };
      &-40 { background-color: $neutral-old-40 !important; };
      &-30 { background-color: $neutral-old-30 !important; };
      &-20 { background-color: $neutral-old-20 !important; };
      &-10 { background-color: $neutral-old-10 !important; };
    }
  }

  &-base {
    &-900 { background-color: $base-900 !important; };
    &-200 { background-color: $base-200 !important; };
    &-100 { background-color: $base-100 !important; };
    &-50 { background-color: $base-50 !important; };
  }

  &-primary {
    &-150 { background-color: $primary-150 !important; };
    &-140 { background-color: $primary-140 !important; };
    &-130 { background-color: $primary-130 !important; };
    &-120 { background-color: $primary-120 !important; };
    &-110 { background-color: $primary-110 !important; };
    &-100 { background-color: $primary-100 !important; };
    &-90 { background-color: $primary-90 !important; };
    &-80 { background-color: $primary-80 !important; };
    &-70 { background-color: $primary-70 !important; };
    &-60 { background-color: $primary-60 !important; };
    &-50 { background-color: $primary-50 !important; };
    &-40 { background-color: $primary-40 !important; };
    &-30 { background-color: $primary-30 !important; };
    &-20 { background-color: $primary-20 !important; };
    &-10 { background-color: $primary-10 !important; };

    &-old {
      &-90 { background-color: $primary-old-90 !important; };
      &-80 { background-color: $primary-old-80 !important; };
      &-70 { background-color: $primary-old-70 !important; };
      &-60 { background-color: $primary-old-60 !important; };
      &-50 { background-color: $primary-old-50 !important; };
      &-40 { background-color: $primary-old-40 !important; };
      &-30 { background-color: $primary-old-30 !important; };
      &-20 { background-color: $primary-old-20 !important; };
      &-10 { background-color: $primary-old-10 !important; };
    }

    &-pr {
      &-120 { background-color: $primary-pr-120 !important; };
      &-90 { background-color: $primary-pr-90 !important; };
      &-10 { background-color: $primary-pr-10 !important; };
    }
  }

  &-semantic {
    &-main { background-color: $semantic-main !important; };
    &-focus { background-color: $semantic-focus !important; };
    &-surface { background-color: $semantic-surface !important; };
    &-border { background-color: $semantic-border !important; };
    &-hover { background-color: $semantic-hover !important; };
    &-pressed { background-color: $semantic-pressed !important; };
  }

  &-warning {
    &-main { background-color: $warning-main !important; };
    &-focus { background-color: $warning-focus !important; };
    &-surface { background-color: $warning-surface !important; };
    &-border { background-color: $warning-border !important; };
    &-hover { background-color: $warning-hover !important; };
    &-pressed { background-color: $warning-pressed !important; };
  }

  &-success {
    &-main { background-color: $success-main !important; };
    &-focus { background-color: $success-focus !important; };
    &-surface { background-color: $success-surface !important; };
    &-border { background-color: $success-border !important; };
    &-hover { background-color: $success-hover !important; };
    &-pressed { background-color: $success-pressed !important; };
  }

  &-danger {
    &-main { background-color: $danger-main !important; };
    &-focus { background-color: $danger-focus !important; };
    &-surface { background-color: $danger-surface !important; };
    &-border { background-color: $danger-border !important; };
    &-hover { background-color: $danger-hover !important; };
    &-pressed { background-color: $danger-pressed !important; };
  }

  &-info {
    &-main { background-color: $info-main !important; };
    &-focus { background-color: $info-focus !important; };
    &-surface { background-color: $info-surface !important; };
    &-border { background-color: $info-border !important; };
    &-hover { background-color: $info-hover !important; };
    &-pressed { background-color: $info-pressed !important; };
  }
}

// root color
:root {
  --neutral-950: #{$neutral-950};
  --neutral-900: #{$neutral-900};
  --neutral-850: #{$neutral-850};
  --neutral-800: #{$neutral-800};
  --neutral-750: #{$neutral-750};
  --neutral-700: #{$neutral-700};
  --neutral-650: #{$neutral-650};
  --neutral-600: #{$neutral-600};
  --neutral-550: #{$neutral-550};
  --neutral-500: #{$neutral-500};
  --neutral-450: #{$neutral-450};
  --neutral-400: #{$neutral-400};
  --neutral-350: #{$neutral-350};
  --neutral-300: #{$neutral-300};
  --neutral-250: #{$neutral-250};
  --neutral-200: #{$neutral-200};
  --neutral-150: #{$neutral-150};
  --neutral-100: #{$neutral-100};
  --neutral-50: #{$neutral-50};

  --neutral-old-90: #{$neutral-old-90};
  --neutral-old-80: #{$neutral-old-80};
  --neutral-old-70: #{$neutral-old-70};
  --neutral-old-60: #{$neutral-old-60};
  --neutral-old-50: #{$neutral-old-50};
  --neutral-old-40: #{$neutral-old-40};
  --neutral-old-30: #{$neutral-old-30};
  --neutral-old-20: #{$neutral-old-20};
  --neutral-old-10: #{$neutral-old-10};

  --base-900: #{$base-900};
  --base-200: #{$base-200};
  --base-100: #{$base-100};
  --base-50: #{$base-50};

  --primary-150: #{$primary-150};
  --primary-140: #{$primary-140};
  --primary-130: #{$primary-130};
  --primary-120: #{$primary-120};
  --primary-110: #{$primary-110};
  --primary-100: #{$primary-100};
  --primary-90: #{$primary-90};
  --primary-80: #{$primary-80};
  --primary-70: #{$primary-70};
  --primary-60: #{$primary-60};
  --primary-50: #{$primary-50};
  --primary-40: #{$primary-40};
  --primary-30: #{$primary-30};
  --primary-20: #{$primary-20};
  --primary-10: #{$primary-10};

  --primary-old-90: #{$primary-old-90};
  --primary-old-80: #{$primary-old-80};
  --primary-old-70: #{$primary-old-70};
  --primary-old-60: #{$primary-old-60};
  --primary-old-50: #{$primary-old-50};
  --primary-old-40: #{$primary-old-40};
  --primary-old-30: #{$primary-old-30};
  --primary-old-20: #{$primary-old-20};
  --primary-old-10: #{$primary-old-10};

  --primary-pr-120: #{$primary-pr-120};
  --primary-pr-90: #{$primary-pr-90};
  --primary-pr-10: #{$primary-pr-10};

  --semantic-main: #{$semantic-main};
  --semantic-focus: #{$semantic-focus};
  --semantic-surface: #{$semantic-surface};
  --semantic-border: #{$semantic-border};
  --semantic-hover: #{$semantic-hover};
  --semantic-pressed: #{$semantic-pressed};

  --warning-main: #{$warning-main};
  --warning-focus: #{$warning-focus};
  --warning-surface: #{$warning-surface};
  --warning-border: #{$warning-border};
  --warning-hover: #{$warning-hover};
  --warning-pressed: #{$warning-pressed};

  --success-main: #{$success-main};
  --success-focus: #{$success-focus};
  --success-surface: #{$success-surface};
  --success-border: #{$success-border};
  --success-hover: #{$success-hover};
  --success-pressed: #{$success-pressed};

  --danger-main: #{$danger-main};
  --danger-focus: #{$danger-focus};
  --danger-surface: #{$danger-surface};
  --danger-border: #{$danger-border};
  --danger-hover: #{$danger-hover};
  --danger-pressed: #{$danger-pressed};

  --info-main: #{$info-main};
  --info-focus: #{$info-focus};
  --info-surface: #{$info-surface};
  --info-border: #{$info-border};
  --info-hover: #{$info-hover};
  --info-pressed: #{$info-pressed};
}
