.x-skeleton {
  background: #ddd;
  border-radius: 5px;
  &.x-big-heading {
    width: 50%;
    min-width: 100px;
    height: 48px;
    margin-bottom: 8px;
  }
  &.x-title {
    width: 50%;
    min-width: 100px;
    height: 24px;
    margin-bottom: 8px;
  }

  &.x-text {
    width: 100%;
    height: 14px;
  }
  &.x-text:last-child {
    width: 70%;
  }

  &.x-subtitle {
    width: 100%;
    height: 16px;
    margin-bottom: 10px;
    min-width: 150px;
  }
  &.x-subtitle:last-child {
    width: 70%;
  }

  &.x-tag {
    width: 100%;
    height: 25px;
    min-width: 150px;
  }

  &.x-collab-text {
    width: 100%;
    height: 16px;
    margin-bottom: 10px;
    min-width: 150px;
  }

  &.x-collab-text:last-child {
    width: 70%;
  }

  &.x-cardtitle {
    width: 100%;
    height: 16px;
    margin-bottom: 10px;
    min-width: 150px;
  }

  &.x-cardtitle:nth-child(even) {
    width: 70%;
  }

  &.x-button {
    width: 100%;
    min-width: 50px;
    max-width: 90px;
    display: inline-block;
    height: 25px;
  }

  &.x-button-lg {
    width: 100%;
    min-width: 50px;
    max-width: 90px;
    display: inline-block;
    height: 35px;
  }
  &.x-button-event {
    width: 82.500px;
    height: 24px;
  }

  &.banner {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 560px;
    height: 315px;
  }

  &.x-banner-lv2-lg {
    overflow: hidden;
    width: 100%;
    height: 343.125px;
  }

  &.x-banner-lv2 {
    overflow: hidden;
    width: 100%;
    height: 277.719px;
  }
  &.x-event-image {
    width: 100%;
    height: 187px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  &.x-activity {
    width: 100%;
    height: 144px;
    border-radius: 8px;
  }

  &.x-webinar {
    width: 100%;
    height: 237.156px;
    margin: 0;
  }
  &.x-agenda {
    width: 100%;
    height: 205px;
    margin: 0;
  }

  &.x-banner2 {
    width: 100%;
    height: 277.719px;
    margin: 0;
  }

  &.x-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0;
  }

  &.x-avatar-sm {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  &.x-play {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  &.x-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  &.x-avatar-event {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &.sm {
    min-width: 60px;
    max-width: 60px;
  }
  &.md {
    min-width: 150px;
  }
  &.lg {
    min-width: 250px;
    width: 80%;
  }
}


.loading {
  background: #cecece;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #dedede, transparent);
    transform: translateX(-100%);
    animation: loading 1s infinite;
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}