@font-face {
  font-family: 'Raleway-Regular';
  src: url('~/public/assets/fonts/Raleway/Raleway-Regular.otf') format('opentype');
  src: url('~/public/assets/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-RegularItalic';
  src: url('~/public/assets/fonts/Raleway/Raleway-RegularItalic.otf') format('opentype');
  src: url('~/public/assets/fonts/Raleway/Raleway-RegularItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url('~/public/assets/fonts/Raleway/Raleway-Medium.otf') format('opentype');
  src: url('~/public/assets/fonts/Raleway/Raleway-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-MediumItalic';
  src: url('~/public/assets/fonts/Raleway/Raleway-MediumItalic.otf') format('opentype');
  src: url('~/public/assets/fonts/Raleway/Raleway-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url('~/public/assets/fonts/Raleway/Raleway-Bold.otf') format('opentype');
  src: url('~/public/assets/fonts/Raleway/Raleway-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-BoldItalic';
  src: url('~/public/assets/fonts/Raleway/Raleway-BoldItalic.otf') format('opentype');
  src: url('~/public/assets/fonts/Raleway/Raleway-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url('~/public/assets/fonts/Raleway/Raleway-ExtraBold.otf') format('opentype');
  src: url('~/public/assets/fonts/Raleway/Raleway-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-ExtraBoldItalic';
  src: url('~/public/assets/fonts/Raleway/Raleway-ExtraBoldItalic.otf') format('opentype');
  src: url('~/public/assets/fonts/Raleway/Raleway-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-Black';
  src: url('~/public/assets/fonts/Raleway/Raleway-Black.otf') format('opentype');
  src: url('~/public/assets/fonts/Raleway/Raleway-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway-BlackItalic';
  src: url('~/public/assets/fonts/Raleway/Raleway-BlackItalic.otf') format('opentype');
  src: url('~/public/assets/fonts/Raleway/Raleway-BlackItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Gwendolyn-Regular';
  src: url('~/public/assets/fonts/gwendolyn/Gwendolyn-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Gwendolyn-Bold';
  src: url('~/public/assets/fonts/gwendolyn/Gwendolyn-Bold.ttf') format('truetype');
}
