body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: $base-30;
  text-rendering: optimizeLegibility;
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.container {
  @include media-breakpoint-up(xl) {
    max-width: 1140px;
  }
}
.form-check {
  .form-check-input {
    width: 1.25em !important;
    height: 1.25em !important;
    margin-top: 0.2em !important;
    border-color: $neutral-40 !important;
    margin-left: -2em !important;
    border-radius: 6px;
    cursor: pointer;
    @include user-select-none;
    &:checked {
      background-color: $semantic-main;
      border: none;
    }
  }
}
.form-label {
  @include text-lg-light;
  @include media-breakpoint-only(xs) {
    @include text-md-light;
  }
}
.form-control, .form-select {
  @include text-lg-light;
  @include media-breakpoint-only(xs) {
    @include text-sm-light;
  }
  color: $neutral-80;
  &::placeholder {
    color: $neutral-30;
  }
  &.x-danger {
    border: 1px solid $semantic-danger-main;
  }
}
hr {
  color: $neutral-40;
}
.cursor-pointer {
  cursor: pointer !important;
}
input:focus, select:focus, textarea:focus {
  border-color: $semantic-focus !important;
  box-shadow: 0 0 0 0.25rem $semantic-focus !important;
}
.btn {
  @include text-lg-normal;
  @include media-breakpoint-only(xs) {
    @include text-md-normal;
    @include line-height-md;
  }
  padding: 0.5rem 1.25rem;
  width: 100%;
  border: none;
  border-radius: 6px;
  &:focus {
    box-shadow: 0 0 0 0.25rem $semantic-focus !important;
  }
  &.btn-primary {
    background: $semantic-main;
  }
  &.btn-secondary {
    background: $grey-transparent;
  }
  &.btn-cancel {
    background: $base-50;
    border: 1px solid $semantic-main;
    color: $semantic-main;
  }
  &.btn-disable {
    background: $base-50;
    // border: 1px solid $neutral-60;
    border: 1px solid $neutral-20;
    color: $neutral-60;
  }
  &.btn-emergency {
    background: $semantic-danger-focus;
    border: 1px solid $semantic-danger-main;
    color: $semantic-danger-main;
  }
  &.btn-success {
    background: $base-50;
    border: 1px solid $semantic-success-main;
    color: $semantic-success-main;
  }
  &.btn-link {
    color: $semantic-main;
    text-decoration: none;
    background: none !important;
    text-decoration: none !important;
    padding: 0;
    &:focus {
      box-shadow: none !important;
    }
  }
  &.btn-topic {
    color: $neutral-60;
    background: $base-30;
    box-shadow: $shadow-1;
  }
  &.btn-delete {
    background: $primary-10;
    box-shadow: $shadow-1;
    color: $semantic-main;
  }
  &.btn-danger {
    background: $semantic-danger-main;
    box-shadow: $shadow-1;
    color: $base-50;
  }
  &.btn-copy {
    color: $base-30;
    background: $semantic-surface;
  }
}
.modal {
  .modal-content {
    padding: 0.8rem;
    margin: 0 2rem;
    // border-radius: 0.4rem;
    border-radius: 0.7rem;
    position: relative;
    .x-modalexit-icon {
      position: absolute;
      right: 12px;
      top: 12px;
      cursor: pointer;
      @include user-select-none;
      z-index: 50;
    }
  }
  .modal-header {
    border: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .x-image-account {
      width: 48px;
      height: 48px;
      margin-right: 16px;
      border-radius: 100%;
      object-fit: cover;
    }
    .modal-title {
      @include heading-md-bold;
      @include media-breakpoint-only(xs) {
        @include heading-sm-bold;
      }
      text-align: center;
      color: $neutral-old-80;
    }
  }
  .modal-body {
    // @include media-breakpoint-only(xs) {
    @include text-lg-normal;
    // }
    color: $neutral-60;
    text-align: center;
    padding: 0 1rem 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .modal-footer {
    &.x-border-none {
      border: none;
    }
    border-top: 1px solid $primary-10;
    width: calc(100% + 1.6rem);
    margin-left: -0.8rem;
  }
}
.x-card-form {
  padding: 60px 36px;
  background: $base-50;
  box-shadow: $shadow-3;
  border-radius: 12px;
  width: 500px;
  height: fit-content;
  margin: 50px 0;
  position: relative;
  h1 {
    @include heading-xl-bolder;
    color: $grey-5;
    @include media-breakpoint-down(sm) {
      @include heading-lg-bolder;
    }
  }
  p {
    @include text-lg-normal;
    color: $grey-3;
    padding-bottom: 3rem;
    @include media-breakpoint-down(sm) {
      @include text-md-normal;
      padding-bottom: 1.8rem;
    }
  }
}
