/* headings design system (class-based) for DOM used */
.heading-xl-light { font-family: Raleway-Regular; font-size: 48px; line-height: 48px; };
.heading-lg-light { font-family: Raleway-Regular; font-size: 32px; line-height: 40px; };
.heading-md-light { font-family: Raleway-Regular; font-size: 24px; line-height: 32px; };
.heading-sm-light { font-family: Raleway-Regular; font-size: 16px; line-height: 24px; };

.heading-xl-normal { font-family: Raleway-Medium; font-weight: 600; font-size: 48px; line-height: 48px; };
.heading-lg-normal { font-family: Raleway-Medium; font-weight: 600; font-size: 32px; line-height: 40px; };
.heading-md-normal { font-family: Raleway-Medium; font-weight: 600; font-size: 24px; line-height: 32px; };
.heading-sm-normal { font-family: Raleway-Medium; font-weight: 600; font-size: 16px; line-height: 24px; };

.heading-xl-bold { font-family: Raleway-Bold; font-size: 48px; line-height: 48px; };
.heading-lg-bold { font-family: Raleway-Bold; font-size: 32px; line-height: 40px; };
.heading-md-bold { font-family: Raleway-Bold; font-size: 24px; line-height: 32px; };
.heading-sm-bold { font-family: Raleway-Bold; font-size: 16px; line-height: 24px; };

.heading-xl-bolder { font-family: Raleway-ExtraBold; font-size: 48px;line-height: 48px; letter-spacing: -1px; };
.heading-lg-bolder { font-family: Raleway-ExtraBold; font-size: 32px; line-height: 40px; };
.heading-md-bolder { font-family: Raleway-ExtraBold; font-size: 24px; line-height: 32px; };
.heading-sm-bolder { font-family: Raleway-ExtraBold; font-size: 16px; line-height: 24px; };

/* headings design system (mixin) for styling used */
@mixin heading-xl-light() { font-family: Raleway-Regular; font-size: 48px; line-height: 48px; };
@mixin heading-lg-light() { font-family: Raleway-Regular; font-size: 32px; line-height: 40px; };
@mixin heading-md-light() { font-family: Raleway-Regular; font-size: 24px; line-height: 32px; };
@mixin heading-sm-light() { font-family: Raleway-Regular; font-size: 16px; line-height: 24px; };

@mixin heading-xl-normal() { font-family: Raleway-Medium; font-weight: 600; font-size: 48px; line-height: 48px; };
@mixin heading-lg-normal() { font-family: Raleway-Medium; font-weight: 600; font-size: 32px; line-height: 40px; };
@mixin heading-md-normal() { font-family: Raleway-Medium; font-weight: 600; font-size: 24px; line-height: 32px; };
@mixin heading-sm-normal() { font-family: Raleway-Medium; font-weight: 600; font-size: 16px; line-height: 24px; };

@mixin heading-xl-bold() { font-family: Raleway-Bold; font-size: 48px; line-height: 48px; };
@mixin heading-lg-bold() { font-family: Raleway-Bold; font-size: 32px; line-height: 40px; };
@mixin heading-md-bold() { font-family: Raleway-Bold; font-size: 24px; line-height: 32px; };
@mixin heading-sm-bold() { font-family: Raleway-Bold; font-size: 16px; line-height: 24px; };

@mixin heading-xl-bolder() { font-family: Raleway-ExtraBold; font-size: 48px;line-height: 48px; letter-spacing: -1px; };
@mixin heading-lg-bolder() { font-family: Raleway-ExtraBold; font-size: 32px; line-height: 40px; };
@mixin heading-md-bolder() { font-family: Raleway-ExtraBold; font-size: 24px; line-height: 32px; };
@mixin heading-sm-bolder() { font-family: Raleway-ExtraBold; font-size: 16px; line-height: 24px; };

/* paragraphs design system (class-based) for DOM used */
.text-sm-light { font-family: Raleway-Regular; font-size: 12px; line-height: 24px; };
.text-md-light { font-family: Raleway-Regular; font-size: 14px; line-height: 24px; };
.text-lg-light { font-family: Raleway-Regular; font-size: 16px; line-height: 24px; };
.text-xl-light { font-family: Raleway-Regular; font-size: 18px; line-height: 24px; };

.text-sm-normal { font-family: Raleway-Medium; font-weight: 600; font-size: 12px; line-height: 24px; };
.text-md-normal { font-family: Raleway-Medium; font-weight: 600; font-size: 14px; line-height: 24px; };
.text-lg-normal { font-family: Raleway-Medium; font-weight: 600; font-size: 16px; line-height: 24px; };
.text-xl-normal { font-family: Raleway-Medium; font-weight: 600; font-size: 18px; line-height: 24px; };

.text-sm-bold { font-family: Raleway-Bold; font-size: 12px; line-height: 24px; };
.text-md-bold { font-family: Raleway-Bold; font-size: 14px; line-height: 24px; };
.text-lg-bold { font-family: Raleway-Bold; font-size: 16px; line-height: 24px; };
.text-xl-bold { font-family: Raleway-Bold; font-size: 18px; line-height: 24px; };

.text-sm-bolder { font-family: Raleway-ExtraBold; font-size: 12px; line-height: 24px; };
.text-md-bolder { font-family: Raleway-ExtraBold; font-size: 14px; line-height: 24px; };
.text-lg-bolder { font-family: Raleway-ExtraBold; font-size: 16px; line-height: 24px; };
.text-xl-bolder { font-family: Raleway-ExtraBold; font-size: 18px; line-height: 24px; };

/* paragraphs design system (mixin) for styling used */
@mixin text-sm-light() { font-family: Raleway-Regular; font-size: 12px; line-height: 24px; };
@mixin text-md-light() { font-family: Raleway-Regular; font-size: 14px; line-height: 24px; };
@mixin text-lg-light() { font-family: Raleway-Regular; font-size: 16px; line-height: 24px; };
@mixin text-xl-light() { font-family: Raleway-Regular; font-size: 18px; line-height: 24px; };

@mixin text-sm-normal() { font-family: Raleway-Medium; font-weight: 600; font-size: 12px; line-height: 24px; };
@mixin text-md-normal() { font-family: Raleway-Medium; font-weight: 600; font-size: 14px; line-height: 24px; };
@mixin text-lg-normal() { font-family: Raleway-Medium; font-weight: 600; font-size: 16px; line-height: 24px; };
@mixin text-xl-normal() { font-family: Raleway-Medium; font-weight: 600; font-size: 18px; line-height: 24px; };

@mixin text-sm-bold() { font-family: Raleway-Bold; font-size: 12px; line-height: 24px; };
@mixin text-md-bold() { font-family: Raleway-Bold; font-size: 14px; line-height: 24px; };
@mixin text-lg-bold() { font-family: Raleway-Bold; font-size: 16px; line-height: 24px; };
@mixin text-xl-bold() { font-family: Raleway-Bold; font-size: 18px; line-height: 24px; };

@mixin text-sm-bolder() { font-family: Raleway-ExtraBold; font-size: 12px; line-height: 24px; };
@mixin text-md-bolder() { font-family: Raleway-ExtraBold; font-size: 14px; line-height: 24px; };
@mixin text-lg-bolder() { font-family: Raleway-ExtraBold; font-size: 16px; line-height: 24px; };
@mixin text-xl-bolder() { font-family: Raleway-ExtraBold; font-size: 18px; line-height: 24px; };

/* paragraphs design system (class-based) for DOM used */
.line-height-lg { line-height: 24px; };
.line-height-md { line-height: 20px; };
.line-height-sm { line-height: 16px; };

/* paragraphs design system (mixin) for styling used */
@mixin line-height-lg() { line-height: 24px; };
@mixin line-height-md() { line-height: 20px; };
@mixin line-height-sm() { line-height: 16px; };

// misc
.overflow-bar-none {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}
@mixin overflow-bar-none() {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}
.user-select-none {
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
@mixin user-select-none() {
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
.cursor-pointer {
  cursor: pointer !important;
}
@mixin cursor-pointer() {
  cursor: pointer !important;
}
