.x-cardexplorecollaboration-component {
  background: $neutral-old-10;
  box-shadow: $shadow-1;
  border: 1px solid $neutral-10;
  border-radius: 8px;
  margin: 12px 0;
  .x-badge {
    @include text-sm-normal;
    margin: 0;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    color: $neutral-old-10;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 2px 20px;
    &.x-badge-progress {
      background: $gradient-manly !important;
    }
    &.x-badge-active {
      background: $gradient-spring !important;
    }
  }
  .x-card-image {
    height: 185px !important;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .x-card-body {
    padding: 8px 16px;
    background-color: $neutral-old-10;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    .x-interest-tag {
      @include text-md-light;
      @include line-height-sm;
      color: $grey-4;
      margin: 0;
      padding: 8px;
      border-radius: 4px;
      width: max-content;
      background-color: $base-30;
    }
  }
}
