.x-filterdetail-collaboration {
  .x-modal {
    .x-separator {
      height: 1px;
      background-color: $neutral-20;
    }
    .x-list-city {
      height: 400px;
      overflow-y: scroll;
      @include overflow-bar-none;
      text-align: left;
    }
  }
}
