.x-card-lv2 {
  border: 1px solid $neutral-10;
  box-sizing: border-box;
  box-shadow: $shadow-1;
  border-radius: 8px;
  .x-image {
    object-fit: cover;
    width: 100%;
    height: 205px;
    border-radius: 8px;
    cursor: pointer;
  }
}
