.x-carduser-component {
  display: flex;
  // align-items: center;
  .x-profile-picture {
    margin-top: 4px;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    &.x-image {
      object-fit: cover;
    }
    &.x-initial {
      background-color: $semantic-pressed;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .x-detail-wrapper {
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .x-admin-badge {
      background-color: $primary-10;
      display: flex;
      align-items: center;
      color: $semantic-main;
      border-radius: 6px;
      padding: 0 6px;
      gap: 2px;
      span {
        @include text-sm-normal;
        @include line-height-sm;
        font-size: 8px;
      }
    }
    .x-skeleton-title{
      height: 20px;
      min-width: 150px;
      margin-bottom: 4px;
      width: 100%;
    }
    .x-skeleton-text{
      height: 12px;
      margin-bottom: 4px;
      width: 100%;
    }
    .x-skeleton-text:nth-child(even){
      width: 50%;
    }
  }
}
