.x-person-card {
  width: 100%;
  display: flex;
  .x-speaker-identity {
    padding: 12px;
    width: 100%;
    display: flex;
    .x-profile-img {
      .x-image-account {
        object-fit: cover;
        margin-right: 4px;
        width: 48px;
        height: 48px;
        border-radius: 100%;
      }
      .x-empty-image {
        background-color: $neutral-old-80;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 4px;
        width: 48px;
        height: 48px;
        border-radius: 100%;
      }
    }
    .x-speaker-name {
      padding: 0 4px;
    }
  }
  .x-speaker-name {
    padding: 0 4px;
  }
}
