.x-rightbar-box {
  width: 100%;
  margin-bottom: 16px;
  max-width: 372px;
  .x-speaker-list {
    border-radius: 12px;
    height: max-content;
    box-shadow: $shadow-1;
    .x-speaker-header {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      padding: 16px;
      background: $primary-old-10;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
    // .x-listname-speaker {
    //   width: 100%;
    //   max-height: 300px;
    //   overflow-y: scroll;
    // }
  }
}
