// .x-upload-image{
//     justify-content: center;
//     align-items: center;
//     width: 100px;
//     label {
//         width: 100%;
//     }
// }
// .x-cover-input{
//     input {
//         display: none;
//     }
// }
    .x-image-preview{
        justify-content: flex-start;
        img {
           width: 100%;
           height: 120px;
           object-fit: cover;
           box-shadow: 0px 1px 2px rgb(0, 0, 0.12);
           background: $base-30;
        }
        .x-col-image{
            padding-top: 11px;

        }
    }
