    .x-image-upload {
      display: flex;
      justify-content: center;
      align-items: center;
      .x-upload-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 115px;
        height: 115px;
        .x-empty-image {
          background-color: $primary-pressed;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          border-radius: 100%;
          p {
            @include heading-xl-light;
            margin: 0;
            color: $neutral-old-10;
          }
        }
        @include media-breakpoint-only(xs) {
          width: 90px;
          height: 90px;
        }
        border-radius: 100%;
        img {
          width: 115px;
          height: 115px;
          @include media-breakpoint-only(xs) {
            width: 90px;
            height: 90px;
          }
          border-radius: 100%;
          object-fit: cover;
        }
        input[type="file"] {
          display: none;
        }
        .x-icon-add-images {
          width: 37px;
          height: 37px;
          @include media-breakpoint-only(xs) {
            width: 30px;
            height: 30px;
          }
          background-color: $warning-main;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          position: absolute;
          bottom: 0;
          right: 0;
          cursor: pointer;
          span {
            color: $neutral-old-10;
            font-size: 18px;
          }
        }
      }
    }
