.x-agendaregistration-page {
  width: 100%;
  .x-bannercard {
    margin-top: 8px;
    .row {
      padding: 16px !important;
    }
    img {
      height: 225px;
    }
  }
  hr {
    color: $neutral-40;
  }
}

.x-agendaregister-modal {
    .x-success {
      width: 230px !important;
      height: 230px !important;
      &.x-success-image {
        background-image: url($icon-register-success) !important;
      }
    }
}
