.x-banner-detail {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .x-banner-box {
    border: 1px solid $neutral-20;
    border-radius: 8px;
    padding: 16px 32px;
    img {
      width: 100%;
      height: 315px;
      object-fit: cover;
      margin-bottom: 24px;
      border-radius: 8px;
    }
    .text-body {
      @include text-lg-light;
      color: $neutral-70 !important;
      text-align: justify;
      font-style: normal;
      padding-bottom: 16px;
    }
  }
}
