.x-carousel-section {
  border: 1px solid $neutral-20;
  border-radius: 8px;
  padding: 16px 32px;
  max-width: 840px;
  overflow: hidden;
  position: relative;
  ::-webkit-scrollbar {
    display: none;
  }
  .x-arrow-navigation {
    position: absolute;
    top: 16px;
    height: calc(100% - 61px);
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    &.x-right {
      right: 15px;
    }
    &.x-left {
      left: 15px;
    }
    .x-arrow-button {
      width: 32px;
      height: 32px;
      background-color: $semantic-main;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      @include user-select-none;
      span {
        color: $neutral-old-10;
      }
    }
  }
  .x-carousel-wrapper {
    display: flex;
    white-space: nowrap;
    width: 100%;
    // overflow-y: scroll;
    overflow: hidden;
    scroll-behavior: smooth;
    box-sizing: content-box;
    gap: 30px;
    position: relative;
    .x-carousel-item {
      width: 560px;
      height: 315px;
      border-radius: 6px;
      @include user-select-none;
      img {
        width: inherit;
        height: inherit;
        border-radius: 6px;
        object-fit: cover;
      }
    }
  }
  .x-indicator-wrapper {
    display: flex;
    width: 100%;
    margin-top: 16px;
    .x-indicator {
      display: flex;
      width: 100%;
      gap: 16px;
      list-style: none;
      margin: 0;
      padding: 0;
      .x-indicator-item {
        width: 13px;
        height: 13px;
        cursor: pointer;
        @include user-select-none;
        background-color: $bleached-white;
        border-radius: 25px;
        &.active {
          width: 39px;
          background-color: $semantic-main;
        }
      }
    }
  }
}
