// .x-header-breadcrumblv1 {
//   display: flex;
//   align-items: center;
//   padding: 20px 24px 0;
//   gap: 12px;
//   list-style-type: none;

//   li,
//   a,
//   span,
//   div {
//     text-decoration: none;
//     font-weight: 600;
//     color: $neutral-60;
//   }

//   span:last-child {
//     color: $neutral-old-80;
//   }

//   div:last-child {
//     display: none;
//   }
// }

.x-header-breadcrumblv1 {
  display: flex;
  align-items: flex-end;
  .btn-cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    box-shadow: $shadow-1;
  }
  .material-icons-round {
    padding: 1px 8px;
    color: $neutral-50;
    font-weight: 600;
    font-size: 20px;
  }
  .active {
    @include text-lg-normal;
    color: $semantic-main !important;
  }
}
