  .x-header-breadcrumb {
    position: fixed;
    width: 100%;
    // z-index: 50;
    .btn-cancel {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      padding: 0;
      border: none;
      box-shadow: $shadow-1;
    }
    .material-icons-round {
      padding: 0 8px;
      color: $neutral-50;
    }
    .active {
      @include text-lg-normal;
      color: $semantic-main !important;
    }
  }
