.x-header-breadcrumblv2 {
  display: flex;
  align-items: center;
  padding: 20px 24px 0;
  gap: 12px;
  a,
  span {
    text-decoration: none;
    font-weight: 600;
    color: $neutral-60;
  }
  .active {
    color: $neutral-old-80;
  }
}
