.x-card-section {
  padding: 12px;

  .x-dot-separator {
    font-size: 8px;
    color: $neutral-60;
    margin: 0 3px;
  }

  .x-card {
    border-radius: 8px;
    position: relative;
    box-shadow: $shadow-1;
    cursor: pointer;
    padding: 0;
    height: 100%;

    img {
      width: 100%;
      height: 227px;
      object-fit: cover;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    .x-card-skeleton {
      width: 100%;
      height: 237.156px;
    }

    .x-subtitle-skeleton {
      width: 100%;
      height: 12px;
    }

    .x-subtitle-skeleton:last-child{
      width: 70%;
    }

    .x-title-skeleton {
      width: 100%;
      height: 20px;
    }
  }

  .x-post-card {
    border: 1px solid $neutral-20;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;

    img {
      margin-top: 4px;
      width: 48px;
      height: 48px;
      border-radius: 100%;
    }

    .x-empty-image {
      background-color: $primary-pressed;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 4px;
      width: 48px;
      height: 48px;
      border-radius: 100%;
    }

    .btn-primary {
      margin-top: 4px;
      width: 64px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .x-divider {
      width: 100%;
      height: 1px;
      background-color: $neutral-20;
      margin: 16px 0;
    }

    .x-tag-wrapper {
      gap: 16px;
      display: flex;
      flex-wrap: wrap;
      padding: 0 15px 16px;

      .x-tag-label {
        background-color: $base-30;
        border-radius: 4px;

        p {
          padding: 4px 8px;
        }
      }
    }

    .x-footer-wrapper {
      display: flex;
      align-items: center;
      height: 52px;
      background-color: $base-30;

      span {
        font-size: 18px;
        color: $neutral-60;
        margin-right: 5px;
      }

      .x-icon-reshare {
        background: url($icon-reshare) center no-repeat;
        background-size: contain;
        height: 16px;
        width: 14px;
      }
    }
  }
}