.x-cardmenu-section {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  .x-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 144px;
    border-radius: 8px;
  }
  .x-section-detail {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 115px;
    @include user-select-none;
    .x-icon {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 90px;
      height: 55px;
      border-radius: 8px;
    }
  }
}
