.x-content-collab {
  display: flex;
  flex-direction: column;
  border: 1px solid $neutral-20;
  border-radius: 8px;
  padding: 20px 0 0 0;
  width: 100%;
  position: static;
  box-sizing: border-box;

  .detail-head {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    .head-left {
      display: flex;

      .left-pic {
        img {
          object-fit: cover;
          margin: 8px;
          width: 48px;
          height: 48px;
          border-radius: 100%;
          margin: 0;
        }
      }

      .left-profile {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        .x-dot {
          width: 4px;
          margin: 0px 4px;
          height: 4px;
          border-radius: 100%;
          background-color: $neutral-60;
        }
      }
    }
  }

  .detail-content {
    padding: 0 20px;

    .content-img {
      display: flex;
      flex-direction: column;
      gap: 20px;
      img {
        border-radius: 8px;
      }
    }

    .content-tag {
      margin-top: 20px;
      button {
        font-size: 0.7rem;
        padding: 4px 8px;
      }
    }
  }

  .x-footer-feeds {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 16px 20px;
    background: $base-30;
    border-radius: 0px 0px 8px 8px;
    padding: 8px 2px;
    width: 100%;

    .like-icon-text {
      display: flex;
      cursor: pointer;
      align-items: center;
      .x-icon-like {
        font-weight: 600;
        font-size: 18px;
        padding: 0;
        margin: 0;
        padding-right: 4px;
      }
    }

    .x-icon-reshare {
      background: url($icon-reshare) center no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;
      @include user-select-none;
      cursor: pointer;
    }
  }

  .detail-comment {
    .comment-post {
      display: flex;
      flex-direction: column;
      padding: 10px 20px;
      gap: 20px;

      .comment-count {
        color: $neutral-60;
      }

      .comment-post-detail {
        display: flex;
        gap: 20px;

        .comment-post-pict {
          img {
            object-fit: cover;
            margin: 8px;
            width: 48px;
            height: 48px;
            border-radius: 100%;
            margin: 0;
          }
        }
        .comment-input {
          flex-grow: 1;
          input {
            width: 100%;
            height: 100%;
            border: 1px solid $neutral-20;
            border-radius: 8px;
            padding: 10px;
          }
        }
        .comment-button {
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            // height: 100%;
          }
        }

        // input {
        //   background-color: red;
        //   width: min-content;
        // }
      }
    }

    .comment-list {
      padding: 10px 20px;
    }
  }

  .x-post-header {
    .x-empty-image {
      background-color: $primary-pressed;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      border-radius: 100%;
    }
    .x-image-account {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      border-radius: 100%;
    }
  }
}
