.x-comment-post {
  display: flex;
  gap: 20px;

  .comment-post-pict {
    img {
      object-fit: cover;
      margin: 8px;
      width: 48px;
      height: 48px;
      border-radius: 100%;
      margin: 0;
    }
  }
  .comment-input {
    flex-grow: 1;
    input {
      width: 100%;
      height: 100%;
      border: 1px solid $neutral-20;
      border-radius: 8px;
      padding: 10px;
    }
  }
  .comment-button {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      // height: 100%;
    }
  }

  // input {
  //   background-color: red;
  //   width: min-content;
  // }
}
