.x-comment-card {
  display: flex;
  gap: 20px;
  margin: 10px 0;

  .x-comment-profile {
    img {
      object-fit: cover;
      margin: 8px;
      width: 48px;
      height: 48px;
      border-radius: 100%;
      margin: 0;
    }
  }

  .x-comment-content {
    width: 100%;
    .content-top {
      padding: 5px 10px;
      background-color: $neutral-10;
      border-radius: 8px;
    }

    .x-content-bottom {
      display: flex;
      gap: 6px;
      margin-top: 5px;
      margin-bottom: 10px;
      align-items: center;
      color: $neutral-70;
      font-size: 0.8rem;
      font-weight: 600;
      .x-icon-like {
        background: url($icon-like) center no-repeat;
        background-size: contain;
        width: 16px;
        height: 16px;
        @include user-select-none;
        cursor: pointer;
      }
    }

    .x-input-reply {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      margin-right: 10px;
      input {
        width: 100%;
        height: 100%;
        border: 1px solid $neutral-20;
        border-radius: 8px;
        padding: 10px;
      }
      button {
        margin-left: 10px;
        max-width: 80px;
        button {
          height: 100%;
        }
      }
    }
  }
}
