
  .x-contentbox-section {
    border: 1px solid $neutral-20;
    border-radius: 8px;
    padding: 24px 16px;
    // max-width: 840px;
    &.x-border-none {
      border: none !important;
    }
    .x-icon-filter {
      background: url($icon-mi-filter) center no-repeat;
      background-size: contain;
      width: 18px;
      height: 18px;
    }
    .x-divider {
      width: 100%;
      margin: 0;
      height: 1px;
      background-color: $neutral-20;
      &.x-divider-full {
        width: calc(100% + 32px);
        margin-left: -16px;
      }
    }
    .x-toggle-wrapper {
      display: flex;
      gap: 32px;
      .x-toggle {
        width: fit-content;
        cursor: pointer;
        @include user-select-none;
        p {
          color: $neutral-60;
        }
        .active {
          color: $neutral-old-80;
        }
        .x-divider {
          height: 1px;
          width: 100%;
          background-color: $neutral-old-80;
        }
      }
    }
  }
