.x-detail-group {
  // width: 433px;
  width: 330px;
  // height: calc(100% - 84px);
  height: calc(100vh - 84px);
  top: 84px;
  background-color: $base-20;
  right: 0px;
  .x-detail-header {
    z-index: 1;
    background: $base-20;
    display: flex;
    padding: 22px 22px 21px;
    position: sticky;
    width: inherit;
    border-bottom: 2px solid rgba(33, 92, 122, 0.1);
    border-left: 2px solid rgba(33, 92, 122, 0.1);
    display: flex;
    align-items: center;
    position: sticky;
  }
  .x-detail-content {
    height: calc(100% - 70px);
    overflow-y: scroll;
    @include overflow-bar-none;
    .x-profile-photo-group {
      margin-top: 16px;
      width: 100%;
      .x-upload-wrapper {
        width: 150px;
        height: 150px;
        img {
          width: 150px;
          height: 150px;
        }
      }
      .x-upload-profile-wrapper {
        width: max-content;
        justify-content: center;
        margin: auto;
        img {
          width: 200px;
          height: 200px;
          border-radius: 100%;
          justify-content: center;
          align-items: center;
          margin: auto;
        }
        .x-empty-image {
          background-color: $primary-pressed;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 200px;
          height: 200px;
          border-radius: 100%;
          margin: auto;
        }
        .x-icon-add-photos {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 58px;
          height: 58px;
          background-color: $neutral-old-80;
          border-radius: 100%;
          position: relative;
          margin-left: 68%;
          margin-top: -25%;
          padding: 16px;
          cursor: pointer;
          input[type="file"] {
            display: none;
          }
        }
      }
    }
    .x-separator-profile {
      border: 1px solid rgba(33, 92, 122, 0.1);
      width: 100%;
      margin-top: 12px;
    }
    .x-group-name {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 8px;
      .x-icon-pencil-alt {
        background: url($icon-pencil-alt) center no-repeat;
        background-size: contain;
        width: 17px;
        height: 17px;
        justify-content: center;
        @include user-select-none;
        cursor: pointer;
      }
    }
    .x-member-group {
      padding: 16px;
    }
    .x-change-adm-false {
      .x-member-wrap {
        padding: 0px 16px;
        background-color: $base-20;
        .x-add-member {
          padding: 4px 0px;
          .x-add {
            padding: 8px;
            background-color: $neutral-old-80;
            border-radius: 100%;
            width: 52px;
            height: 52px;
            justify-content: center;
            display: flex;
          }
        }
        .x-separator-member {
          border: 1px solid rgba(33, 92, 122, 0.05);
          width: 100%;
        }
        .x-showmore {
          justify-content: center;
          margin: 8px 0px;
          display: flex;
          align-items: center;
          cursor: pointer;
          @include user-select-none;
        }
      }
    }
    .x-change-adm-true {
      background-color: $base-20;
      .x-wrap {
        padding: 0px 16px;
        .x-image-account {
          width: 52px;
          height: 52px;
          border-radius: 100%;
        }
        .checkbox-round {
          width: 1em;
          height: 1em;
          background-color: white;
          border-radius: 50%;
          vertical-align: middle;
          border: 1px solid #ddd;
          appearance: none;
          -webkit-appearance: none;
          outline: none;
          cursor: pointer;
        }
        .checkbox-round:checked {
          background-color: $neutral-old-80;
        }
        .x-member-des {
          background-color: $base-20;
        }
      }
      .x-finish-change-admin {
        background: $neutral-old-10;
        &:hover {
          background-color: $neutral-10;
        }
        .x-finish {
          padding: 16px;
          justify-content: center;
        }
      }
    }
    .x-leave-group {
      background: $neutral-old-10;
      &:hover {
        background-color: $neutral-10;
      }
      .x-leave {
        padding: 16px;
        display: flex;
        align-items: center;
        &.x-grey {
          color: $neutral-80;
        }
        &.x-red {
          color: $semantic-danger-hover;
        }
        span {
          padding: 0;
        }
        p {
          margin: 0;
          margin-left: 12px;
          @include text-md-bold;
          @include line-height-sm;
        }
      }
    }
    .x-dec-group {
      background: $base-20;
      .x-dec {
        padding: 16px;
      }
    }
  }
}
