.x-chat {
  width: 100%;
  display: flex;
  height: calc(100vh - 84px);
  .x-chat-detail {
    background-image: url($img-chat-background);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    // height: 100%;
    // min-height: 100vh;
    &.x-grup-detail {
      width: 100%;
    }
    .x-chat-header {
      height: 68px;
      background: $base-20;
      display: flex;
      padding: 12px 12px 12px 16px;
      // position: sticky;
      // top: 84px;
      width: 100%;
      .x-image-account {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        object-fit: cover;
      }
      .x-empty-image {
        background-color: $primary-pressed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 100%;
      }
    }
    .x-chat-wrapper {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: calc(100% - 152px);
      .x-main-chat {
        width: inherit;
        overflow-y: scroll;
        @include overflow-bar-none;
        height: 100%;
        padding-top: 20px;
        .x-chat-notification {
          display: flex;
          justify-content: center;
          align-items: center;
          width: max-content;
          border-radius: 8px;
          padding: 8px 12px;
          margin: auto;
          margin-top: 5px;
          max-width: 525px;
          p {
            text-align: center;
          }
          &.x-date {
            background: $semantic-pressed;
            box-shadow: $shadow-2;
            p {
              color: $neutral-old-10;
            }
          }
          &.x-activity {
            background: $neutral-old-10;
            box-shadow: $shadow-1;
            p {
              color: $neutral-50;
            }
          }
        }
        .x-chat-sender {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 10px 16px;
          background: $semantic-hover;
          box-shadow: $shadow-1;
          border-radius: 8px 0px 12px 8px;
          max-width: 600px;
          height: max-content;
          word-break: break-word;
          p {
            color: $neutral-old-10;
            margin: 0;
            @include text-lg-light;
          }
          mention {
            color: $semantic-surface;
          }
          img {
            width: 405px;
            height: 263px;
            object-fit: cover;
            cursor: pointer;
          }
        }
        .x-chat-receiver {
          align-items: center;
          padding: 10px 16px;
          background: $neutral-old-10;
          box-shadow: $shadow-1;
          border-radius: 0px 6px 6px 6px;
          max-width: 600px;
          height: max-content;
          word-break: break-word;
          img {
            width: 405px;
            height: 263px;
            object-fit: cover;
          }
        }
      }
    }
    .x-chat-footer {
      // min-height: 68px;
      // max-height: 250px;
      background: $base-20;
      display: flex;
      flex-direction: row;
      padding: 16px 8px;
      // position: sticky;
      // bottom: 0;
      width: 100%;
      cursor: pointer;
    }
    .x-attachment {
      margin: 0 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      .dropdown {
        button {
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          background: transparent;
          border-radius: 100%;
          &::after {
            display: none;
          }
        }
        .dropdown-menu {
          padding: 0;
          box-shadow: $shadow-2;
          border: none;
          border-radius: 8px;
          transform: translate(-10px, -68px) !important;
          z-index: 50;
          .dropdown-item {
            padding: 0.8rem 1.2rem;
            &:hover {
              background: $semantic-surface;
            }
            .x-attachment-menu {
              display: flex;
              cursor: pointer;
              @include user-select-none;
              position: relative;
              input[type="file"] {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                min-width: 100%;
                min-height: 100%;
                opacity: 0;
                -moz-opacity: 0;
                cursor: pointer;
                &#file-upload-button {
                  cursor: pointer;
                }
              }
              .x-icon-wrapper {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 8px;
                background-color: $base-30;
                border-radius: 100%;
                span {
                  font-size: 20px;
                  color: $grey-4;
                }
              }
              .x-detail-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                p {
                  @include text-lg-light;
                  margin: 0;
                  color: $body-60;
                  + p {
                    @include text-sm-normal;
                    color: $neutral-old-80;
                    margin: 0;
                    @include line-height-md;
                  }
                }
              }
            }
          }
        }
      }
    }
    .input-reply {
      display: flex;
      align-items: center;
      width: calc(100% - 127px);
      textarea {
        // max-width: 1200px;
        // max-height: 200px;
        max-height: 88px;
        height: auto;
        resize: none;
        overflow: hidden;
        width: 100%;
        background: $base-30;
        border: none;
        border-radius: 4px;
        padding: 8px 12px;
      }
      .x-input-message {
        width: 100%;
        max-height: 150px;
        min-height: 48px;
        max-width: 100%;
        .x-input-message__highlighter {
          max-height: 87px;
        }
        .x-input-message__suggestions {
          width: 100%;
          height: 300px;
          overflow: scroll;
          top: -320px !important;
          max-height: 300px;

          background-color: $neutral-old-10;
          box-shadow: $shadow-2;
          border: none;
          border-radius: 8px;
        }
        .x-group-member {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 0.8rem 1.2rem;
          position: relative;
          &:hover {
            background: $semantic-surface;
          }
          .x-image-account {
            width: 48px;
            height: 48px;
            border-radius: 100%;
            object-fit: cover;
          }
          .x-empty-image {
            background-color: $primary-pressed;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            border-radius: 100%;
          }
        }
      }
    }
    .x-send {
      border-radius: 100%;
      background: $neutral-old-80;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 16px;
      &.x-send-disable {
        background: $semantic-surface;
      }
      .x-icon-send-message {
        background: url($icon-send-message) center no-repeat;
        background-size: contain;
        width: 17px;
        height: 17px;
        @include user-select-none;
        cursor: pointer;
        margin: 0;
      }
    }
    .x-group {
      display: flex;
      z-index: 50;
      margin-left: 6%;
      margin-bottom: 1000px;
      width: 95%;
      .x-memberlist {
        margin-top: -30%;
        background-color: $neutral-old-10;
        width: 95%;
        box-shadow: $shadow-2;
        border: none;
        border-radius: 8px;
        transform: translate(-10px, -68px) !important;
        z-index: 50;
        .x-group-member {
          display: flex;
          padding: 0.8rem 1.2rem;
          position: relative;
          &:hover {
            background: $semantic-surface;
          }
          .x-image-account {
            width: 48px;
            height: 48px;
            border-radius: 100%;
            object-fit: cover;
          }
          .x-empty-image {
            background-color: $primary-pressed;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            border-radius: 100%;
          }
        }
      }
    }
  }
}
