.x-emptystate-component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  .x-rounded-icon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background: linear-gradient(180deg, #dfe3e8 0%, #c4cdd5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    span {
      color: $neutral-old-10;
      font-size: 32px;
    }
  }
  h4 {
    @include text-md-normal;
    margin: 0;
    // padding-bottom: 8px;
    color: $neutral-70;
  }
  p {
    @include text-sm-light;
    margin: 0;
    color: $neutral-50;
    @include line-height-sm;
    width: 50%;
  }
}
