.x-feed-detail {
  width: 100%;
  .x-breadcrumb-wrapper {
    padding: 20px 10px 8px;
  }
  .x-content-feed {
    display: flex;
    flex-direction: column;
    border: 1px solid $neutral-20;
    border-radius: 8px;
    margin: 0 10px 20px;
    padding: 20px 0;
    width: 100%;
    max-width: 720px;

    .detail-head {
      display: flex;
      justify-content: space-between;
      padding: 0 12px;
    }

    .detail-content {
      padding: 12px;

      .x-contentfeeds-wrapper {
        margin-top: 16px;
        .x-image-row {
          padding: 0 0.5rem;
          .col {
            position: relative;
            img {
              border-radius: 0;
              margin-top: 0;
              width: 100%;
              height: 240px;
              object-fit: cover;
              box-shadow: $shadow-1;
              background: $base-30;
              cursor: pointer;
              &.x-height-lg {
                height: 315px;
              }
              &.x-height-xl {
                height: 650px;
              }
            }
          }
        }
      }
      .content-img {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .x-journey-card {
        border: 1px solid $neutral-20;
        border-radius: 8px;
        padding: 12px;

        .content-journey {
          display: flex;
          flex-direction: column;
        }
      }

      .content-tag {
        margin-top: 20px;
        button {
          font-size: 0.7rem;
          padding: 4px 8px;
        }
      }
    }

    .detail-like {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      padding: 16px 20px;
      background-color: $neutral-10;
      .like-icon-text {
        display: flex;
        cursor: pointer;
        align-items: center;
        .x-icon-like {
          font-weight: 600;
          font-size: 18px;
          padding: 0;
          margin: 0;
          padding-right: 4px;
        }
      }

      // .x-icon-like {
      //   background: url($icon-like) center no-repeat;
      //   background-size: contain;
      //   width: 20px;
      //   height: 20px;
      //   @include user-select-none;
      // }
      .x-icon-reshare {
        background: url($icon-reshare) center no-repeat;
        background-size: contain;
        width: 20px;
        height: 20px;
        @include user-select-none;
        cursor: pointer;
      }
    }

    .detail-comment {
      .comment-post {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        gap: 20px;

        .comment-count {
          color: $neutral-60;
        }
      }

      .comment-list {
        padding: 10px 20px;
      }
    }

    .x-post-header {
      .x-empty-image {
        background-color: $semantic-pressed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 100%;
      }
      .x-image-account {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 100%;
      }
    }
  }
}
