.x-feeds-post {
  margin: 16px;
  position: static;
  border: 1px solid $neutral-20;
  border-radius: 8px;
  box-sizing: border-box;
  .x-post-reshare {
    margin-left: -16px;
    margin-right: -16px;
  }
  .x-post-header {
    height: min-content;
    display: flex;
    justify-content: space-between;
    img {
      width: 48px;
      height: 48px;
      border-radius: 100%;
    }
    .x-empty-image {
      background-color: $primary-pressed;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 16px;
      width: 48px;
      height: 48px;
      border-radius: 100%;
    }
    .x-image-account {
      padding: 16px;
      width: 81px;
      height: 81px;
      border-radius: 100%;
    }
    .x-identity {
      flex: none;
      order: 1;
      flex-grow: 1;
      margin-top: 6px;
    }
  }
  .x-icon-post-button {
    background: url($icon-post-button) center no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: flex;
    @include user-select-none;
    cursor: pointer;
  }
  .x-delete-wrapper {
    position: relative;
    margin-left: auto;
    padding-right: 12px;
    .x-delete {
      position: absolute;
      width: max-content;
      z-index: 2;
      right: 6px;
      top: 28px;
      background-color: $neutral-old-10;
      border-radius: 4px;
      filter: drop-shadow($shadow-1);
      display: flex;
      margin-top: 2px;
      .x-delete-detail {
        margin: 0px 8px;
        display: inline;
        align-items: center;
        .x-icon-delete {
          background: url($icon-delete) center no-repeat;
          background-size: contain;
          width: 14px;
          height: 16px;
          @include user-select-none;
          cursor: pointer;
        }
      }
    }
  }
  .x-post-content {
    margin: 0px 16px;
    .x-post-image {
      width: 100%;
      margin-bottom: 16px;
      box-shadow: $shadow-2;
      object-fit: cover;
      cursor: pointer;
    }
    .x-post-video {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      filter: drop-shadow($shadow-2);
    }
    .x-post-cardvid {
      width: 100%;
      height: max-content;
      background-color: $neutral-old-10;
      border: 1px solid $neutral-10;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      margin-bottom: 16px;
      filter: drop-shadow($shadow-2);
      h1 {
        margin: 8px;
      }
    }
    .x-post-col {
      display: flex;
      .x-post-imgcol {
        width: 25%;
        border: 1px solid $neutral-10;
        box-sizing: border-box;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        margin-bottom: 16px;
        filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.12));
      }
      .x-post-cardcol {
        width: 75%;
        vertical-align: middle;
        background-color: $neutral-old-10;
        border: 1px solid $neutral-10;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.12));
        h3 {
          margin-left: 16px;
          margin-bottom: 0px;
        }
        h1 {
          margin: 0px 16px;
        }
      }
    }
    .x-post-sub {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 4px;
      background-color: $neutral-old-10;
      border: 1px solid $neutral-10;
      border-radius: 16px;
      margin-bottom: 16px;
      display: flex;
      filter: drop-shadow($shadow-2);
      .x-post-subcol {
        h3 {
          margin-left: 16px;
          margin-bottom: 0px;
        }
        h1 {
          margin: 0px 16px;
        }
      }
    }
    .x-post-ads {
      border-bottom: 96px $neutral-100;
      #x-post-iframe {
        width: 630px;
        border: 1px solid $neutral-10;
        box-sizing: border-box;
        filter: drop-shadow($shadow-2);
        border-radius: 16px;
        margin-bottom: 6px;
      }
    }
  }
  .x-separator-post {
    width: calc(100%);
    height: 1px;
    background-color: $neutral-20;
    margin-top: 16px;
  }
  .x-footer-feeds {
    background: $base-30;
    border-radius: 0px 0px 8px 8px;
    padding: 8px 2px;
    .x-footer-feeds-input {
      padding: 8px 0px;
      .active {
        color: $neutral-old-80;
      }
      .inactive {
        color: $neutral-60;
      }
    }
  }
}
