.x-groupchat {
  // width: 100%;
  height: calc(100vh - 84px);
  .x-contact-list-container {
    width: 360px;
    height: inherit;
    background-color: var(--base-20);
    position: relative;
    .contact-card-container {
      display: flex;
      justify-content: space-between;
      // margin-bottom: 8px;
      .contact-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .x-wrapper-content {
          display: flex;
          .img-container {
            img {
              object-fit: cover;
              margin: 8px;
              width: 48px;
              height: 48px;
              border-radius: 100%;
              margin: 0;
            }
          }
          .contact-body {
            margin-left: 8px;
            align-items: center;
            h3 {
              font-weight: 700;
              font-size: 15px;
              line-height: 120%;
              color: var(--neutral-80);
            }
            p {
              font-weight: 450;
              font-size: 13px;
              line-height: 16px;
              color: $neutral-50;
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .empty-contact {
      margin: 146px 96px;
    }
    .x-header-top {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 18px;
      h3 {
        @include heading-md-bold;
        color: $primary-110;
        margin: 0;
      }
      .x-icon-back {
        background: url($icon-back) center no-repeat;
        background-size: contain;
        width: 20px;
        height: 20px;
        margin-right: 60px;
        margin-left: 15px;
        @include user-select-none;
        cursor: pointer;
        position: absolute;
        left: 0;
        bottom: 24px;
      }
    }
    .x-add-member {
      padding: 16px 0px;
      .x-add {
        padding: 9px;
        margin-left: 15px;
        background-color: $neutral-old-80;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        justify-content: center;
        display: flex;
      }
    }
    .x-delete-member {
      cursor: pointer;
      .x-close {
        padding: 4px;
        // margin-left: 180px;
        background-color: $neutral-80;
        border-radius: 100%;
        width: 23px;
        height: 23px;
        justify-content: center;
        display: flex;
      }
    }
    .x-list-wrapper {
      overflow-y: scroll;
      @include overflow-bar-none;
      height: calc(100% - 443px);
      padding-bottom: 65px;
    }
    .contact-list {
      padding: 16px;
      .contact-card-container {
        display: flex;
        justify-content: space-between;
        // margin-bottom: 8px;
        .contact-wrapper {
          display: flex;
          .img-container {
            img {
              object-fit: cover;
              margin: 8px;
              width: 48px;
              height: 48px;
              border-radius: 100%;
              margin: 0;
            }
          }
          .contact-body {
            margin-left: 12px;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            h3 {
              font-weight: 700;
              font-size: 15px;
              line-height: 120%;
              color: var(--neutral-80);
            }
            p {
              font-weight: 450;
              font-size: 13px;
              line-height: 16px;
              color: $neutral-50;
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .x-divider {
      width: calc(100% - 40px);
      margin-left: 20px;
      height: 1px;
      background-color: $primary-pressed;
      opacity: 0.1;
    }
    .x-btn-wrapper {
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px;
      bottom: 0;
    }
    .x-btn-create {
      width: 120px;
    }
  }
}

.checkbox-round {
  width: 1em;
  height: 1em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: $neutral-old-80;
}

.x-empty-image {
  background-color: $primary-pressed;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 8px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.msg-hr {
  height: 2px;
  width: 100%;
  background-color: rgba(33, 92, 122, 0.1);
  background: rgba(33, 92, 122, 0.1);
  color: rgba(33, 92, 122, 0.1);
}
