.x-headerlv0-wrapper {
  .x-logo {
    background: url($img-logo-indigo) center no-repeat;
    width: 135px;
    height: 32px;
    background-size: contain;
    cursor: pointer;
    @include media-breakpoint-down(lg) {
      width: 92px;
      height: 37px;
    }
  }
  .x-menu-wrapper {
    display: flex;
    cursor: pointer;
    @include user-select-none;
    .x-menu {
      display: flex;
      justify-content: flex-start;
      padding: 0 0 0 25px;
      @include media-breakpoint-down(lg) {
        padding: 0 0 0 0;
      }
      .x-route {
        display: flex;
        justify-content: center;
        position: relative;
        padding-bottom: 5px;
        padding-top: 10px;
        padding-left: 0;
        padding-right: 0;
        text-decoration: none;
        color: $neutral-old-80;
        height: 40px;
        p {
          @include text-lg-normal;
          margin: 0;
        }
        // &.active {
        //   color: $semantic-main;
        // }
      }
      .x-active-divider {
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 100%;
        background: $semantic-main;
        border-radius: 20px;
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
    }
  }
  .x-header-welcome {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    @include media-breakpoint-only(sm) {
      .btn-secondary {
        display: none;
      }
      justify-content: center;
    }
    .x-eventeer-logo {
      background: url($img-logo-eventeer) center no-repeat;
      background-size: contain;
      width: 215px;
      height: 40px;
      cursor: pointer;
      @include media-breakpoint-only(sm) {
        width: 195px;
      }
    }
  }
  .navbar-toggler {
    background-color: $primary-10;
    border: none;
    height: 46px;
  }
}
