.x-headerlv1-wrapper {
  background: $base-50;
  width: 100%;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  box-shadow: $shadow-4;
  top: 0;
  left: 0;
  z-index: 50;
  .x-logo-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 25px;
    .x-logo-indigo {
      background: url($img-logo-indigo) center no-repeat;
      background-size: contain;
      width: 135px;
      height: 36px;
      @include user-select-none;
      cursor: pointer;
    }
  }
  .x-button-search {
    width: 83px;
    height: calc(1.5em + 0.75rem + 2px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
  }
  .x-icon-menu {
    position: relative;
    cursor: pointer;
    padding: 6px;
    border-radius: 8px;
    &.active {
      background-color: $semantic-focus;
    }
    .x-unread-count {
      position: absolute;
      right: -6px;
      top: -4px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $semantic-main;
      border-radius: 40px;
      width: 20px;
      height: 20px;
      span {
        color: $base-50;
        @include text-sm-normal;
      }
    }
  }
  .x-profile-wrapper {
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    @include user-select-none;
    cursor: pointer;
    img {
      width: 36px;
      height: 36px;
      display: block;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
    }
    span {
      color: $neutral-650;
      font-weight: 600;
    }
  }
  .x-profile-expand {
    position: absolute;
    right: 70px;
    top: 70px;
    z-index: 50;
    max-width: 380px;
  }
  .x-notification-expand {
    box-shadow: $shadow-4;
    border-radius: 8px;
    width: 304px;
    background-color: $neutral-old-10;
    position: absolute;
    right: 180px;
    top: 70px;
    .x-header-notification {
      margin: 0;
      height: 44px;
      background-color: $semantic-surface;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    .x-menu-notification {
      margin: 0;
      height: 42px;
      border: 1px solid $semantic-surface;
      @include user-select-none;
      .active {
        color: $neutral-old-80 !important;
      }
      .x-divider {
        width: 100%;
        height: 2px;
        margin: 0;
        &.active {
          background-color: $neutral-old-80 !important;
        }
      }
    }
    .x-activity-list {
      padding: 6px 0;
      .x-activity {
        width: 100%;
        margin: 0;
        padding: 8px 0;
        display: flex;
        align-items: center;
        .x-rounded-icon {
          width: 36px;
          height: 36px;
          border-radius: 100%;
          border: 1px solid $neutral-10;
          background-color: $base-20;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            font-size: 18px;
            color: $neutral-60;
          }
        }
        .btn-primary {
          @include text-sm-normal;
          padding: 0 16px;
          border-radius: 4px;
        }
      }
    }
  }
}
