.x-input-otp {
  .x-otp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .form-control {
      border: 2px solid $neutral-40;
      border-radius: 8px;
      text-align: center;
      padding: 0;
      &.x-input-mobile {
        @include heading-sm-normal;
        height: 40px;
      }
      &.x-input-normal {
        @include heading-md-normal;
        height: 52px;
      }
    }
  }
  .x-error-sign {
    height: 30px;
  }
}
