.x-input-select {
  margin-bottom: 0.25rem;
  span {
    color: $neutral-40;
  }
  .x-icon {
    position: absolute;
    right: 4px;
    height: 100%;
    display: flex;
    align-items: center;
    .material-icons-round {
      color: $neutral-80;
      font-size: 24px;
      cursor: pointer;
      @include user-select-none;
      padding: 0 1px;
      &.x-icon-close {
        font-size: 20px;
      }
    }
  }
  .x-suggestion-wrapper {
    border: 1px solid $neutral-10;
    width: 100%;
    position: absolute;
    // top: 2.75rem;
    top: calc(1.5em + 0.75rem + 3px);
    z-index: 10;
    background: $neutral-old-10;
    .x-suggestion-data {
      display: flex;
      align-items: center;
      p {
        @include text-lg-light;
        margin: 0;
        cursor: pointer;
        width: 100%;
        padding: 5px 25px;
        user-select: none;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
      }
      &:hover {
        background: $semantic-surface;
      }
    }
  }
  .x-danger-text {
    @include text-md-normal;
    color: $semantic-danger-main;
    a {
      @include text-md-bold;
    }
  }
  .x-underline {
    text-decoration: underline;
    font-weight: 500;
  }
}
