.x-input-password {
  span {
    color: $neutral-40;
  }
  .x-icon {
    position: absolute;
    right: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    span {
      font-size: 16px;
      color: $neutral-60;
      &.x-danger-icon {
        color: $semantic-danger-main;
      }
    }
  }
  .x-danger-text {
    @include text-md-normal;
    @include media-breakpoint-only(xs) {
      padding-top: 3px !important;
      @include text-sm-normal;
      @include line-height-sm;
    }
    color: $semantic-danger-main;
  }
  .x-underline {
    text-decoration: underline;
    font-weight: 500;
  }
}
