  .x-toggle-input {
    margin-bottom: 24px;
    .btn:hover {
      color: $neutral-100;
      border: 1px solid $neutral-40;
    }
    .btn-group {
      width: 100%;
    }
    label {
      @include text-lg-normal;
      @include media-breakpoint-only(xs) {
        @include text-md-normal;
        padding: 2px;
      }
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $neutral-40;
      background: $neutral-old-10 !important;
      color: $neutral-90;
      border-radius: 4px;
      input {
        display: none;
      }
      &.active {
        background: $semantic-main !important;
        &:hover {
          color: $base-20;
        }
      }
    }
  }
