.x-test-message {
  // width: 100vw;
  height: calc(100vh - 84px);
  overflow-y: scroll;
  @include overflow-bar-none;
  width: 100%;
  max-width: 360px;
  .x-message-list-container {
    height: 100%;
    background-color: $base-20;

    .message-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      border-bottom: 2px solid rgba(33, 92, 122, 0.1);
      height: 70px;
      position: sticky;
      top: 0;
      background-color: $base-20;
      z-index: 1;
      h3 {
        @include heading-md-bold;
        color: $primary-110;
        margin: 0;
      }
      .x-icon-add-msg {
        background: url($icon-add-message) center no-repeat;
        background-size: contain;
        width: 36px;
        height: 36px;
        @include user-select-none;
        cursor: pointer;
      }
    }

    .message-list {
      padding: 16px;
      max-height: calc(100% - 70px);
      height: 100%;
      display: flex;
      .message-card-container {
        display: flex;
        justify-content: space-between;
        // margin-bottom: 8px;
        cursor: pointer;
        .message-additional {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 2px;
          position: relative;
          width: 100px;
          button {
            color: $neutral-80;
            // color: transparent;
            background: transparent;
            height: 36px;
            width: 50px;
            position: absolute;
            right: -10px;
            top: -6px;
            &::after {
              display: none;
            }
            &:focus,
            &:active {
              outline: none !important;
              box-shadow: none;
            }
          }
          .dropdown {
            .dropdown-toggle {
              &:focus {
                box-shadow: none !important;
              }
            }
            .dropdown-menu {
              padding: 0;
              box-shadow: $shadow-2;
              border: none;
              border-radius: 8px;
              transform: translate(8px, 26px);
              z-index: 50;
              .dropdown-item {
                @include text-md-normal;
                color: $neutral-50;
                padding: 10px 18px;
                &:hover {
                  background: $semantic-surface;
                }
              }
            }
          }
          .message-time {
            font-weight: 450;
            font-size: 11px;
            line-height: 14px;
            color: var(--semantic-main);
          }
          .message-number {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 450;
            font-size: 11px;
            padding: 5px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: var(--semantic-main);
            color: $base-50;
          }
        }
      }
    }
  }
}

.x-empty-image {
  background-color: $semantic-main;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 8px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.msg-hr {
  height: 2px;
  width: 100%;
  background-color: rgba(33, 92, 122, 0.1);
  background: rgba(33, 92, 122, 0.1);
  color: rgba(33, 92, 122, 0.1);
}
