.x-member {
  .x-member-list {
    padding: 4px 0px;
    .x-edit-member {
      position: relative;
      .x-edit {
        position: absolute;
        width: max-content;
        z-index: 2;
        right: 0;
        top: 40px;
        background-color: $neutral-old-10;
        border-radius: 0px 0px 4px 4px;
        filter: drop-shadow($shadow-1);

        .x-make-admin {
          &:hover {
            background-color: $semantic-surface;
          }
        }
        .x-remove-group {
          &:hover {
            background-color: $semantic-surface;
          }
        }
      }
    }
    .x-image-account {
      width: 52px;
      height: 52px;
      border-radius: 100%;
    }
    .x-empty-image {
      background-color: $primary-pressed;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 52px;
      height: 52px;
      border-radius: 100%;
    }
    .x-member-des {
      .x-icon-badge {
        background: url($icon-badge) center no-repeat;
        background-size: contain;
        width: 14px;
        height: 14px;
        justify-content: center;
        @include user-select-none;
        cursor: pointer;
      }
      .x-dot {
        background: $neutral-old-80;
        width: 2px;
        height: 2px;
        border-radius: 100%;
      }
    }
  }
}
