.x-message {
  width: 100%;
  display: flex;
  height: calc(100vh - 84px);
  .x-empty-message {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .x-ic-eventeer {
      background: url($icon-eventeer-grey) center no-repeat;
      background-size: contain;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px;
    }
    p {
      text-align: center;
    }
  }
}
