.x-input-share {
  text-align: start;
  .x-tag-interest {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #F5FCFF;
    margin: 3px;
    padding: 4px 8px;
    border-radius: 4px;
    span {
      cursor: pointer;
      font-size: 14px;
      color: $neutral-old-80;
    }
  }
    .x-share {
      border: 1px solid $neutral-20;
      box-shadow: 0px 4px 6px rgba(69, 91, 99, 0.08);;

      box-sizing: border-box;
      border-radius: 8px;
      .x-image-share{
        width: 48px;
        height: 48px;
        border-radius: 100%;
        object-fit: cover;
      }

      .x-reshare-info {
        padding: 16px 0;
      }
      .x-share-decsrip {
        padding: 16px 0px;
        align-self: stretch;
        text-align: start;
      }
      .x-profile-img {
        padding: 16px 0px;
        width: 48px;
        height: max-content;
        margin-left: 16px;
      }
      .x-input-caption-nonborder {
        height: max-content;
        margin: 0px 16px;
        display: flex;
        order: 1;
        flex-grow: 1;
        textarea {
          outline: none;
          border: none;
        }
      }
    }
  }
