.x-like-user {
  width: max-content;
  .x-icon-close {
    background: url($icon-close) center no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    margin-left: 200px;
  }
  .x-separator {
    width: calc(100%);
    height: 1px;
    background-color: $neutral-20;
  }
  .x-post-header {
    height: min-content;
    display: flex;
    .x-image-account {
      width: 48px;
      height: 48px;
      border-radius: 100%;
    }
    .x-identity {
      text-align: left;
    }
  }
}

.x-tag-location {
  padding: 10px 24px;
  border: 1px solid $neutral-10;
  border-radius: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px 4px;
  box-shadow: $shadow-1;
}
.activeLoc {
  background: $neutral-old-80;
  color: $neutral-old-10;
}
.inactiveLoc {
  background: $neutral-old-10;
  color: $neutral-70;
}
