.x-wrapper-modal {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 999;
	overflow: hidden;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.493);
	transition: 2s ease-in;

	.x-tools {
		position: fixed;
		top: 0;
		left: 0;
		padding: 30px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		height: 70px;
		z-index: 999;
		gap: 10px;

		.x-button-tool:hover {
			background-color: rgba(128, 128, 128, 0.281);
			transition: 0.5s;
		}

		.x-button-tool {
			cursor: pointer;
			background-color: transparent;
			border-radius: 100%;
			transition: 0.5s;

			.x-zoom-in {
				background: url($icon-zoom-in) center no-repeat;
				width: 40px;
				height: 40px;
			}
			.x-zoom-out {
				background: url($icon-zoom-out) center no-repeat;
				width: 40px;
				height: 40px;
			}

			.x-zoom-reset {
				background: url($icon-reset-zoom) center no-repeat;
				width: 40px;
				height: 40px;
			}

			.x-close-modal-zoom {
				background: url($icon-close-zoom-modal) center no-repeat;
				width: 40px;
				height: 40px;
			}
		}
	}

	// class bawaan react-zoom-pan-pinch
	.transform-component-module_wrapper__1_Fgj {
		width: 80%;
		height: 100%;
		object-fit: cover;

		// class bawaan react-zoom-pan-pinch
		.transform-component-module_content__2jYgh {
			width: 100%;
			height: 100%;
			display: flex !important;
			justify-content: center !important;
			align-items: center !important;

			img {
				object-fit: cover;
				height: 100%;
				width: auto;
			}
		}
	}
}
