.modal{
    .my-modal{
        width: 40%;
        max-width: none!important;
        // height: 700px;
        // max-height: 800px;
    }
.modal-header-speaker {
    display: unset;
    .x-icon-closedetail {
      background: url($icon-close) center no-repeat;
      background-size: contain;
      width: 32px;
      height: 32px;
  } 
}
.x-detail{
    .x-bg-image{
        img{
            // background: url($img-bg-detail-speaker) center no-repeat ;
            position: relative;
            width: 100%;
            height: 180px;
            // object-fit: cover;
            // box-shadow: 0px 1px 2px rgb(0, 0, 0.12);
            // left: -8.6%;
            // z-index: 0;
        }
    }
    .x-image-speaker{
       margin-top: -130px;
    img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    
    
    }
    }
    .x-session-card{
        .x-session-img{
            img{
                border-radius: 6px;
                width: 100%;
                height: 120px;
                object-fit: cover;
                // box-shadow: 0px 1px 2px rgb(0, 0, 0.12);
            }
        }
        .x-session-title{
            padding-left: 8px;
        }
        .x-session-speaker{
            padding-left: 8px;
        }
        // .x-button-join{
           
        // }
    }
}
.modal-footer-detail{
    display: unset;

.x-about-speaker{
    padding-bottom: 5px;
}
}
}
