.x-icon-success {
    background: url($icon-delete-success) center no-repeat;
    background-size: contain;
    width: 236px;
    height: 236px;
    @include media-breakpoint-only(xs) {
      width: 194px;
      height: 194px;
    }  
} 
.x-icon-blocked{
    background: url($icon-blocked) center no-repeat;
    background-size: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    @include media-breakpoint-only(xs) {
      width: 94px;
      height: 94px;
    }  
}

.x-icon-success-delete{
  background: url($icon-post-success) center no-repeat;
  background-size: contain;
  height: 150px;
  @include media-breakpoint-only(xs) {
    width: 94px;
    height: 94px;
  }  
}

.x-icon-post{
  background: url($icon-post-success) center no-repeat;
  background-size: contain;
 
  height: 150px;
  @include media-breakpoint-only(xs) {
    width: 94px;
    height: 94px;
  }  
}