.x-input-post {
  .x-reshare {
    border: 1px solid $neutral-20;

    box-sizing: border-box;
    border-radius: 8px;
    .x-image-reshare{
      width: 48px;
      height: 48px;
      border-radius: 100%;
      object-fit: cover;
    }
    .x-reshare-info {
      padding: 16px 0;
    }
    .x-reshare-decsrip {
      padding: 0px 16px;
      align-self: stretch;
      text-align: start;
    }
    .x-profile-img {
      padding: 16px 0px;
      width: 48px;
      height: max-content;
      margin-left: 16px;
    }
    .x-input-caption-nonborder {
      height: max-content;
      margin: 0px 16px;
      display: flex;
      order: 1;
      flex-grow: 1;
      textarea {
        outline: none;
        border: none;
      }
    }
  }
}
