
.x-postcard-section {
  padding: 12px;
  .x-postcard {
    border: 1px solid $neutral-20;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    // img {
    //   margin-top: 4px;
    //   width: 48px;
    //   height: 48px;
    //   border-radius: 100%;
    // }
    .x-empty-image {
      background-color: $primary-pressed;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 4px;
      width: 48px;
      height: 48px;
      border-radius: 100%;
    }
    .btn-primary {
      margin-top: 4px;
      width: 64px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .x-banner {
      min-width: 100%;
      height: 355px;
      border-radius: 8px;
      object-fit: cover;
      margin: 8px 0 0;
    }
    .x-divider {
      width: 100%;
      height: 1px;
      background-color: $neutral-20;
      margin: 16px 0;
    }
    .x-tag-wrapper {
      gap: 16px;
      display: flex;
      flex-wrap: wrap;
      padding: 16px;
      .x-tag-label {
        background-color: $base-30;
        border-radius: 4px;
        p {
          padding: 4px 8px;
        }
      }
    }
    .x-footer-wrapper {
      display: flex;
      align-items: center;
      height: 52px;
      background-color: $base-30;
      span {
        font-size: 18px;
        margin-right: 5px;
      }
      .x-icon-reshare {
        background: url($icon-reshare) center no-repeat;
        background-size: contain;
        height: 16px;
        width: 14px;
      }
    }

  }
}
