.x-sidenavbar-wrapper {
  width: 100%;
  max-width: 288px;
  margin-right: 8px;
  height: calc(100vh - 84px);
  position: sticky;
  top: 84px;
  left: 0;
  overflow-y: scroll;
  @include overflow-bar-none;
  white-space: nowrap;
  background-color: $base-20;
  @include user-select-none;
  .x-sidebar-content {
    padding: 24px 0;
    .x-event-action {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 8px;
      padding-bottom: 22px;
      .x-selected-event {
        width: 189px;
        border-radius: 8px;
        padding: 14px 16px;
        box-shadow: $shadow-1;
        background-color: $semantic-main;
        display: flex;
        justify-content: center;
        flex-direction: column;
        white-space: break-spaces;
        cursor: pointer;
        @include user-select-none;
      }
      .x-add-event {
        width: 51px;
        border-radius: 8px;
        box-shadow: $shadow-1;
        background-color: $neutral-10;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @include user-select-none;
        span {
          font-size: 30px;
          color: $semantic-main;
          margin: 0;
        }
      }
    }
    .x-navbar {
      padding-left: 44px;
      .x-navbar-menu {
        align-items: center;
        color: $semantic-pressed;
        padding-bottom: 28px;
        .x-navbar-submenu {
          margin: 0;
          padding-left: 32px;
          padding-top: 5px;
          .active {
            color: $semantic-pressed !important;
            font-weight: 600;
          }
        }
        .active {
          color: $semantic-main;
        }
      }
    }
  }
}
.x-modalevent-card {
  max-width: 411px;
  width: 100%;
  border: 1px solid $neutral-10;
  box-shadow: $shadow-1;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
  @include user-select-none;
  .x-event-image {
    width: 72px;
    height: 72px;
    border-radius: 4px;
    object-fit: cover;
  }
  .x-vendor-image {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 10px;
    object-fit: cover;
  }
  .x-radio-icon {
    width: 18px;
    height: 18px;
    background-color: $neutral-30;
    border-radius: 100%;
    &.active {
      border: 6px solid $semantic-main;
      background-color: $neutral-old-10;
    }
  }
}
