.x-sidebar-wrapper {
  width: 60px;
  .x-sidebar {
    width: 60px;
    height: 100%;
    position: fixed;
    background-color: $primary-pressed;
    z-index: 100;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    .x-backhandler {
      width: 32px;
      height: 32px;
      padding: 0;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .x-event {
      width: 32px;
      height: 32px;
      background: $neutral-20;
      opacity: 0.6;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 16px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      @include user-select-none;
      &.active {
        opacity: 1;
        background: $neutral-old-10;
      }
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}
