.x-tab-bar {
  .x-tab {
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: $neutral-500;
    p {
      width: 50%;
      cursor: pointer;
      @include heading-sm-bold;
      height: 36px;
      border-bottom: 1px solid $neutral-10;
      &.active {
        color: $semantic-main;
        border-bottom: 3px solid $semantic-main;
        display: inline-block;
      }
    }
  }
  }
